﻿<footer id="footer-checkout">
    <div id="footer-institucional">
        <div class="container">
            <div id="footer-payments" class="d-md-flex justify-content-between">

                <div class="col-contacts">
                    <h5 class="title-footer">Central de Atendimento</h5>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <span class="icon">
                                <i class="fas fa-phone-volume"></i>
                            </span>
                            <span class="details">
                                (11) 5831-6666
                            </span>
                        </li>
                        <li class="list-inline-item">
                            <span class="icon">
                                <i class="fab fa-whatsapp"></i>
                            </span>
                            <span class="details">
                                (11) 98933-2233
                            </span>
                        </li>
                    </ul>
                </div>
                <div class="col-payments">
                    <h5 class="title-footer">Pague com</h5>
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item">
                            <img src="/arquivos/formas-pagamento.png?v=636875641386330000" width="277" height="31" alt="Formas de Pgamento"
                                class="img-fluid">
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container">
            <div class="d-md-flex align-items-center justify-content-between">
                <div>
                    <p>H2O PURIFICADORES E REFIL DE ÁGUA EIRELI - CNPJ: 18.652.408/0001-03 © Todos os direitos
                        reservados. 2019</p>
                </div>
                <ul class="list-inline list-unstyled">
                    <li class="list-inline-item">
                        <a href="https://vtex.com" target="_Blank" title="VTEX">
                            <img src="/arquivos/vtex.png?v=636875641456030000" alt="VTEX" width="74" height="25" class="img-fluid">
                        </a>
                    </li>
                    <li class="bar list-inline-item"></li>
                    <li class="list-inline-item">
                        <a href="https://admake.com.br" target="_Blank" title="Admake">
                            <img src="/arquivos/admake.png?v=636875641378700000" alt="Admake" width="74" height="15"
                                class="img-fluid">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>