﻿<div id="header-checkout">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" />
        <div class="container">
            <div class="content align-items-center d-flex justify-content-between">
                <div class="col-logo">
                    <a href="/" title="Chefstock" id="logo">
                        <img src="/arquivos/h2o-purificadores.png?v=636875641406030000" alt="H2O Purificadores" width="105" height="60" class="img-fluid">
                    </a>
                </div>
                <div class="col-contact hidden-xs hidden-sm">
                    <ul class="list-inline list-unstyled">
                        <li class="list-inline-item"><i class="fas fa-phone-volume"></i> (11) 5831-6666</li>
                        <li class="list-inline-item"><i class="fab fa-whatsapp"></i> (11) 98933-2233</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    