body{
    padding-top: 0;
    position: relative;
    min-height: 100vh;
    padding-bottom: 300px;
}
body header{
    background: #FFFFFF;
    padding: 20px;
    border-bottom: 5px solid #0182C6;
    margin-bottom: 20px;
}

footer {
    background: #eaeaf1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

footer .infos {
    display: flex;
    max-width: 1280px;
    margin: auto;
    padding: 15px 0;
}

footer .selos { width: 25% }

footer .contatos strong{
    font-weight: bold;
}
footer .pgtos { 
    width: 50%; 
    margin-top: 8px;
}
footer .selos {
    text-align: right;
    width: 50%; 
}
footer .selos img {
    max-width: 90px;
    max-height: 85px;
    margin-left: 10px;
}
footer .copy {
    text-align: center;
    display: block;
    background: #16314F;
    padding: 20px;
    color: #fff;
    line-height: 18px;
}
footer .copy p{
    margin: 0;
    text-transform: uppercase;
}
@media (min-width: 1200px){
    .container-cart, 
    .container-order-form {
        width: 1280px;
    }
}

h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #000;
    font-weight: bold;
    margin: 0 0 10px;
}
.step, 
.cart, 
.totalizers {
    border: 0;
    padding: 0;
}
.cart-items {
    border: 1px solid #ddd;
}
.cart-items th {
    background: #eee;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 15px 18px;
}
.cart-items .product-item {
    border-bottom: 1px solid #ddd;
}
.cart-items .product-name a {
    color: #333;
}
.cart-items tbody td {
    padding: 20px 12px;
    font-size: 14px;
}
.cart-items .list-price {
    text-decoration: line-through;
    color: #999;
}
.cart-items .best-price {
    font-weight: bold;
}
.cart-items .discount {
    display: none;
}
.quantity input {
    border-radius: 0;
    width: 90px;
    font-size: 14px;
    font-weight: bold;
    padding: 12px;
    box-shadow: none;
}
.item-quantity-change-decrement {
    position: relative;
    left: 36px;
    top: -2px;
}
.icon-minus-sign:before{
    font-size: 50px;
    line-height: 27px;
    content: " - " !important;
}
.item-quantity-change-increment{
    position: relative;
    right: 35px;
    line-height: 37px;
}
.icon-plus-sign:before{
    font-size: 30px;
    content: " + " !important;
}
td.quantity-price {
    font-size: 16px !important;
    font-weight: bold;
}
#payment-data-submit,
#go-to-payment,
button.btn-go-to-payment,
#cart-to-orderform {
    background: #35a852;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    border: 0;
    width: 100%;
    padding: 20px;
    font-size: 18px;
}
#go-to-payment{width: 100%;}

#go-to-payment:hover,
#payment-data-submit:hover,
button.btn-go-to-payment:hover,
#cart-to-orderform:hover {
    cursor: pointer;
    background: #16314F;
}
#cart-to-orderform:after {
    background: url(/arquivos/sprite.png?v=2) no-repeat -160px -111px;
    content: '';
    height: 15px;
    width: 20px;
    margin-left: 10px;
    display: inline-block;
}
tbody.shipping-calculate,
tbody.totalizers-list {
    background: #eee;
    text-transform: uppercase;
    font-size: 14px;
}
.full-cart .postal-code-for-sla {
    font-size: 14px;
}
.full-cart .summary-totalizers {
    margin-bottom: 5px;
    padding: 0;
}
.full-cart .summary-totalizers .info,
.full-cart .summary-totalizers .monetary {
    padding: 15px;
    text-align: left;
}
.full-cart .summary-totalizers .empty {
    width: 0;
    padding: 0;
}
tfoot {
    background: #c7dacc;
    text-transform: uppercase;
}
.full-cart .summary-totalizers tfoot .monetary,
.full-cart .summary-totalizers tfoot .info {
    padding: 20px;
}
.postal-code-value {
    font-weight: bold;
    font-size: 15px;
}
#summary-postal-code {
    border-radius: 1px;
    box-shadow: none;
    padding: 10px 20px 8px;
    font-size: 14px;
    letter-spacing: 0.5px;
}
#cart-shipping-calculate {
    background: #777;
    border: 0;
    border-radius: 0;
    color: #fff;
    text-transform: unset;
    text-shadow: none;
    padding: 9px;
    margin-left: -5px;
}
.shipping-fields {
    position: absolute;
    left: 120px;
}
.summary-postal-code-service {
    position: relative;
    right: -85px;
    top: 0;
    width: 100px;
    padding: 10px;
}

#cart-dont-know-postal-code {
    color: #333;
    font-size: 11px;
    text-decoration: underline;
}
#cart-dont-know-postal-code:hover {
    text-decoration: none;
}
.shipping-options p {
    color: #555 !important;
}
#cart-link-coupon-add {
    background: #16314F;
    color: #fff;
    padding: 15px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
body .summary-coupon {
    margin-left: 0;
}
.cart-active .summary-coupon {
    margin: 15px -70px 0 0 !important;
}
#cart-choose-more-products {
    background: #777;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
    padding: 15px;
    width: 230px !important;
    display: inline-block;
    text-align: center;
    display: none;
}
.accordion-heading, 
.mini-cart h2 {
    background: #eee;
    padding: 5px 8px 10px;
    border-radius: 0;
    text-align: left;
}
.accordion-heading span {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 30px;
}
i.icon-edit {
    color: #0270b1;
    font-size: 23px;
}
.accordion-toggle .link-box-edit {
    right: -5px;
    top: 3px;
    background: transparent;
    border: 0;
}
.mini-cart .link-cart,
.client-notice {
    display: none;
}
.step .text label, 
.step .select label {
    text-transform: uppercase;
    color: #333;
}
#client-profile-data, 
#shipping-data, 
#payment-data {
    border: 1px solid #ddd;
    margin-bottom: 25px;
}
#payment-data {
    border-color: #35a852;
}
#payment-data .accordion-heading {
    background: #c7dacc;
}
.accordion-inner {
    padding: 20px 20px 1px;
}
.step .text input {
    border-radius: 0;
    border-color: #c4d6e0;
    box-shadow: none;
    padding: 10px;
    font-size: 14px;
}
.input {
    margin-bottom: 20px;
}
.accordion-heading i {
    font-size: 20px;
    margin-right: 10px;
}
#is-corporate-client {
    background: #eee;
    font-size: 14px;
    color: #333;
    letter-spacing: 0.5px;
    width: 100%;
    display: inline-block;
    padding: 8px 13px;
}
.newsletter {
    margin: 20px 0;
}
.newsletter-label {
    font-size: 14px;
}
.box-info {
    color: #555;
    font-size: 14px;
    line-height: 22px;
}
.notification {
    font-size: 14px;
    padding: 10px 0;
}
.delivery-shipping-options h4 .pull-left {
    font-size: 14px;
}
.address-shipping-options {
    background: #eee;
    padding: 5px 20px;
    margin-bottom: 20px;
}
#force-shipping-fields,
#dont-know-postal-code,
.cancel-new-address {
    font-size: 14px;
}
.ship-filled-data {
    margin: 30px 0;
    font-size: 14px;
}
.cart-fixed {
    width: 100%;
    max-width: 343px;
}
.mini-cart h2 {
    text-transform: uppercase;
    padding: 15px 20px;
    color: #000;
    letter-spacing: .5px;
    border: 1px solid #ddd;
    border-bottom: 0;
}
.cart-template.mini-cart {
    margin: 0 0 0 20px;
}
.mini-cart .item {
    border: 0;
    padding: 10px 3px;
    border-bottom: 1px solid #ddd;
}
.mini-cart .cart-items {
    border: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
    overflow: hidden;
}
.mini-cart .item .fn {
    font-size: 13px;
    color: #333;
}
.mini-cart .cart-items {
    border: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    width: 100%;
}
.mini-cart .cart {
    padding: 2px 2px 0 0;
    margin: -3px 0 24px 0;
    max-height: 300px;
}
.mini-cart .summary-template-holder {
    background: transparent;
    border: 0;
    padding: 0;
}
.mini-cart .table td {
    padding: 15px;
    font-size: 14px;
    color: #333;
    letter-spacing: .5px;
}
.mini-cart .table tr {
    border-bottom: 1px solid #ddd;
}
.mini-cart .table tfoot td {
    padding: 20px;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    text-shadow: none;
}
.payment-group-item-text {
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
}
.payment-group-list-btn {
    width: auto;
}
#payment-data .accordion-inner {
    padding: 20px;
}
.box-payment-option {
    font-size: 14px;
    color: #333;
}
.payment-group-item {
    border: 0;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 5px 20px;
}
.payment-group {
    margin-top: 0;
}
.payment-group-item.active{
    margin-left: 5px;
    background-color: #e6e6e6;
}
label.FormFieldLabel {
    color: #333;
    font-size: 14px;
}

.cart-links-bottom{
    max-width: 460px;
    width: 100%;
}
.coupon.summary-coupon {
    width: 100% !important;
}
.coupon-column.summary-coupon-wrap {
    margin-bottom: 35px;
}
.coupon-data {
    width: 100%;
    text-align: center;
}
#checkout-confirmation-top {
    text-align: center;
    margin: 20px 10px 0;
}

@media(max-width: 767px){
    body,
    .body-cart {
        padding: 0;
    }
    body .container {
        padding: 0 10px !important;
    }
    footer .infos {
        padding: 0 20px;
        display: block;
    }
    footer .contatos{
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
    footer .pgtos {
        width: 100%;
        margin: 20px 0;
    }
    footer .selos {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    footer .selos img {
        max-width: 75px;
        max-height: 70px;
    }
    .copy {
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    
    body .container h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }
    header .header {
        margin-bottom: 5px;
    }
    .accordion-heading span {
        font-size: 14px;
    }
    fieldset.box-client-info-pf {
        width: 100%;
    }
    input#client-email {
        padding: 20px 10px !important;
    }
    label{
        font-size: 12px;
    }
    .payment-data .payment-group a {
        width: auto;
        border: 1px solid #eee;
        margin-bottom: -1px;
        border-radius: 0;
    }
    #holder-document-0 {
        padding: 10px;
        border-radius: 0;
        box-shadow: none;
        font-size: 14px;
    }
    .cart-template.mini-cart {
        margin: 0;
    }
    .full-cart .cart table{
        width: 99%;
    }
    .full-cart .cart table tbody tr td.product-name a {
        padding-right: 25px;
    }
    .item-link-remove {
        position: relative;
        left: -10px;
    }
    .full-cart .cart table tbody tr + tr {
        border-top: 0;
        padding-top: 0;
    }
    .item-quantity-change {
        float: none;
        position: absolute;
    }
    .item-quantity-change-increment {
        right: -8px;
        top: -4px;
    }
    .item-quantity-change-decrement {
        left: 12px;
        top: -3px;
    }
    .quantity input {
        width: 75px !important;
        padding: 8px 10px;
    }
    td.quantity {
        position: relative;
    }
    .full-cart .summary-totalizers .monetary {
        text-align: right;
    }
    .full-cart .summary-totalizers .info {
        padding-right: 0;
    }
    .shipping-fields {
        position: relative;
        left: 30px;
    }
    .summary-postal-code-service {
        right: -115px;
    }
    #cart-to-orderform {
        width: auto;
    }
    .full-cart .summary-totalizers tfoot .monetary,
    .full-cart .summary-totalizers tfoot .info{
        padding: 25px 15px;
    }
    .full-cart .postal-code-for-sla {
        font-size: 13px;
    }
    #payment-data .accordion-inner {
        padding: 10px;
    }
    .input-mini,
    .PaymentCardNumber input, 
    .PaymentCardHolderName input,
    .PaymentCardCVV input {
        border-radius: 0;
        box-shadow: none;
        padding: 2px 6px;
        height: 32px;
    }
    .PaymentCardHolderName,
    .PaymentInstallments {
        margin-bottom: 15px;
    }
    .mini-cart .table tfoot td {
        padding: 20px 10px;
    }
    .mini-cart .table td{
        float: none;
    }
    .mini-cart .price {
        margin-right: 10px;
        color: #333;
    }
    .payment-confirmation-wrap {
        border: 0;
    }
    .mini-cart .summary .summary-totalizers {
        margin-bottom: 0;
    }
    .card-flags label {
        padding: 0 10px 5px;
    }
    .cart-fixed {
        max-width: 100%;
    }
    .cart-fixed {
        height: auto !important;
    }

}
.payment-ame-instructions-steps {
    color: #fff;
    font-size: 14px;
}
.item-attachment.item-attachment-name-arquivobanner {
    display: none;
}