/** RESETS **/
body{
    line-height: 1;
    -webkit-font-smoothing: initial;
    -moz-osx-font-smoothing: initial;
    @media( max-width: 767px ){
        padding: 0!important;
        .container .container{
            padding-left: 0!important;
            padding-right: 0!important;
        }
    }
}
html{
    overflow-x: hidden;
}
html, body, div, span, applet, object, iframe, h1, h2, h3,
h4, h5, h6, p, blockquote, pre, a, abbr, acronym,
address, big, cite, code, del, dfn, em, font, img, ins,
kbd, q, s, samp, small, strike, strong, sub, sup, tt,
var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus { outline: 0 !important;}
a, a:link, a:visited, a:hover, a:active, button, input[type="button"], input[type="submit"]{
    @extend %transition;
    text-decoration: none !important;
}
table { border-collapse: separate;border-spacing: 0;}
th, td {text-align: left; font-weight: normal;}
img, iframe {border: none; text-decoration:none;}
ol, ul, ul li{list-style: none;}
input, textarea, select, button {font-size: 100%;font-family: inherit;}
select {margin: inherit;}
hr {margin: 30px 0; padding: 0;border: 0;color: $colorBorder;background-color: $colorBorder;height: 1px}
div#ajaxBusy{display: none !important}
/** FIM RESETS **/

span[x-apple-data-detectors],a[x-apple-data-detectors] {
    color: inherit !important;
    text-decoration: none !important;
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}
a[href^=tel] { color: inherit; text-decoration: none; }

#footer-payments .details > span{
    color: #fff!important;
    display: block;
}

@media screen and (min-width: 40em){
    .w-20-m {
        width: 20%!important;
    }
}
.admake-alert-float{
    position: fixed;
    bottom: 20px;
    transform: translateX(-50%);
    left: 50%;
    z-index: 9999;
    width: auto;
    min-width: 300px;
}