/** VARIABLES **/
// ---------------------------------------------

// main
$store             : 'graficaonixx';
$fontFamily        : 'Asap', sans-serif;
$fontSize          : 14px;

// colors
$color1            : #16314F;
$color2            : #FFA000;
$color3            : #102339;
$color4            : #FFFFFF;
$color5            : #666666;
$color6            : #D1CCCB;
$color7            : #5ED0B0;
$color8            : #F2F6F7;
$color9            : #E5E4E3;

$colorText         : $color3;
$colorBrightGray   : $color6;
$colorDarkGray     : $color5;

$colorWhite        : #fff;
$colorBlack        : #000;

$colorPrimary      : $color1;
$colorSecondary    : $color2;

$colorBorder       : #EDEBEA;
$colorSuccess      : #00DD3E;
$colorAlert        : #FE9400;
$colorDanger       : #CF3030;

// weights
$eLight   : 400;
$light    : 400;
$regular  : 400;
$medium   : 500;
$semiBold : 600;
$bold     : 700;
$extraBold: 700;
$black    : 700;

// durations
$defaultDuration: 300ms;
$fastDuration: .1s !default;
$mediumDuration: .3s !default;
$slowDuration: .5s !default;

// browser Prefixes 
$webkit: true !default;
$moz: false !default;
$ms: false !default;
$o: false !default;

$boxShadow: 0 1px 1px 0 rgba(0,0,0,1/10);
$textShadow: 0 2px 0 rgba(0,0,0,1/10);

// breakpoints bootstrap 4
$breakpoints: (
    "phone"     :   576px,
    "phone-wide":   768px,
    "tablet"    :   992px,
    "desktop"   :   1200px,
);