﻿<div class="box-customers">
    <div class="container">
        <h2 class="title-section col-12">Nossos Clientes</h2>
        <ul class="customers d-flex align-items-center justify-content-between">
            <li class="customer-item">
                <a href="">
                    <img src="/arquivos/customer01.png" title="Cliente Gráfica Onixx" width="126" />
                </a>
            </li>
            <li class="customer-item">
                <a href="">
                    <img src="/arquivos/customer02.png" title="Cliente Gráfica Onixx" width="124" />
                </a>
            </li>
            <li class="customer-item">
                <a href="">
                    <img src="/arquivos/customer03.png" title="Cliente Gráfica Onixx" width="114" />
                </a>
            </li>
            <li class="customer-item">
                <a href="">
                    <img src="/arquivos/customer04.png" title="Cliente Gráfica Onixx" width="163" />
                </a>
            </li>
            <li class="customer-item">
                <a href="">
                    <img src="/arquivos/customer05.png" title="Cliente Gráfica Onixx" width="162" />
                </a>
            </li>
        </ul>
    </div>
</div>