﻿<div class="alert-installment">
    <svg width="30px" height="21px" viewBox="0 0 30 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Desktop-HD-2" transform="translate(-445.000000, -167.000000)" fill="#8D3A93" fill-rule="nonzero">
                <g id="noun_pay_1694884" transform="translate(445.000000, 167.000000)">
                    <g id="Group">
                        <g transform="translate(0.000000, 5.906250)" id="Rectangle">
                            <rect x="-1.31450406e-13" y="0.173455209" width="29.3081073" height="2.57853698"></rect>
                        </g>
                        <path d="M-1.31450406e-13,9.97170353 L-1.31450406e-13,18.5292292 C-1.31450406e-13,19.6251555 0.892490419,20.511077 1.9818878,20.511077 L27.3262596,20.511077 C28.4156169,20.511077 29.3081073,19.6251555 29.3081073,18.5292292 L29.3081073,9.97170353 L-1.31450406e-13,9.97170353 Z M5.67657851,16.5342035 L3.2943878,16.5342035 C2.93341827,16.5342035 2.6381378,16.2389231 2.6381378,15.8779535 C2.6381378,15.517024 2.93341827,15.2217035 3.2943878,15.2217035 L5.67657851,15.2217035 C6.03750801,15.2217035 6.33282851,15.517024 6.33282851,15.8779535 C6.33282851,16.2389231 6.03750801,16.5342035 5.67657851,16.5342035 Z M10.8806362,13.620452 L3.2943878,13.620452 C2.93341827,13.620452 2.6381378,13.3251715 2.6381378,12.964202 C2.6381378,12.6032725 2.93341827,12.307952 3.2943878,12.307952 L10.8806362,12.307952 C11.2415657,12.307952 11.5368862,12.6032725 11.5368862,12.964202 C11.5368862,13.3251715 11.2415657,13.620452 10.8806362,13.620452 Z M23.5199776,17.2626715 C22.9621811,17.2626715 22.4371891,17.09204 22.0040416,16.7967195 C21.5643654,17.098609 21.0393734,17.2626715 20.5012436,17.2626715 C19.0115433,17.2626715 17.8040656,16.0551538 17.8040656,14.5654535 C17.8040656,13.0757933 19.0115432,11.8682756 20.5012436,11.8682756 C21.0393734,11.8682756 21.5643654,12.0323381 22.0040416,12.3342275 C22.4371891,12.038907 22.9621811,11.8682756 23.5199776,11.8682756 C25.003109,11.8682756 26.2171955,13.0757933 26.2171955,14.5654535 C26.2171955,16.0551538 25.003109,17.2626715 23.5199776,17.2626715 Z" id="Shape"></path>
                        <path d="M29.3081073,2.03766347 L29.3081073,4.76764582 L-1.31450406e-13,4.76764582 L-1.31450406e-13,2.03766347 C-1.31450406e-13,0.948266025 0.892490419,0.0557756719 1.9818878,0.0557756719 L27.3262596,0.0557756719 C28.415617,0.0557756719 29.3081073,0.948266025 29.3081073,2.03766347 Z" id="Path"></path>
                    </g>
                </g>
            </g>
        </g>
    </svg>
    <span>Parcele suas compras em até <strong>6x no cartão de crédito</strong></span>
</div>