<div class="all-department-list-box d-flex align-items-start flex-wrap">
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-lanchonete.png" alt="" width="16" height="16" />
            </div>
            <div class="info">
                <h4>LANCHONETES</h4>
                <a href="/monte-sua-loja">Monte sua Lanchonete</a>
                <a href="/busca/?fq=spec_fct_134:CoccaoLanchonete">Equipamentos para Cocção</a>
                <a href="/busca/?fq=spec_fct_134:EletroportateisLanchonete">Eletroportáteis Industriais</a>
                <a href="/busca/?fq=spec_fct_134:Lanchonetes"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-restaurantes.png" alt="" width="20" height="13" />
            </div>
            <div class="info">
                <h4>RESTAURANTES</h4>
                <a href="/monte-sua-loja">Monte seu Restaurante</a>
                <a href="/busca/?fq=spec_fct_134:CoccaoRestaurante">Equipamentos para Cocção</a>
                <a href="/busca/?fq=spec_fct_134:EletroportateisRestaurante">Eletroportáteis Industriais</a>
                <a href="/busca/?fq=spec_fct_134:Restaurantes"><i class="fas fa-plus-circle"></i>VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-salgados.png" alt="" width="11" height="15" />
            </div>
            <div class="info">
                <h4>FÁBRICAS DE SALGADOS</h4>
                <a href="/monte-sua-loja">Monte sua Fábrica</a>
                <a href="/busca/?fq=spec_fct_134:CoccaoFabricaSalgados">Equipamentos para Cocção</a>
                <a href="/busca/?fq=spec_fct_134:MaquinarioFabricaSalgados">Masseira de Fazer Salgados</a>
                <a href="/busca/?fq=spec_fct_134:Máquinas de Salgados"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-padariaa.png" alt="" width="16" height="16" />
            </div>
            <div class="info">
                <h4>PADARIAS</h4>
                <a href="/monte-sua-loja">Monte sua Padaria</a>
                <a href="/busca/?fq=spec_fct_134:CoccaoPadaria">Equipamentos para Cocção</a>
                <a href="/busca/?fq=spec_fct_134:EletroportateisPadaria">Eletroportáteis Industriais</a>
                <a href="/busca/?fq=spec_fct_134:Padarias"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-supermercados.png" alt="" width="17" height="15" />
            </div>
            <div class="info">
                <h4>SUPERMERCADOS</h4>
                <a href="/monte-sua-loja">Monte seu Supermercado</a>
                <a href="/busca/?fq=spec_fct_134:MobiliarioSupermercados">Mobiliário Comercial</a>
                <a href="/busca/?fq=spec_fct_134:RefrigeraçãoSupermercados">Refrigeração Comercial</a>
                <a href="/busca/?fq=spec_fct_134:Supermercados"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-pizzarias.png" alt="" width="20" height="15" />
            </div>
            <div class="info">
                <h4>PIZZARIAS</h4>
                <a href="/monte-sua-loja">Monte sua Pizzaria</a>
                <a href="/busca/?fq=spec_fct_134:CoccaoPizzaria">Equipamentos para Cocção</a>
                <a href="/busca/?fq=spec_fct_134:MaquinarioPizzaria">Maquinário de Produção</a>
                <a href="/busca/?fq=spec_fct_134:Pizzarias"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-acougues.png" alt="" width="20" height="15" />
            </div>
            <div class="info">
                <h4>AÇOUGUES</h4>
                <a href="/monte-sua-loja">Monte seu Açougue</a>
                <a href="/busca/?fq=spec_fct_134:RefrigeraçãoAçougue">Refrigeração Comercial</a>
                <a href="/busca/?fq=spec_fct_134:MaquinarioAçougue">Maquinário de Produção</a>
                <a href="/busca/?fq=spec_fct_134:Açougues"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-carrinhos.png" alt="" width="13" height="16" />
            </div>
            <div class="info">
                <h4>CARRINHOS</h4>
                <a href="/carrinho de churrasco">Carrinho de Churrasco</a>
                <a href="/carrinho-para-agua-de-coco---alsa/p">Carrinho de Água de Coco</a>
                <a href="/carrinho hot dog">Carrinho de Hot Dog </a>
                <a href="/carrinho"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
        <div class="all-department-item d-flex align-items-start">
            <div class="icon">
                <img src="/arquivos/icon-utensilios.png" alt="" width="16" height="16" />
            </div>
            <div class="info">
                <h4>UTENSÍLIOS</h4>
                <a href="/panela">Panela de Pressão</a>
                <a href="/utensilios-de-cozinha"><i class="fas fa-plus-circle"></i> VER MAIS</a>
            </div>
        </div>
    </div>