﻿<div class="simu-calculator">
    <strong class="simu-calculator-title">Calcule a quantidade de rolos</strong>
    <span class="simu-calculator-subtitle">Digite a altura e a largura de sua parede para ver quantos rolos você irá precisar</span>

    <div class="main-calculator row">
        <div class="height-simu d-flex flex-wrap align-items-center col-sm-4 col-12">
            <span class="col-sm-6">Altura Parede</span>
            <input class="col-sm-6" type="text" name="altura" placeholder="2.50m" />
        </div>
        <div class="width-simu d-flex flex-wrap align-items-center col-sm-4 col-12">
            <span class="col-sm-6">Largura Parede</span>
            <input class="col-sm-6" type="text" name="largura" placeholder="3.50m" />
        </div>
        <div class="col-sm-4 col-12">
            <button class="btn-simu">Calcular</button>
        </div>
    </div>
    <div class="result-calculator d-none">
        <span>=</span>
        <p>Você precisa de <span class="qty-calculator"><strong></strong></span></p>
    </div>
</div>