﻿<ul class="list-unstyled list-inline">
    <li class="list-inline-item">
        <img src="/arquivos/site-seguro.png" alt="Site Seguro" width="100" height="40" class="img-fluid" />
    </li>
    <li class="list-inline-item">
        <img src="/arquivos/selo-ouro.png" alt="Selo Ouro" width="63" height="59" class="img-fluid" />
    </li>
    <li class="list-inline-item">
        <img src="/arquivos/google-safe.png" alt="Google Safe" width="109" height="32" class="img-fluid" />
    </li>
</ul>