﻿<ul class="list-inline list-unstyled">
    <li class="list-inline-item">
        <img src="/arquivos/formas-pagamento-new.png" width="509" height="35" alt="Formas de Pgamento" class="img-fluid"/>
    </li>
</ul>