﻿<ul class="list-unstyled">
    <li>
        <a href="#">Termos de Uso</a>
    </li>
    <li>
        <a href="#">Ouvidoria</a>
    </li>
    <li>
        <a href="#">Certificados de Qualidade</a>
    </li>
    <li>
        <a href="#">Atendimento</a>
    </li>
</ul>