﻿<ul class="list-unstyled list-inline d-flex align-items-center justify-content-between flex-wrap">
    <li class="col-md-6 col-12">
        <a href="#"><img src="/arquivos/sealsGoogle.png" title="Google" width="118" class="img-fluid" /></a>
    </li>
    <li class="col-md-6 col-12">
        <a href="#"><img src="/arquivos/sealsTrustVox.png" title="TrustVox - Site Sincero" width="134" class="img-fluid" /></a>
    </li>
    <li class="col-md-6 col-12">
        <a href="#"><img src="/arquivos/sealsSSL.png" title="SSL - Site Blindado" width="220" class="img-fluid" /></a>
    </li>
    <li class="col-md-6 col-12">
        <!-- <a href="#"><img src="/arquivos/sealsABCOMM.png" title="Empresa Associada ABCOMM" width="47" /></a> -->
        <a href="javascript:window.open('http://abcomm.org/certificado.php?url=graficaonixx.com.br', 'c_TW', 'location=no, toolbar=no, width=600, height=670');"><img src='http://abcomm.com.br/selo.php' width='70' border='0' class="img-fluid"></a>
    </li>
</ul>