﻿<!-- 
    Params .ad-contact

    sigla        : String   (default = CO, obs: Sigla do master data)
    store        : String   (default = '', obs: Store name da loja)

    Criar entidade no masterdata, formulario e trigger de e-mail.
-->


<div class="newsletter" data-sigla="NE" data-store="graficaonixx" data-admake="newsletter" data-element="form">
    <div class="header">
        <img src="/arquivos/icon-newsletter-mail.png" title="NewsLetter" alt="NewsLetter" />
        <h3>Newsletter</h3>
        <p>Cadastre seu email e receba novidades <br/> e ofertas exclusivas direto no seu E-mail</p>
    </div>
    <div class="form">
        <form action="">
            <input class="name" type="text" name="name" placeholder="Seu Nome" />
            <input class="email" type="email" name="email" placeholder="Seu E-mail" />
            <button type="submit" class="btn btn-primary d-none d-md-inline-block">
                Cadastrar
            </button>
            <button type="submit" class="btn btn-mobile d-block d-md-none">
                <i class="fas fa-chevron-right"></i>
            </button>
            <span class="alert"></span>
        </form>
    </div>
</div>