﻿<ul class="list-unstyled list-inline">
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">Facebook</span>
            <i class="fab fa-facebook-square"></i>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <i class="fab fa-youtube"></i>
            <span class="sr-only">Youtube</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a href="" target="_blank">
            <span class="sr-only">Instagram</span>
            <i class="fab fa-instagram"></i>
        </a>
    </li>
</ul>