<div class="store-address-list">
    <div class="row">
        
        <div class="col-12 col-sm-6">
            <div class="store-address-item">
                <h4>LOJA 01 - MATRIZ</h4>
                <address>Rua Rio das Pedras, 427 - Jd do Trevo - Campinas/SP</address>
                <a href="https://goo.gl/maps/1NgHEvnfgQC2" target="_blank"><i class="fas fa-map-marker-alt"></i> ver localização</a>

                <div class="phones">
                    <p><i class="fas fa-phone-volume"></i> (19) 3272-2607 • 3291-5283</p>
                    <p><i class="fab fa-whatsapp"></i> (19) 3272-2607 • 3291-5283</p>
                </div>

                <div class="atendimento">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            De segunda a sexta <br>
                            das 8h às 17h30min
                        </div>
                        <div class="col-12 col-md-6">
                            Aos sábados <br>
                            das 8h às 12h
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-sm-6">
            <div class="store-address-item">
                <h4>LOJA 02</h4>
                <address>Rua Rio das Pedras, 398 - Jd do Trevo - Campinas/SP</address>
                <a href="https://goo.gl/maps/1NgHEvnfgQC2" target="_blank"><i class="fas fa-map-marker-alt"></i> ver localização</a>

                <div class="phones">
                    <p><i class="fas fa-phone-volume"></i> (19)  3291-5281</p>
                </div>

                <div class="atendimento">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            De segunda a sexta <br>
                            das 8h30 às 17h50min
                        </div>
                        <div class="col-12 col-md-6">
                            Aos sábados <br>
                            das 8h às 12h
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>