<li><a href="#tab-mini-banners-1" title="Ofertas" class="active">Ofertas</a></li>
<li><a href="#tab-mini-banners-2" title="Mais Vendidos">Mais Vendidos</a></li>
<li><a href="#tab-mini-banners-3" title="Novidades">Novidades</a></li>