<!--
    * GRAFICA ONIXX
    * @author Rodrigo Terassi [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
<nav id="header-nav">
    <div class="mask"></div>
    <div class="container">
        <ul class="header-nav-items d-lg-flex align-items-stretch justify-content-between col-12">
            <li class="header-nav-item pages">
                <a href="#" class="link-category-dropdown">
                    <i class="fas fa-bars"></i>
                </a>
                <div class="header-nav-sub-box">
                    <div class="container">
                        <button class="btn-close-sub-pages"><i class="fas fa-times"></i></button>
                        <vtex.cmc:headerNavSubBox />

                        <!-- <h3>Informações</h3>
                        <ul>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Revenda</a></li>
                            <li><a href="">Como Comprar</a></li>
                            <li><a href="">Termos de Uso</a></li>
                        </ul>
                        <h3>Institucional</h3>
                        <ul>
                            <li><a href="">Sobre a Gráfica Onixx</a></li>
                            <li><a href="">Ouvidoria</a></li>
                        </ul>
                        <h3>Acessórios</h3>
                        <ul>
                            <li><a href="">Gabaritos</a></li>
                            <li><a href="">Guias de Impressão</a></li>
                            <li><a href="">Glossário</a></li>
                            <li><a href="">Tutoriais</a></li>
                            <li><a href="">Montagem do Arquivo</a></li>
                        </ul> -->
                    </div>
                </div>
            </li>

            <li class="header-nav-item adesivos">
                <a href="/adesivos" class="link-category-dropdown">Adesivo</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Adesivo</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                            <li><a href="/adesivo/adesivo-de-geladeira">Adesivo de Geladeira</a></li>
                            <li><a href="/adesivo/adesivo-de-parede">Adesivo de Parede</a></li>
                            <li><a href="/adesivo/adesivo-de-piso">Adesivo de Piso</a></li>
                            <li><a href="/adesivo/adesivo-de-porta">Adesivo de Porta</a></li>
                            <li><a href="/adesivo/adesivo-vinil-branco">Adesivo Vinil Branco</a></li>
                            <li><a href="/adesivo/adesivo-vinil-perfurado">Adesivo Vinil Perfurado</a></li>
                            <li><a href="/adesivo/adesivo-vinil-transparente">Adesivo Vinil Transparente</a></li>
                            <li><a href="/adesivo/faixa-decorativa">Faixa Decorativa</a></li>
                            <li><a href="/adesivo/frases">Frases</a></li>
                            <li><a href="/adesivo/kit-de-adesivos">Kit de Adesivos</a></li>
                            <li><a href="/adesivo/papel-de-parede-adesivo">Papel de Parede Adesivo</a></li>
                            <li><a href="/adesivo/regua-de-crescimento">Régua de Crescimento</a></li>
                            <li><a href="/adesivo/stickers">Stickers</a></li>
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuAdesivo />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item banner">
                <a href="/banner" class="link-category-dropdown">Banner</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Banner</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuBanner />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item faixa">
                <a href="/faixa" class="link-category-dropdown">Faixa</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Faixa</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuFaixa />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item lona">
                <a href="/lona" class="link-category-dropdown">Lona</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Lona</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuLona />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item foto">
                <a href="/foto" class="link-category-dropdown">Foto</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Foto</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuFoto />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item plotagem">
                <a href="/plotagem" class="link-category-dropdown">Plotagem</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Plotagem</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuPlotagem />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item cartaz">
                <a href="/cartaz">Cartaz</a>
                <div class="header-nav-sub-box">
                    <h3>Cartaz</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuCartaz />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item poster">
                <a href="/poster" class="link-category-dropdown">Poster</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Poster</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuPoster />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item cracha-de-identificaca">
                <a href="/cracha-de-identificacao" class="link-category-dropdown">Crachá de Identificação</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Crachá de Identificação</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <vtex.cmc:menuCrachaIdentificacao />
                        </div>
                    </div>
                </div>
            </li>

            <li class="header-nav-item placas-de-sinalizacao">
                <a href="/placas-de-sinalizacao" class="link-category-dropdown">Placas de Sinalização</a>
                <div class="header-nav-sub-box">
                    <h3 class="col-12 title-category-dropdown">Placas de Sinalização</h3>
                    <div class="d-flex">
                        <ul class="col-lg-6 col-12">
                        </ul>
                        <div class="aux-banner col-6">
                            <!--<vtex:menuPlacasSinalizacao />-->
                            <vtex.cmc:menuPlacasSinalizacao />
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>