﻿<!--
    * GRAFICA ONIXX
    * @author Rodrigo Terassi [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->
<div id="modal-newsletter" style="display: none">
    <div class="mask"></div>
    <div class="box-newsletter popup">
        <button class="btn-close-modal btn">
            <i class="fas fa-times"></i>
        </button>
        <vtex.cmc:newsLetterBox/>
    </div>
</div>
<footer id="footer">
    <div class="container">
        <div class="d-flex justify-content-between footer-links-content flex-wrap">
            <!-- <div class="col-sm-3 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Categorias</h5>
                <vtex.cmc:footerDepartments/>
            </div>
            <div class="col-sm-3 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Conteúdo</h5>
                <vtex.cmc:footerConteudo/>
                
                <h5 class="title-footer accordion-btn">Institucional</h5>
                <vtex.cmc:footerInstitucional/>
            </div>
            <div class="col-lg-6 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Instagram</h5>
                <vtex.cmc:footerInstagram/>
            </div> -->
            
            <div class="col-sm-4 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Categorias</h5>
                <vtex.cmc:footerDepartments/>
            </div>
            <div class="col-sm-4 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Conteúdo</h5>
                <vtex.cmc:footerConteudo/>
            </div>
            <div class="col-sm-4 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Institucional</h5>
                <vtex.cmc:footerInstitucional/>
            </div>

        </div>
        <div class="d-flex justify-content-between footer-flags-content flex-wrap">
            <div class="col-lg-4 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Pague com</h5>
                <vtex.cmc:flagsPayments/>
            </div>
            <div class="col-lg-6 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Selos</h5>
                <vtex.cmc:listLabels/>
            </div>
            <div class="col-lg-2 col-12 accordion-content">
                <h5 class="title-footer accordion-btn">Redes Sociais</h5>
                <vtex.cmc:socialNetworks/>
            </div>
        </div>
    </div>
    <div id="footer-copyright">
        <div class="container">
            <div class="copyright">
                <p><vtex.cmc:copyright/></p>

                <a href="https://admake.com.br" target="_blank">
                    <img src="/arquivos/admake-copyright.png" title="Admake - Agência E-commerce Especialista em Design e Implantação" alt="Admake - Agência E-commerce Especialista em Design e Implantação" width="75" />
                </a>
            </div>
        </div>
    </div>
</footer>