﻿<div id="admake-buy-box-float" class="admake-buy-buttom-fixed">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="col-1">
                <vtex.cmc:ProductImage zoom="off" />
            </div>
            <div class="col-5">
                <vtex.cmc:productName />
            </div>
            <div class="col-3">
                <vtex.cmc:skuPrice />
            </div>
            <div class="col-3">
                <div id="ad-product-buy-button" class="product-buy" show-qty="true" buy-in-page="true">
                    <vtex.cmc:stockKeepingUnitAmountAndUnitSelection />
                    <vtex.cmc:BuyButton />
                </div>
            </div>
        </div>
    </div>
</div>