<div class="description-specification">
    <div class="admake-header-prod-tabs">
        <ul class="d-flex align-items-center justify-content-center">
            <li id="product-description" class="active"><h2>Descrição do Produto</h2></li>
            <li id="product-specification"><h2>Detalhes do Produto</h2></li>
        </ul>
    </div>

    <div class="container">
        <section class="product-description admake-product-tab-content active">
            <vtex.cmc:ProductDescription/>
        </section>

        <section class="product-specification admake-product-tab-content">
            <vtex.cmc:productSpecification/>
        </section>
    </div>
</div>