<div class="container">
    <div class="box-depoiments">
        <h2 class="title-section col-12">Depoimentos</h2>
        <ul class="depoiments">
            <li class="depoiment-item">
                <div class="depoiment-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation.
                    </p>
                </div>
                <div class="depoiment-signature">
                    <img src="/arquivos/depoiment-author.png" title="" />
                    <span>
                        <strong>Dalton Oliveira</strong>
                        StaffCeo
                    </span>
                </div>
            </li>
            <li class="depoiment-item">
                <div class="depoiment-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation.
                    </p>
                </div>
                <div class="depoiment-signature">
                    <img src="/arquivos/depoiment-author.png" title="" />
                    <span>
                        <strong>Dalton Oliveira</strong>
                        StaffCeo
                    </span>
                </div>
            </li>
            <li class="depoiment-item">
                <div class="depoiment-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation.
                    </p>
                </div>
                <div class="depoiment-signature">
                    <img src="/arquivos/depoiment-author.png" title="" />
                    <span>
                        <strong>Dalton Oliveira</strong>
                        StaffCeo
                    </span>
                </div>
            </li>
            <li class="depoiment-item">
                <div class="depoiment-text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation.
                    </p>
                </div>
                <div class="depoiment-signature">
                    <img src="/arquivos/depoiment-author.png" title="" />
                    <span>
                        <strong>Dalton Oliveira</strong>
                        StaffCeo
                    </span>
                </div>
            </li>
        </ul>
    </div>
</div>