<!--
    * GRAFICA ONIXX
    * @author Rodrigo Terassi [ADMAKE]
    * @version 1.0

    https://admake.com.br
-->

<div id="header-bar">
    <div class="container">
        <div class="d-flex row align-items-center justify-content-between flex-wrap">
            <div id="open-nav-mobile" class="d-block d-lg-none order-0 col-2">
                <button class="open-close-nav-mobile button-mobile">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            
            <div id="header-brand" class="col-lg-2 col-6">
                <h1 class="brand">
                    <b class="sr-only"><vtex.cmc:storeName/></b>
                    <a href="/" class="d-block text-lg-left text-center"><vtex.cmc:storeBrandImage/></a>
                </h1>
            </div>

            <!-- <div id="open-nav-scroll" class="d-none d-sm-block order-3">
               <button class="open-close-nav-scroll-bar">
                   <i class="fas fa-bars"></i>
                   <span>Menu</span>
               </button>
            </div> -->
            
            <!-- <div id="open-search-mobile" class="d-block d-sm-none">
                <button class="open-close-search-mobile button-mobile">
                    <i class="fas fa-search"></i>
                    <span>Buscar</span>
                </button>
            </div> -->

            <div id="header-search" class="search-box d-lg-flex d-none justify-content-between align-items-center col-xl-7 col-lg-6">
                <div class="menu-desk">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <vtex.cmc:fullTextSearchBox/>
            </div>

            <div class="d-flex align-items-center justify-content-between col-lg-4 col-xl-3 col-4">
                <div class="link-my-account">
                    <div class="admake-dropdown">
                        <a href="/account" class='d-flex align-items-center'>
                            <i class="fas fa-user-circle"></i>
                            <span>Minha Conta</span>
                        </a>
                        <div class="admake-dropdown-box account-options">
                            <a href="/account" title="Entrar">Entrar</a>
                            <a href="/account/orders" title="Meus Pedidos">Meus Pedidos</a>
                            <a href="/account" title="Criar Conta">Criar Conta</a>
                        </div>
                    </div>
                </div>
    
                <div class="contact-phone d-none d-lg-block position-relative">
                    <a href="/institucional/fale-conosco">
                        <i class="fas fa-phone"></i>
                    </a>
                    <div class="contact-dropdown">
                        <ul>
                            <li>
                                <!-- <a href="tel:2126372937">(21) 2637-2937</a> -->
                                <vtex.cmc:admakePhoneDropdown/>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <a href="/institucional/ajuda">
                    <div class="help d-none d-lg-block position-relative">
                        <span class="sr-only">Precisa de ajuda?</span>
                        <i class="fas fa-question-circle"></i>
                        
                        <div class="help-dropdown">
                            <ul>
                                <li>
                                    <!-- <a href="mailto:contato@graficaonixx.com.br">contato@graficaonixx.com.br</a> -->
                                    <vtex.cmc:admakeHelpDropdown/>
                                </li>
                            </ul>
                        </div>
                    </div>
                </a>
                    
                <div class="link-item-cart">
                    <a href="/checkout/#/cart" class="admake-btn-smart-cart" title="Minhas Compras" data-admake="cart-sidebar" data-config="{'title': 'Minhas Compras'}">
                        <span class="icon">
                            <img data-src="/arquivos/icon-cart.png" alt="Minha conta" width="21" height="22" class="lazy img-fluid"/>
                            <span class="badge">0</span>
                        </span>
                    </a>
                </div>
            </div>
            
            <div id="header-search" class="search-box col-12 d-lg-none d-block">
                <vtex.cmc:fullTextSearchBox/>
            </div>

        </div>
    </div>
</div>