<div class="container">
    <div class="box-articles-blog">
        <h2 class="title-section col-12">Blog</h2>
        <ul class="articles-blog d-flex justify-content-between">
            <li class="col-4">
                <a href="#">
                    <div class="content-article-blog">
                        <img src="/arquivos/blog-article-img-01.png" title="blog-article-img-01" />
                        <div class="text-article-blog">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>    
                </a>
            </li>
            <li class="col-4">
                <a href="#">
                    <div class="content-article-blog">
                        <img src="/arquivos/blog-article-img-02.png" title="blog-article-img-02" />
                        <div class="text-article-blog">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>    
                </a>
            </li>
            <li class="col-4">
                <a href="#">
                    <div class="content-article-blog">
                        <img src="/arquivos/blog-article-img-03.png" title="blog-article-img-03" />
                        <div class="text-article-blog">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>    
                </a>
            </li>
        </ul>
    </div>
</div>