﻿<div id="modal-simule-o-ambiente">
    <div class="mask"></div>

    <div class="box-simule-o-ambiente popup container">
        <div class="close"> <i class="fas fa-times"></i> </div>
        
        <div class="simule-o-ambiente d-flex flex-wrap">
            <div class="image col-md-6 col-12">
                <div class="product-image">
                    <vtex.cmc:ProductImage zoom="off" />
                </div>
            </div>
            <div class="colors col-md-6 col-12">
                <h2>Simule o Ambiente</h2>
                
                <div class="product-variations">
                    <vtex.cmc:skuSelection />
                </div>

                <h3>Selecione a cor da parede</h3>
                
                <ul class="colors-simulate">
                    <vtex.cmc:SimuleAmbiente/>
                </ul>        

                <div class="cta-ok-simule-o-ambiente">
                    <span>Ok</span>
                </div>

            </div>
        </div>

    </div>
</div>