#page-orders main,
#page-account main {
    // padding-top: 60px;
    // padding-bottom: 60px;
    a[href*="/cancel"]{
        display: none!important;
    }
    .title-box{
        margin-bottom: 20px;
        position: relative;
        > .btn-logout{
            position: absolute;
            right: 5px;
            top: 5px;
            height: auto;
            bottom: 5px;
            line-height: 21px;
            width: 80px;
        }
    }
    .row {
        .row {
            margin: 0;
        }
    }
    @include media-queries('phone-wide', max) {
        padding-top: 30px;
        padding-bottom: 30px;
        .btn-lg{
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
    .render-route-my-orders-portal{
        .nav.nav-pills{
            a[href="#/subscriptions"]{
                display: none!important;
            }
        }
    }
}

// account
#page-account {
    input[type="text"],
    input[type="email"],
    input[type="phone"],
    input[type="tel"],
    input[type="password"],
    input[type="textarea"]{
        font-size: 14px;
    }
    .account-user-profile {
        // padding: 30px 25px;
        // border: 1px solid $colorBorder;
        margin-top: 15px;
        margin-bottom: 15px;
        height: 100%;
        h4 {
            @include title-default($fs: 16px, $color: $color3, $mb: 15px);
        }
        .btn-block,
        .edit-profile-link a,
        .new-address-link a {
            @include btn-default(#013365, #fff);
            font-weight: $semiBold;
            padding: 15px 40px;
            display: inline-block;
            margin: 20px 0;
        }
        &.col-profile {
            .profile-detail-display-email {
                font-size: 14px;
                margin-top: 10px;
            }
            .profile-detail-display-info {
                br {
                    display: none;
                }
                >span {
                    display: block;
                    font-size: 14px;
                }
            }
        }
        &.col-address {
            p,
            span {
                font-size: 14px;
            }
            .address-display-unit {
                margin-bottom: 20px;
            }
            .edit-address-link {
                margin: 15px 0;
                font-size: 0;
                .address-update {
                    @include btn-default;
                    display: inline-block;
                    margin-right: 15px;
                }
                .delete {
                    display: inline-block;
                    @include btn-default;
                }
            }
        }
        &.col-order {}

        @include media-queries('phone-wide', max) {
            .btn-block,
            .edit-profile-link a,
            .new-address-link a {
                font-size: 12px;
                padding: 10px;
            }
            h5 {
                @include truncate(100%)
            }
            &.col-address {
                .edit-address-link {
                    .address-update,
                    .delete {
                        font-size: 12px;
                    }
                }
            }
        }
        @include media-queries('tablet', max){
            height: auto;
        }
    }
}

//orders
#page-orders {
    main {
        .container.subscriptions-page {
            @media (max-width: 767px) {
                width: 100%;
            }
        }
        .page-header>.title {
            @include title-default();
            text-align: left;
            @include media-queries('phone-wide', max) {
                font-size: 18px;
            }
        }
        .nav,
        nav {
            margin-bottom: 20px;
            margin: 0 -10px 20px;
            li {
                padding: 0 10px;
                a,
                button {
                    font-weight: $semiBold;
                    font-size: 16px;
                    color: $colorPrimary;
                    background: transparent;
                    border: 0 none;
                    &:hover {
                        color: $color3;
                    }
                }
                &.active {
                    a,
                    button {
                        color: $colorSecondary;
                    }
                    &::after{
                        @include fontAwesome("\F078", $color: $colorSecondary);
                        margin-top: 5px;
                        text-align: center;
                    }
                }
            }
            @include media-queries('phone', max) {
                li{ 
                    a,
                    button {
                        font-size: 14px;
                        letter-spacing: -0.8px;
                    }
                }
            }
        }

        .myo-seller-name{
            display: none;
        }
        .myo-order-card{
            border-radius: 0;
            border-color: #EEEEEE;
            .myo-order-header{
                background: #F8F8F8;
                border: 0;
                span{
                    font-size: 14px;
                    color: #222222;
                    line-height: 19px;
                    font-weight: $bold;
                }
                .ttu{
                    span{
                        font-weight: $regular;
                    }
                }
                
            }
            > .bg-white{
                .myo-order-product{
                    a{
                        font-size: 15px;
                        color: $colorPrimary;
                        letter-spacing: 0;
                        &:hover{
                            color: $colorSecondary;
                        }
                    }
                    p{
                        > span{
                            font-size: 11px;
                            color: #6F6F6F;
                            letter-spacing: 0;
                        }
                    }
                    span{
                        font-weight: $bold;
                        font-size: 14px;
                        color: $colorSecondary;
                        letter-spacing: 0;
                    }
                }
                > .fr{
                    text-align: right;
                    > button, a{
                        display: inline-block;
                        margin-bottom: 20px;
                        font-weight: $semiBold;
                        svg{
                            vertical-align: middle;
                        }
                        &.myo-reorder-btn{
                            @include btn-default(#F2F2F2, $colorPrimary);
                            svg{
                                fill: $colorSecondary;
                            }
                        }
                        &.myo-edit-btn{
                            @include btn-default($colorSecondary, #fff);
                            svg{
                                fill: #fff;
                            }
                        }
                        &.myo-cancel-btn{
                            @include btn-default(#FF725C, #fff);
                            svg{
                                fill: #fff;
                            }
                        }
                        &.myo-details-btn{
                            margin: 0 !important;
                            @include btn-default(#2ec4b6, #fff);
                        }  
                        @include media-queries('phone-wide', max){
                            display: table;
                        }
                    }
                }
            }

        }
        @media screen and (min-width: 60em) {
            .w-25-l {
                width: 25% !important;
            }
            .w-60-l {
                width: 60% !important;
            }
            .w-40-l {
                width: 40% !important;
            }
        }
        @media screen and (max-width: 60em) and (min-width: 30em){
            .w-third-m {
                width: 33.33333% !important;
            }
        }
        @include media-queries('phone-wide'){
            .w-70-ns {
                width: 70% !important;
            }
            .w-30-ns {
                width: 30% !important;
            }
        }
    }
    .myo-view-order{
        > .w-100.fl.w-60-ns.pa0.pa2-ns.pr0{
            > .list{
                text-align: left!important;
                &:after{
                    content: "Para solicitação de cancelamento do seu pedido entre em contato com nosso SAC no telefone Telefone: (11) 5831-6666 ou pelo e-mail contato@h2opurificadores.com.br. O nosso horário de atendimento é de segunda a sexta-feira, das 8h às 17h.";
                    display: block;
                    font-size: 12px;
                    line-height: 16px;
                    max-width: 520px;
                    font-weight: 300;
                    margin-top: 10px;
                    color: #758995;
                }
            }
        }
    }
    div.myo-view-order > section > article:nth-child(3) > section{
        min-height: 250px;
    }
}

/** modals **/
#page-account{
    .modal-account{
        @extend %fixed-full;
        z-index: 999999999;
        display: none;
        
        .mask{
            @include mask;
        }
        .content{
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
            max-width: 300px;
            z-index: 111;
            width: 100%;
            max-height: 550px;
            overflow-y: auto; 
            #accountAjaxBusy{
                height: 0;
            }
            .modal-header{
                h3{
                    &.address-label{
                        font-size: 15px;
                    }
                }
                button{
                    @include size(18px);
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    line-height: 18px;
                    margin-left: 20px;
                }
            }
            .modal-body{
                .row{
                    margin-right: -15px;
                    margin-left: -15px;
                    h5{
                        padding: 0 15px;
                        width: 100%;
                        margin-bottom: 20px;
                    }
                }
                .control-group{
                    margin-bottom: 10px;
                    #business-toggle{
                        @include btn-default(#F2F2F2, $colorPrimary, $width: 100%);
                        display: block;
                        font-size: 15px;
                    }
                    input[type="text"], select{
                        flex: 0 0 100%;
                        max-width: 100%;
                        width: 100%;
                    }
                    select{
                        height: 43px;
                    }
                    label{
                        &.radio{
                            margin-bottom: .3rem;
                            input[type="radio"]{
                                margin-right: 10px;
                            }
                        }
                        @include media-queries('phone', max){
                            font-size: 12px;
                        }
                    }
                    
                }
            }
            .modal-footer{
                &.save-cancel-buttons{
                    .btn-link{
                        text-decoration: none;
                        font-size: 14px;
                    }
                }
            }
            
            @include media-queries('phone'){
                max-width: 600px;
            }
        }
    }
}
/** ACCOUNT / ORDERS **/