

.body-cart,
.body-order-form,
.body-checkout-confirmation{
    @import '../checkout/_reset.scss';
    // @import '../checkout/_showcase-checkout.scss';
    @import '../checkout/_iframeCreditCardPayment.scss';


    background: #fff;
    padding: 85px 0 0!important;

    @keyframes alertInput {
        0% {border-color: $colorBorder;}
        100% {border-color: $colorDanger;}
    }

    #orderform-title{
        display: none!important;
    }

    #header-checkout{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 13px 0;
        z-index: 98;
        background: #F2F6F7;
        .col-logo{
            @media( max-width: 767px ){
                width: 100%;
            }
            a{
                display: block;
                img{
                    margin: auto;
                    display: table;
                }
            }
        }
        .col-contact{
            @media( min-width: 768px ){
                display: block!important;
            }
            a, li{
                font-size: 13px;
                color: #8E8786;
                line-height: 20px;
                i{
                    margin-right: 4px;
                    color: #D1CCCB;
                    &.fa-whatsapp{
                        color: #91BD5D;
                    }
                }
            }
            a{
                &:hover{
                    color: darken(#8E8786, 10%);
                }
            }
            li{
                margin-left: 15px;
            }
        }
    }

    #footer-checkout{
        margin-top: 30px;
        position: relative;
        z-index: 10000;
        #footer-institucional{
            padding: 30px 0;
            background: #F2F6F7;
            h5{
                font-weight: 700;
                font-size: 16px;
                color: #013365;
                line-height: 20px;
                margin: 0 0 10px;
            }
            .container{
                padding: 0 15px!important;
            }
            .col-contacts{
                @media( max-width: 767px ){
                    margin-bottom: 25px;
                }
                li{
                    margin-right: 20px;
                }
                .icon,
                .details{
                    display: inline-block;
                    vertical-align: top;
                }
                .icon{
                    min-width: 23px;;
                    i{
                        font-size: 20px;
                        color: #2EC4B6;
                        line-height: 20px;
                        margin-right: 5px;
                        min-width: 20px;
                        text-align: center;
                    }
                }
                .details{
                    font-size: 13px;
                    color: #3B4850;
                    line-height: 20px;
                }
            }
        }
        #footer-copyright{
            padding: 15px 0;
            p{
                font-size: 12px;
                color: #3B4850;
                letter-spacing: 0;
            }
            ul{
                li{
                    vertical-align: middle;
                }
                a{
                    display: block;
                }
            }
        }
    }

    .container-cart, .container-order-form{
        padding: 0 15px!important;
        @media (min-width: 1200px){
            width: 1170px;
        }
    }
    .lookatme{
        background: transparent;
    }
    .item-unavailable{
        background-color: #e5e5e4;
        color: #7d7d7d;
        .top-arrow{
            border-bottom-color: #e5e5e4;
        }
        .item-unavailable-message{
            padding: 15px 0;
        }
    }

    #header-login{
        padding: 15px 0;
        z-index: 9999999;
        .brand{
            line-height: 0;
            a{
                display: block;
            }
        }
        #phone-info{
            font-size: 18px;
            color: $colorPrimary;
            font-weight: $medium;
            line-height: 27px;
            i{
                margin-right: 5px;
            }
        }
    }
    #footer-login{
        border-top: 1px solid $colorBorder;
        z-index: 9999;
    }

    .vtex-front-messages-placeholder{
        z-index: 99999999999;
    }
    #btn-clear-cart{
        height: 30px;
        text-shadow: 0 0 0 transparent;
        text-transform: uppercase;
        padding: 0 15px;
        line-height: 30px;
        i{
            margin-right: 6px;
        }
    }

    #show-more{
        margin: 10px auto;
        width: 170px;
        color: $colorDarkGray;
        background: $colorBorder;
        font-size: 12px;
        text-transform: uppercase;
        display: block;
        text-align: center;
        height: 40px;
        padding: 0;
        line-height: 40px;
        font-weight: $medium;
        text-decoration: none;
        transition: 300ms all;
        &:hover{
            color: darken($colorDarkGray, 15%);
            background: darken($colorBorder, 15%);
        }
    }
    #cart-coupon{
        height: 45px;
    }
    #cart-coupon-add{
        @media( max-width: 767px ){
            width: 100%;
        }
    }
    #cart-coupon-add,
    #cart-shipping-calculate{
        height: 45px;
        padding: 0 10px;
        line-height: 45px;
        border: 0 none;
        border-radius: 0;
        background: $colorSuccess;
        color: $colorWhite;
        font-size: 14px;
        font-weight: $regular;
        text-transform: uppercase;
        box-sizing: border-box;
        text-shadow: 0 0 0 transparent!important;
        transition: 300ms all;
        &:hover{
            background: darken($colorSuccess, 15%);
        }
    }
    #cart-coupon-add{
        margin-left: 15px;
    }
    #cart-shipping-calculate{
        font-size: 0;
        line-height: 0;
        color: transparent;
        &:before{
            display: block;
            content: "OK";
            color: $colorWhite;
            font-size: 14px;
            line-height: 45px;
            font-weight: $regular;
        }
    }
    .shipping-fieldset{
        text-align: right;
    }
    #summary-postal-code{
        width: 100px;
        max-width: 100px;
        height: 45px;
    }

    .orderform-template{
        z-index: 2;
        
    }
    .cart-template{
        z-index: 3;
    }

    .btn-success{
        line-height: 53px;
        display: block;
        padding: 0!important;
        height: 53px;
        background: $colorSuccess;
        text-transform: uppercase;
        box-sizing: border-box;
        text-align: center;
        transition: 300ms all;
        border-radius: 3px;

        font-weight: $bold;
        font-size: 15px;
        color: $colorWhite;
        letter-spacing: 0;
        text-align: center;
        &:hover{
            background: darken($colorSuccess, 15%);
        }
    }
    .btn-submit-wrapper{
        .btn-success{
            width: 100%;
        }
    }

    input[type="text"], input[type="email"], input[type="phone"], input[type="tel"], input[type="password"], textarea, select, .form-control{
        border-radius: 3px;
        box-sizing: border-box;
        background: #F2F6F7;
        height: 45px;
        border: 0 none;
        box-shadow: 0 0 0 none!important;

    }
    label.checkbox{
        input,span{
            display: inline-block;
            vertical-align: middle;
            padding: 3px 0;
        }
    }
    select{
        height: 50px;
    }
    h5{
        font-size: 16px;
        float: none;
        display: block;
        margin: 5px 0 10px;
        font-weight: $medium;
        color: $colorText;
        line-height: 20px;
    }
}
// .body-checkout-confirmation{
//     background: $colorWhite;
// }

.checkout-container{
    padding-top: 25px;
}
.container-cart,
.container-order-form{
    
    h1{
        font-size: 25px;
        color: $colorText;
        line-height: 30px;
        font-weight: $medium;
        margin: 10px 0 15px;
    }
}
.container-cart{
    .step, .cart, .totalizers{
        border: 0 none;
        padding: 0;
    }

    .cart-items{
        position: relative;
        margin-bottom: 25px;
    }
    .cart-items th{
        background: #F2F6F7;
        font-size: 13px;
        color: #013365;
        font-weight: $bold;
        line-height: 13px;
        padding: 12px 5px;
        border: 0 none !important;
        border-top: 0 none!important;
        &.product{
            padding-left: 20px;
        }
    }

    .item-attachments-header{
        strong{
            padding: 10px 15px;
        }
        &:after{
            display: none;
        }
    }
    .item-attachments-item-fields{
        input{
            animation: alertInput 600ms linear 1s 6 alternate;
        }
    }
    .product-item{
        td{
            padding-top: 20px;
            padding-bottom: 20px;
            @media( min-width: 768px ){
                border-bottom: 1px solid $colorBorder;
            }
            &.product-name{
                > a{
                    font-size: 12px;
                    color: $colorText;
                    line-height: 18px;
                    display: block;
                    &:hover{
                        color: darken($colorText, 40%);
                    }
                }
                hr{
                    border: $colorBorder;
                    background: $colorBorder;
                }
                .clone-item{
                    background: $colorBorder;
                    border-radius: 3px;
                    height: 35px;
                    line-height: 35px;
                    border: 0 none;
                    color: $colorDarkGray;
                    text-transform: uppercase;
                    font-size: 10px;
                    text-shadow: 0 0 0 transparent;
                    font-weight: $medium;
                    &:hover{
                        color: $colorText;
                    }
                }
            }
            &.shipping-date{
                span,div{
                    font-size: 14px;
                    color: $colorDarkGray;
                    line-height: 16px;
                    font-weight: $regular;
                }
            }
            &.product-price{
                .list-price{
                    font-size: 12px;
                    color: $colorDarkGray;
                    line-height: 14px;
                    text-decoration: line-through;
                }
                .best-price{
                    font-size: 14px;
                    color: $colorText;
                    font-weight: $medium;
                    line-height: 16px;
                    .new-product-real-price-per-unit{
                        font-size: 10px;
                    }
                }
            }
            &.quantity{
                .item-quantity-change{
                    background: transparent;
                    .icon-minus-sign,
                    .icon-plus-sign{
                        &:before{
                            color: $colorDarkGray;
                        }
                    }
                    .icon-minus-sign{
                        &:before{
                            content: "-";
                            font-size: 18px;
                        }
                    }
                    .icon-plus-sign{
                        &:before{
                            content: "+";
                            font-size: 16px;
                        }
                    }
                }
                input{
                    background: transparent;
                    border: 0 none;
                    border-radius: 0;
                    box-shadow: 0 0 0 transparent;
                    height: 30px;
                    font-size: 14px;
                    color: $colorText;
                    font-weight: $regular;
                    text-align: center;
                    min-width: 50px;
                    @media( min-width: 768px ){
                        min-width: 60px;
                    }
                }
                .item-unit-label{
                    font-size: 12px;
                    font-weight: $regular;
                    color: $colorPrimary;
                    line-height: 14px;
                }
            }
            &.quantity-price{
                .total-selling-price{
                    color: #DF6400;
                    font-size: 15px;
                    font-weight: $extraBold;
                    line-height: 16px;
                }
            }
            .item-link-remove{
                .icon-remove{
                    &:before{
                        @include fontAwesome('\f2ed', 'far', 14px);
                        color: #435B9F;
                    }
                    transition: 300ms all;
                }
                &:hover{
                    .icon-remove{
                        transform: scale(1.04);
                    }
                }
            }
        }
        // &:first-child{
        //     td{
        //         border-top: 0 none;
        //     }
        // }
    }

    .coupon.summary-coupon{
        @media( max-width: 767px ){
            width: 100%;
        }
        &,.coupon-data{
            float: none!important;
        }
        .link-coupon-add{
            width: 270px;
            height: 45px;
            display: block;

            font-weight: $bold;
            font-size: 13px;
            line-height: 45px;
            color: #8E8786;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            padding: 0;
            background: #FFFFFF;
            border: 1px solid #EDEBEA;
            border-radius: 3px;
            @media( max-width: 767px ){
                width: 98%;
            }
            &:before{
                @include fontAwesome('\f02b', 'fas');
                display: inline-block;
                font-size: 13px;
                color: #8E8786;
                margin-right: 5px;
            }
            &:hover{
                color: darken(#8E8786, 10%);
            }
        }
    }
    .cart-totalizers{
        max-width: 100%;
        @media( min-width: 768px ){
            max-width: 280px;
        }
        #shipping-calculate-link{
            text-decoration: underline!important;
        }
        tbody,tfoot{
            td{
                font-size: 14px;
                color: $colorDarkGray;
                font-weight: $regular;
                line-height: 20px;
                &.info{
                    text-align: left;
                }
                &.monetary{
                    text-align: right;
                }
                &.empty{
                    width: 0;
                    padding: 0;
                }
            }
        }
        tfoot{
            td{
                &.monetary{
                    color: #DF6400;
                    font-weight: $extraBold;
                }
            }
        }
    }
    .empty-cart-title{
        font-size: 25px;
        font-weight: $medium;
        line-height: 20px;
        color: $colorDarkGray;
        margin: 20px 0;
    }
    .empty-cart-message{
        p{
            color: $colorText;
            font-size: 14px;
            font-weight: $medium;
            line-height: 20px;
        }
    }
    .empty-cart-links{
        .link-choose-products{
            color: transparent;
            font-size: 0;
            line-height: 0;
            background: $colorBorder;
            height: 35px;
            width: 100px;
            &:before{
                transition: 300ms all;
                content: 'Voltar';
                color: $colorDarkGray;
                font-size: 10px;
                font-weight: $medium;
                line-height: 35px;
                display: block;
            }
            &:hover{
                background: darken($colorBorder, 15%);
                &:before{
                    color: $colorText;
                }
            }
        }
    }
    .cart-links.cart-links-bottom{
        float: none!important;
        @media( min-width: 768px ){
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-pack: justify !important;
            justify-content: space-between !important;
            -ms-flex-align: center !important;
            align-items: center !important;
        }
        &[style*="display: none;"]{
            display: none!important;
        }
        &:before,&:after{
            display: none;
        }
        > span{
            max-width: 320px;
        }
        a{
            display: block;
            width: 270px;
            height: 50px;
            padding: 0;
            line-height: 50px;
            margin: 0;
            font-size: 14px;
            font-weight: $semiBold;
            color: #8E8786;
            text-transform: uppercase;
            border: 0 none;
            border-radius: 3px;
            background: #EDEBEA;
            text-align: center;
            transition: 300ms all;
            @media( max-width: 767px ){
                width: 100%;
                margin: 0 0 15px;
            }
            &:hover{
                background: darken(#EDEBEA, 5%);
            }
            &#cart-to-orderform{
                background: $colorSuccess;
                color: transparent;
                line-height: 0;
                font-size: 0;
                position: relative;
                &:after{
                    @include fontAwesome('\f0da', 'fas');
                    margin-left: 15px;
                }
                &:before{
                    content: "CONTINUAR";
                }

                &:after,
                &:before{
                    display: inline-block;
                    color: $colorWhite;
                    font-weight: $bold;
                    font-size: 18px;
                    line-height: 50px;
                    text-align: center;
                }
                &:hover{
                    background: darken($colorSuccess, 5%);
                }
            }
        }
    }
}

.client-pre-email{
    // position: fixed;
    // top: 55px;
    // bottom: 30px;
    // left: 0;
    // right: 0;
    // background: $color3;
    border: 0 none;
    .link-cart{
        margin: 20px;
        a{
            &:hover{

            }
        }
    }
    .pre-email{
        max-width: 525px;
        display: block;
        margin: 70px auto 30px;
        box-sizing: border-box;
        width: 100%;
        .client-pre-email-h{
            margin: 0 0 35px;
            line-height: 0;
            label{
                margin: 0;
                line-height: 0;
                span{
                    font-size: 18px;
                    color: #666666;
                    line-height: 27px;
                    font-weight: $bold;
                    text-transform: uppercase;
                    display: block;
                }
                small{
                    font-size: 15px;
                    color: #8E8786;
                    line-height: 22px;
                    font-weight: $regular;
                    margin-top: 5px;
                    display: block;
                }
            }
        }
        .client-email{
            position: relative;
            display: block;
            width: 100%;
            margin: 0;
            input{
                width: 100%;
                height: 53px;
                border-radius: 3px;
                display: block;
                padding-right: 135px;
                background: #FFFFFF;
                border: 1px solid #EDEBEA;
                box-shadow: 0 0 none!important;
            }
            i{

            }
            button{
                width: 135px;
                position: absolute;
                background: $colorSuccess;
                right: 0;
                top: 0;
                height: 53px;
                border-radius: 0;
                color: $colorWhite;
                font-weight: $bold;
                font-size: 14px;
                @media( max-width: 767px ){
                    width: 100%;
                    position: relative;
                }
                span{
                    &:after{
                        @include fontAwesome('\f0da', 'fas');
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                        color: $colorWhite;
                        font-size: 14px;
                    }
                }
            }
            .help.error{

            }
        }
    }
    .emailInfo{
        max-width: 525px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        border-radius: 3px;
        padding: 30px;
        width: 100%;
        background: $colorWhite;
        border: 1px solid #EDEBEA;
        box-shadow: 4px 4px 0 0 rgba(0,0,0,0.03);
        h3,ul{
            max-width: 376px;
            display: block;
            margin: auto;
        }
        h3{
            font-size: 16px;
            color: #444444;
            font-weight: $regular;
            margin-bottom: 25px;
            text-align: center;
        }
        ul{
            li{
                padding: 3px 0;
                i{
                    font-size: 14px;
                    color: #435B9F!important;
                }
                span{
                    font-size: 13px;
                    color: #8E8786;
                    line-height: 16px;
                    font-weight: $regular;
                    
                }
            }
        }
        .icon-lock{
            display: none;
        }
    }
}

.container-order-form{
    .step{
        padding: 15px;
        border-radius: 3px;
        background: $colorWhite;
        border: 1px solid #EDEBEA;
        box-shadow: 4px 4px 0 0 rgba(0,0,0,0.03);
        &.shipping-data{
            .label-vertical-group{
                @extend %d-flex;
                @extend %justify-content-between;
                @extend %align-items-center;
                padding: 5px 0;
                background: $colorWhite;
                border: 0 none;
                >span,i{
                    display: block;
                    float: none!important;
                    position: relative;
                    left: auto;
                    top: auto;
                    right: auto;
                }
                span{
                    color: $colorDarkGray;
                    font-size: 13px;
                    font-weight: $light;
                }
                i{
                    color: $colorDarkGray;
                    transition: 300ms all;
                }
                &:hover,
                &.active{
                    i{
                        color: $colorPrimary;
                    }
                }
            }
        }
        &.accordion-group{
            .accordion-heading{
                padding: 15px;
                margin: -15px -15px 15px;
                background: #F2F6F7;
                .accordion-toggle{
                    padding: 0;
                    line-height: 15px;
                    i{
                        font-size: 14px;
                        color: #013365;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                        line-height: 15px;
                    }
                    span{
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 14px;
                        color: #013365;
                        line-height: 15px;
                        font-weight: $bold;
                        text-transform: uppercase;
                    }
                    a{
    
                    }
                }
            }
            .accordion-inner{
                padding: 0;
            }
            .accordion-inner,
            .accordion-body{
                &,p,a{
                    font-size: 12px;
                    color: $colorDarkGray;
                    line-height: 14px;
                    font-weight: $light;
                }
                p{
                    margin-bottom: 10px;
                }
                a{
                    color: $colorDarkGray;
                    font-size: 14px;
                    &:hover{
                        color: darken($colorPrimary, 15%);
                    }
                    &.link-edit{
                        color: $colorDanger;
                        &:hover{
                            color: darken($colorDanger, 15%);
                        }   
                    }
                }
                label{
                    &,span{
                        font-size: 13px;
                        color: #666666;
                        font-weight: $semiBold;
                        line-height: 13px;
                    }
                }
                .debit-options{
                    .debit-list-item{
                        border: 1px solid $colorBorder;
                        i{
                            transition: 300ms all;
                            color: $colorBorder;
                        }
                        &.active,
                        &:hover{
                            i{
                                color: $colorPrimary;
                            }
                        }
                    }
                }
                .client-profile-email{
                    .email{
                        color: $colorText;
                        font-weight: $medium;
                        font-size: 14px;
                    }
                    .link-logout{
                        color: $colorPrimary;
                        font-weight: $regular;
                        &:hover{
                            color: darken($colorPrimary, 15%);
                        }
                    }
                }
                p.input{
                    input,select{
                        width: 100%;
                        &#ship-postal-code{
                            width: 90px;
                            max-width: none;
                        }
                    }
                }
                .client-first-name,
                .client-last-name,
                .client-document,
                .client-document + div,
                .client-company-ie,
                .client-company-document,
                .ship-number,
                .ship-more-info,
                .ship-city,
                .ship-state{
                    margin-right: 0;
                    width: 50%;
                    box-sizing: border-box;
                    float: left;
                    margin-left: 0;
                    &:after{
                        clear: both;
                        content: "";
                        display: table;
                    }
                }
                .ship-number,
                .ship-state{
                    width: 25%;
                }
                .ship-city{
                    width: 75%;
                    padding-right: 10px;
                }
                .ship-more-info{
                    width: 75%;
                    padding-left: 10px;
                }
                .client-first-name,
                .client-document,
                .client-company-ie{
                    padding-right: 10px;
                }
                .client-profile-summary{
                    color: $colorText;
                    font-size: 14px;
                    line-height: 16px;
                }
                .links{
                    width: 100%;
                    .link{
                        a{
                            border: 1px solid $colorDarkGray;
                            background: $colorDarkGray;
                            color: $colorWhite;
                            border-radius: 5px;
                            display: block;
                            width: 100%;
                            height: 35px;
                            font-weight: $medium;
                            font-size: 10px;
                            padding: 0;
                            text-align: center;
                            line-height: 35px;
                            text-transform: uppercase;
                            margin-bottom: 6px;
                            &:hover{
                                background: darken($colorDarkGray, 10%);
                            }
                        }
                    }
                }
                #change-other-shipping-option{
                    height: 35px;
                    width: 100%;
                    padding: 0;
                    line-height: 35px;
                    text-align: center;
                    color: $colorWhite;
                    text-transform: uppercase;
                    font-size: 10px;
                    font-weight: $semiBold;
                    background: $colorDarkGray;
                    border-radius: 5px;
                    text-transform: uppercase;
                    margin-top: 15px;
                    border: 0 none;
                    &:hover{
                        background: darken($colorDarkGray, 20%);
                    }
                }
                .address-list-placeholder{
                    .address-item {
                        @extend %d-flex;
                        @extend %justify-content-between;
                        @extend %align-items-center;
                        padding: 10px;
                        border: 1px solid $colorBorder;
                        background: $colorWhite;
                        transition: 300ms all;
                        .input,
                        .link-box-select{
                            position: relative;
                            display: block;
                            float: none;
                            i{
                                position: relative;
                                left: auto;
                                top: auto;
                                right: auto;
                                color: $colorDarkGray;
                            }
                        }
                        a.link-box-select{
                            display: none;
                        }
                        p,label,span{
                            text-shadow: 0 0 transparent;
                            color: $colorText;
                            font-size: 13px;
                            font-weight: $light;
                        }
                        p{
                            margin: 0;
                        }
                        label{
                            float: none;
                            br{
                                display: none;
                            }
                        }
                        &:hover{
                            border-color: $colorPrimary;
                            .link-box-select{
                                i{
                                    color: $colorPrimary;
                                }
                            }
                        }
                        &.active{
                            border-color: $colorPrimary;
                            background: $colorPrimary;
                            p,label,span{ 
                                color: $colorWhite; 
                                font-weight: $regular;
                            }
                            .link-box-select{
                                i{
                                    color: $colorWhite;
                                }
                            }
                        }
                    }
                }
            }
            &.active{
                .accordion-heading{
                    .accordion-toggle{
                        i{
                            color: #435B9F;
                        }
                    }
                }
            }

        }
    }

    // #payment-data{
    //     background: $colorWhite;
    //     .step{
    //         &.active{
    //             position: relative;
    //             padding: 0;
    //             background: transparent;
    //             .accordion-heading{
    //                 padding: 0;
    //                 position: absolute;
    //                 left: 15px;
    //                 top: 10px;
    //             }
    //         }
    //         .accordion-inner{
    //             padding: 0;
    //         }
    //         .payment-group,
    //         .steps-view{
    //             box-sizing: border-box;
    //         }
    //         .payment-group{
    //             margin-top: 53px;
    //             width: 30%;
    //             background: transparent;
    //             .payment-group-list-btn{
    //                 &, >a, > a > span{
    //                     width: 100%;
    //                     padding: 0;
    //                     margin: 0;
    //                     box-sizing: border-box;
    //                 }
    //                 > a{
    //                     &,span{
    //                         font-size: 14px;
    //                         color: $colorText;
    //                         font-weight: $medium;
    //                         line-height: 35px;
    //                         transition: 300ms all;
    //                         opacity: 1;
    //                     }
    //                     span{
    //                         padding: 5px 15px;
    //                         background-position: 95% center;
    //                     }
    //                 }
    //                 .payment-group-item{
    //                     border: 0 none;;
    //                     &.active{
    //                         background: $colorWhite;
    //                     }
    //                     &:hover{
    //                         background: $colorBorder;
    //                     }
    //                 }
    //             }
    //         }
    //         .steps-view{
    //             background: $colorWhite;
    //             min-height: 300px;
    //             width: 70%;
    //         }
    //     }   
    // }
    .cart-template.mini-cart{
        h2{
            font-size: 20px;
            color: $colorText;
            line-height: 22px;
            background: transparent;
            border: 0 none;
            font-weight: $medium;
            text-align: left;
            margin-top: 10px;
        }
        .cart-items{

            > li{
                padding: 5px 0;
                border: 0 none;
                .product-name{
                    font-size: 12px;
                    color: $colorText;
                    line-height: 13px;
                    font-weight: $medium;
                }
                .quantity.badge{
                    background: #435B9F;
                    border: 1px solid $colorWhite;
                    box-shadow: 0 0 0 transparent;
                    color: $colorWhite;
                    left: 30px;
                }
                .description{
                    .shipping-date{
                        font-size: 12px;
                        color: $colorDarkGray;
                        font-weight: $light;
                        line-height: 20px;
                    }
                    .price{
                        font-size: 14px;
                        color: #DF6400;
                        line-height: 20px;
                        font-weight: $bold;
                        text-align: right;
                    }
                }
            }
        }
        #go-to-cart-button{
            float: none!important;
            width: 100%;
            background: transparent;
            a{
                display: block;
                text-align: center;
                background: $colorBorder;
                border-radius: 5px;
                height: 35px;
                padding: 0;
                font-size: 10px;
                font-weight: $semiBold;
                line-height: 35px;
                color: $colorDarkGray;
                text-transform: uppercase;
                text-shadow: 0 0 transparent;
                &:hover{
                    color: darken($colorDarkGray, 15%);
                    background: darken($colorBorder, 15%);
                }
            }
        }
        .summary-template-holder{
            background: transparent;
            border: 0 none;
            .table{
                tbody,
                tfoot{
                    tr{
                        td{
                            width: 50%;
                            float: none;
                            font-size: 14px;
                            color: $colorDarkGray;
                            font-weight: $regular;
                            line-height: 16px;
                            padding: 10px 0;
                            &.info{
                                text-align: left;
                            }
                            &.monetary{
                                text-align: right;
                            }
                            &.space,&.empty{
                                width: 0!important;
                                padding:0 !important;
                            }
                        }
                    }
                }
                tfoot{
                    tr{
                        td.monetary{
                            color: $colorPrimary;
                            font-weight: $medium;
                        }
                    }
                }
            }
        }
    }
}

// .body-checkout-confirmation{
//     #app-top{
//         &:before{
//             width: 200px;
//             height: 200px;
//             content: "";
//             display: block;
//             margin: 30px auto 10px;
//             background: url('https://vtex.eskolare.com.br/arquivos/image-checkout-success.png') no-repeat scroll center transparent;
//             background-size: cover;
//         }
//         h1{
//             display: none;
//         }
//         .cconf-alert{
//             background: transparent;
//             border: 0 none;
//             text-align: center;
//             > div{
//                 width: 100%!important;
//                 float: none!important;
//                 .f4{
//                     font-size: 20px;
//                     line-height: 20px;
//                     color: $colorPrimary;
//                     font-weight: $medium;
//                     text-align: center;
//                 }
//                 p{
//                     font-size: 16px;
//                     color: $colorDarkGray;
//                     font-weight: $light;
//                     line-height: 20px;
//                     text-align: center;
//                     strong{
//                         font-weight: $medium;
//                         color: $colorText;
//                     }
//                 }
//                 & + div{
//                     margin-top: 30px;
//                     p{
//                         color: $colorText;
//                     }
//                 }
//             }
//         }
//         #print-bank-invoice{
//             background: $colorPrimary;
//             border-radius: 5px;
//             width: 320px;
//             height: 50px;
//             margin: 10px auto 0;
//             transition: 300ms all;
//             display: block;
//             cursor: pointer;
//             span{
//                 &,&:hover{
//                     display: block;
//                     padding: 0;
//                     margin: 0;
//                     line-height: 50px;
//                     color: $colorWhite;
//                     font-size: 14px;
//                     font-weight: $semiBold;
//                     text-transform: uppercase;
//                     text-align: center;
//                     background: transparent;
//                     border: 0 none;
//                     opacity: 1;
//                 }
//             }
//             &:hover{
//                 background: darken($colorPrimary, 15%);
//             }
//         }
//     }
//     #app-container{
//         border-top: 1px solid $colorBorder;
//         background: $colorBrightGray;
//         h2{
//             font-size: 18px;
//         }
//         time{
//             span{
//                 font-size: 14px;
//                 color: $colorDarkGray;
//                 font-weight: $light;
//             }
//         }
//         .dib.cf.w-100.pt4{
//             float: right;
//             width: 30%;
//             > div{
//                 &, > article{
//                     float: none;
//                     display: block;
//                     width: 100%;
//                     margin: 0;
//                     padding: 0;
//                 }
//                 > article{
//                     margin: 0 0 20px;
//                     background: $colorWhite;
//                     box-shadow: 0 5px 5px 0 rgba(0,0,0,0.09);
//                     border-radius: 10px;
//                     h3{
//                         font-size: 18px;
//                         color: $colorText;
//                         font-weight: $medium;
//                         text-transform: none;
//                         line-height: 20px;
//                         letter-spacing: 0;
//                         &:before{
//                             @include fontAwesome('', 'fas', 15px);
//                             display: inline-block;
//                             vertical-align: top;
//                             line-height: 20px;
//                             margin-right: 5px;
//                         }
//                     }
//                     p,div,strong,b{
//                         font-size: 14px;
//                         color: $colorDarkGray;
//                         font-weight: $light;
//                         line-height: 16px;
//                     }
//                     hr{
//                         border: 0 none;
//                         background: transparent;
//                     }
//                 }
//                 &.cconf-address{
//                     h3{
//                         &:before{
//                             content: '\f015';
//                         }
//                     }
//                 }
//                 &.cconf-payment{
//                     h3{
//                         &:before{
//                             content: '\f09d';
//                         }
//                     }
//                 }
//                 &.cconf-summary{
//                     h3{
//                         &:before{
//                             content: '\f05a';
//                         }
//                     }
//                     > article{
//                         > div{
//                             > div:last-child{
//                                 margin-top: 10px;
//                                 > div:first-child{
//                                     font-weight: $regular;
//                                     color: $colorText;
//                                 }
//                                 > div:last-child{
//                                     font-weight: $semiBold;
//                                     color: $colorPrimary;
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         .w-100.pv4.fl{
//             float: left;
//             width: 70%;
//             padding-right: 30px;
//             h2{
//                 & + p{
//                     font-size: 14px;
//                     color: $colorDarkGray;
//                     font-weight: $light;
//                     .nowrap{
//                         font-size: 10px;
//                         color: $colorWhite;
//                         line-height: 11px;
//                         padding: 3px 10px;
//                         border: 0 none;
//                         border-radius: 20px;
//                         background: $colorAlert;
//                         text-align: center;
//                     }
//                 }
//             }
//             .cconf-product-table{
//                 thead{
//                     tr{
//                         th{
//                             background: $colorBrightGray;
//                             font-size: 14px;
//                             color: $colorText;
//                             line-height: 20px;
//                             font-weight: $medium;
//                         }
//                     }
//                 }
//                 tbody{
//                     tr{
//                         td{
//                             padding-top: 20px;
//                             padding-bottom: 20px;
//                             border: 0 none;
//                             border-bottom: 1px solid $colorBorder;
//                             vertical-align: middle;
//                             a,span,p{
//                                 font-size: 12px;
//                                 color: $colorText;
//                                 font-weight: $medium;
//                                 line-height: 14px;
//                             }
//                         }
//                         &.cconf-product{
//                             td{
//                                 &:first-child{
//                                     img{
//                                         width: 15%;
//                                         margin-right: 1%;
//                                         &,+div{
//                                             display: inline-block;
//                                             vertical-align: middle;
//                                         }
//                                         & + div{
//                                             width: 83%;
//                                             a{
//                                                 display: block;
//                                             }
//                                         }
//                                     }
//                                 }
//                             }
//                         }
//                     }
//                 }
//             }
//             & + div{
//                 float: left;
//                 width: 70%;
//                 padding-right: 30px;
//                 @extend %d-flex;
//                 @extend %align-items-center;
//                 @extend %justify-content-between;
//                 @extend %flex-wrap;
//             }
//         }
//         .cconf-myorders-button,
//         .cconf-edit-button,
//         .cconf-continue-button{
//             background: $colorBorder;
//             height: 50px;
//             border-radius: 5px;
//             font-size: 12px;
//             padding: 0 5px;
//             line-height: 50px;
//             border: 0 none;
//             color: $colorDarkGray;
//             font-weight: $semiBold;
//             text-transform: uppercase;
//             text-align: center;
//             float: none;
//             letter-spacing: -.2px;
//             margin: 10px 0;
//             width: 32%;
//             &:hover{
//                 background: darken($colorBorder, 15%);
//                 color: darken($colorDarkGray, 15%);
//             }
//         }
//     }
// }