.contact-content{
    margin-bottom: 70px;
    .alert{
        margin: 0;
        min-height: 46px;
        border-radius: 0;
        padding: 13px 15px;
        line-height: 20px;
    }
}

#ct-mesage{
    min-height: 238px;
}

#send-form-contact{
    background: #0182C6;
    font-weight: $semiBold;
    text-transform: uppercase;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 50px;
    padding: 0;
    width: 170px;
    height: 46px;
    border: 0 none;
    border-radius: 0;
    &:hover{
        background: darken(#0182C6, 10%);
    }
}