.institucional-monte-seu-pc{
    > h1{
        background: bg('bg-monte-seu-pc.png');
        background-size: cover;
        font-weight: $extraBold;
        font-size: 75px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        line-height: 80px;
        min-height: 455px;
        padding-top: 100px;
        strong{
            font-weight: $medium;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 20px;
            text-align: center;
            display: block;
        }
    }
    .type-buttons{
        margin: -188px auto 150px;
        text-align: center;
        li{
            display: inline-block;
            vertical-align: top;
            margin: 0 20px;
        }
        a{
            width: 360px;
            height: 380px;
            background: bg('bg-icons-g.png');
            background-size: 351px 396px;
            text-align: center;
            display: block;
            padding-top: 80px;
            &:hover{
                transform: scale(1.04);
            }
            small{
                font-weight: $medium;
                display: block;
                font-size: 18px;
                color: #7B8EA2;
                line-height: 20px;
                text-align: center;
            }
            b{
                padding: 15px 0 25px;
                height: 130px;
                display: block;
                text-align: center;
                img{
                    display: block;
                    margin: auto;
                    &[alt="AMD"]{
                        margin-top: 23px;
                    }
                }
            }
            .btn-go{
                background: #FFA000;
                box-shadow: 0 8px 20px 0 rgba(0,0,0,0.19);
                font-weight: $semiBold;
                font-size: 14px;
                color: #FFFFFF;
                font-style: italic;
                text-align: center;
                line-height: 50px;
                display: block;
                margin: auto;
                width: 152px;
                height: 50px;
                cursor: pointer;
                transition: 300ms all;
                &:hover{
                    background: darken(#FFA000, 10%);
                }
            }
        }
    }
}


.admake-monte-seu-pc-plataforma{
    &.amd{
        #admake-monte-seu-pc-plataforma{
            h1{
                background: bg('bg-monte-seu-pc-amd.png');
            }
        }
    }
    &.intel{
        #admake-monte-seu-pc-plataforma{
            h1{
                background: bg('bg-monte-seu-pc-intel.png');
            }
        }
    }
    &.amd, &.intel{
        #admake-monte-seu-pc-plataforma{
            h1{
                background-size: cover;
            }
        }
    }
}

#admake-monte-seu-pc-plataforma{
    background: #102339;
    .fa-circle-notch{
        color: #fff;
        font-size: 20px;
    }
    h1 {
        font-weight: $extraBold;
        font-size: 55px;
        color: #FFFFFF;
        text-transform: uppercase;
        text-align: center;
        line-height: 80px;
        padding-top: 105px;
        min-height: 455px;
        strong{
            font-weight: $medium;
            font-size: 18px;
            color: #EEEEEE;
            line-height: 20px;
            display: block;
            .box-banner{
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
        + .container{
            margin-top: -170px;
            padding-bottom: 200px;
        }
    }
    h2{
        font-weight: $semiBold;
        font-size: 30px;
        color: #FFFFFF;
        line-height: 35px;
        margin: 0 0 5px;
        text-transform: uppercase;
        + p{
            font-weight: $semiBold;
            font-size: 14px;
            color: #FFFFFF;
            line-height: 20px;
            text-transform: uppercase;
        }
    }
    .col-items,
    .col-totals{
        padding-top: 35px;
    }
    .col-items{
        .option-item{
            padding-left: 38px;
            margin-bottom: 25px;
            > div{
                background: #16314F;
                box-shadow: 0 10px 10px 0 rgba(0,0,0,0.06);
                min-height: 80px;
            }
            .option-item-icon{
                width: 85px;
                height: 89px;
                background: bg('bg-icons.png?a=1', $position: top center);
                background-size: 96px 103px;
                position: relative;
                transition: 300ms all;
                margin-left: -43px;
                margin-bottom: -7px;
                margin-top: -9px;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: 300ms all;
                }
            }
            .option-item-title{
                padding-left: 20px;
                h3{
                    font-weight: $semiBold;
                    font-size: 15px;
                    color: #7B8EA2;
                    line-height: 20px;
                    transition: 300ms all;
                    margin: 0;
                    small{
                        font-weight: $regular;
                        font-size: 13px;
                        color: #7B8EA2;
                        line-height: 20px;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 5px;
                        text-transform: none;
                    }
                }
            }
            .option-item-action{
                overflow: hidden;
                visibility: hidden;
                opacity: 0;
                height: 0;
                transition: 300ms all;
                .option-item-select,
                .option-item-remove{
                    background: #EEEEEE;
                    width: 124px;
                    padding: 0;
                    border: 0 none;
                    font-weight: $regular;
                    font-size: 12px;
                    color: #5C7189;
                    text-transform: uppercase;
                    line-height: 14px;
                    display: block;
                    height: 80px;
                    &:hover{
                        background: darken(#EEEEEE, 10%);
                    }
                }
                .option-item-remove{
                    display: none;
                }
            }
            &.is-ok{
                > div{
                    background: #fff;
                }
                .option-item-action{
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    .option-item-select,
                    .option-item-remove{
                        width: 62px;
                        display: block;
                        span{
                            display: none;
                        }
                        i{
                            display: block;
                        }
                    }
                }
                .option-item-title{
                    padding-left: 20px;
                    h3{
                        color: #16314F;
                    }
                }
                .product-image{
                    margin: auto 15px;
                    img{
                        max-width: 60px;
                        max-height: 60px;
                    }
                }
                .product-name{
                    font-weight: $regular;
                    font-size: 12px;
                    color: #5C7189;
                    line-height: 15px;
                    max-width: 195px;
                    width: 100%;
                    margin-right: 15px;
                }
            }
            &.active{
                > div{
                    background: #fff;
                }
                .option-item-action{
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    .option-item-select{
                        span{
                            display: block;
                        }
                        i{
                            display: none;
                        }
                    }
                }
                .option-item-icon{
                    background: bg('bg-icons-active.png?a=1', $position: top center);
                    background-size: 96px 103px;
                    img{
                        filter: brightness(0) invert(1);
                    }
                }
                .option-item-title{
                    padding-left: 20px;
                    h3{
                        color: #16314F;
                    }
                }
            }
        }
    }

    .col-totals{
        #btn-add-all-cart{
            background: #60AF44;
            display: block;
            width: 100%;
            height: 60px;
            font-weight: $semiBold;
            font-size: 20px;
            color: rgba(255,255,255,5/10);
            text-transform: uppercase;
            line-height: 60px;
            border: 0 none;
            border-radius: 0;
            cursor: pointer;
            margin-bottom: 20px;
            &:hover{
                color: #fff;
            }
        }
        #btn-send-list{
            background: #eee;
            display: block;
            width: 100%;
            height: 40px;
            font-weight: $regular;
            font-size: 13px;
            color: #6B7B8C;
            line-height: 40px;
            border: 0 none;
            border-radius: 0;
            cursor: pointer;
            margin-bottom: 20px;
            &:hover{
                color: darken(#6B7B8C, 10%);
            }
        }
        .mensagens{
            h3{
                font-weight: $semiBold;
                font-size: 16px;
                color: #FFA000;
                line-height: 20px;
                text-transform: uppercase;
                margin: 40px 0 10px;
            }
            p{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                line-height: 19px;
                b{
                    font-weight: $regular;
                    color: #EEEEEE;
                }
            }
        }
    }
    .total-box{
        background: #16314F;
        text-align: center;
        > h2{
            font-weight: $semiBold;
            font-size: 20px;
            color: #FFFFFF;
            line-height: 20px;
            text-transform: uppercase;
            border-bottom: 1px solid #28425F;
            padding: 20px 0;
            margin: 0;
        }
        .price-total-cartao{
            padding: 10px 5px 30px;
            > div{
                i{
                    font-size: 30px;
                    color: #3C6895;
                    line-height: 30px;
                    margin-right: 10px;
                }
                strong{
                    font-weight: $semiBold;
                    font-size: 23px;
                    color: #7B8EA2;
                    line-height: 30px;
                    text-transform: uppercase;
                }
            }
        }
        .price-total-boleto{
            padding: 33px 5px 0;
            margin-bottom: 10px;
            &:after{
                display: block;
                width: 70px;
                height: 1px;
                background: #28425F;
                content: "";
            }
            > div{
                i{
                    font-size: 30px;
                    color: #5ED0B0;
                    line-height: 30px;
                    margin-right: 10px;
                }
                strong{
                    font-weight: $semiBold;
                    font-size: 30px;
                    color: #FFFFFF;
                    line-height: 30px;
                    text-transform: uppercase;
                }
            }
        }
        .msg{
            display: block;
            font-weight: $regular;
            font-size: 13px;
            color: #5C7189;
            line-height: 20px;
        }
    }
}

#create-your-pc-modal{
    z-index: 999999;
    &, .cyp-mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,6/10);
    }
    .cyp-mask{
        z-index: 1;
    }
    .cyp-modal-content{
        max-width: 800px;
        max-height: 590px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        z-index: 2;

        .msg-alert{
            background: #FFA000;
            color: #fff;
            padding: 7px 10px;
            text-align: center;
            font-size: 12px;
            color: #FFFFFF;
            line-height: 21px;
            margin: 0;
            b{
                font-weight: $semiBold;
            }
            strong{
                font-weight: $semiBold;
                font-size: 20px;
            }
            i{
                line-height: 21px;
                font-size: 20px;
                color: #FFFFFF;
                display: inline-block;
                vertical-align: top;
                margin-right: 10px;
            }
        }

        .cyp-modal-header{
            background: #16314F;
            > div.d-flex{
                padding: 27px 25px 50px;
            }
            .cyp-modal-title{
                font-weight: $semiBold;
                font-size: 26px;
                color: #FFFFFF;
                line-height: 30px;
                text-transform: uppercase;
            }
            .close-modal{
                font-size: 25px;
                color: #FFFFFF;
                width: 30px;
                height: 30px;
                padding: 0;
                background: transparent;
                border: 0 none;
                &:hover{
                    opacity: .7;
                }
            }
            > div.cpy-modal-stages{
                background: #fff;
                height: 37px;
                padding: 0 18px;
                .cyp-step-item{
                    margin-top: -37px;
                    width: 60px;
                    height: 60px;
                    background: bg('bg-icons.png?a=1', top center);
                    background-size: cover;
                    position: relative;
                    transition: 300ms all;
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -55%);
                        transition: 300ms all;
                    }
                    &.active{
                        background: bg('bg-icons-active.png?a=1', top center);
                        background-size: cover;
                        img{
                            filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }

        .cyp-modal-body{
            max-height: 365px;
            overflow: scroll;
            > i{
                font-size: 30px;
                line-height: 30px;
                margin: 80px auto;
                display: block;
                max-width: 30px;
            }
            .admake-showcase-create-pc{
                .admake-create-pc-product{
                    padding: 10px 25px;
                    border-bottom: 1px solid #EEEEEE;
                    background: #fff;
                    transition: 300ms all;
                    &.active, &:hover{
                        background: #EEEEEE;
                    }
                    &.active{
                        .product-checkbox{
                            i{
                                color: #FFA000;
                                &:before{
                                    content: '\f14a';
                                    font: 900 20px/30px Font Awesome\ 5 Free;
                                }
                            }
                        }
                    }

                    &.not-product{
                        .product-image{
                            background: transparent;
                            i{
                                font-size: 40px;
                                color: #5C7189;
                                line-height: 70px;
                                width: 70px;
                                display: block;
                                text-align: center;
                            }
                        }
                        .product-name{
                            font-weight: $regular;
                            font-size: 13px;
                            color: #5C7189;
                            text-transform: uppercase;
                        }
                    }
                    .msg-alert{
                        margin: -10px -25px 0;
                    }
                    .product-checkbox{
                        i{
                            color: #D0D6DD;
                            font-size: 20px;
                            line-height: 30px;
                            transition: 300ms all;
                        }
                    }
                    .product-image{
                        width: 70px;
                        height: 70px;
                        background: #fff;
                        margin: 0 15px;
                        img{
                            max-width: 70px;
                            max-height: 70px;
                            display: block;
                        }
                    }
                    .product-name{
                        font-weight: $regular;
                        font-size: 12px;
                        color: #5C7189;
                        line-height: 14px;
                        margin-right: auto;
                        max-width: 40%;
                        margin-left: 20px;
                    }
                    .product-price-box{
                        .old-price, .best-price{
                            display: block;
                        }
                        .old-price{
                            font-weight: $regular;
                            font-size: 13px;
                            color: #5C7189;
                            line-height: 16px;
                            text-decoration: line-through;
                        }
                        .best-price{
                            strong{
                                font-weight: $semiBold;
                                font-size: 20px;
                                color: #3C6895;
                                line-height: 30px;
                            }
                        }
                        .installment{
                            font-weight: $regular;
                            font-size: 12px;
                            color: #5C7189;
                            line-height: 16px;
                            strong{
                                font-weight: $semiBold;
                                color: #5ED0B0;
                            }
                        }
                    }
                    .product-show-details{
                        margin-left: 20px;
                        a{
                            font-weight: $regular;
                            font-size: 10px;
                            color: #5C7189;
                            line-height: 11px;
                            text-decoration: underline!important;
                            &:hover{
                                color: darken(#5C7189, 10%);
                            }
                        }
                    }
                }
            }
        }

        .cyp-modal-footer{
            border-top: 1px solid #eee;
            padding: 15px 25px;
            position: relative;
            .msg-alert{
                position: absolute;
                top: -35px;
                left: 0;
                right: 0;
                z-index: 3;
            }
            .cyp-modal-price{
                > b{
                    font-weight: $semiBold;
                    font-size: 13px;
                    color: #5C7189;
                    line-height: 20px;
                    display: block;
                    text-transform: uppercase;
                }
                > strong{
                    font-weight: $semiBold;
                    font-size: 25px;
                    color: #16314F;
                    line-height: 28px;
                    display: block;
                }
                .cyp-get-installment-price{
                    font-weight: $regular;
                    font-size: 12px;
                    color: #5C7189;
                    line-height: 14px;
                    strong{
                        color: #5ED0B0;
                        font-weight: $semiBold;
                    }
                }
            }
            .cyp-modal-actions{
                .btn-cancel{
                    width: 100px;
                    height: 50px;
                    cursor: pointer;
                    background: #EEEEEE;
                    font-weight: $semiBold;
                    font-size: 11px;
                    color: #7B8EA2;
                    line-height: 50px;
                    text-align: center;
                    padding: 0;
                    border: 0 none;
                    text-transform: uppercase;
                    border-radius: 0;
                    &:hover{
                        background: darken(#EEEEEE, 10%);
                    }
                }
                .btn-apply{
                    width: 200px;
                    height: 50px;
                    cursor: pointer;
                    background: #60AF44;
                    font-weight: $semiBold;
                    font-size: 16px;
                    color: #fff;
                    line-height: 50px;
                    text-transform: uppercase;
                    padding: 0;
                    border: 0 none;
                    border-radius: 0;
                    &:hover{
                        background: darken(#60AF44, 5%);
                    }
                }
            }
        }
    }
}


#send-list-modal{
    z-index: 999999;
    &, .send-list-mask{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,6/10);
    }
    .send-list-mask{
        z-index: 1;
    }
    .send-list-content{
        max-width: 680px;
        max-height: 500px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #fff;
        z-index: 2;
        .send-list-header{
            background: #16314F;
            padding: 30px;
            .send-list-title{
                font-weight: $semiBold;
                font-size: 26px;
                color: #FFFFFF;
                line-height: 30px;
                text-transform: uppercase;
            }
            .close-modal{
                font-size: 25px;
                color: #FFFFFF;
                width: 30px;
                height: 30px;
                padding: 0;
                background: transparent;
                border: 0 none;
                &:hover{
                    opacity: .7;
                }
            }
        }

        .send-list-body{
            max-height: 295px;
            overflow: scroll;
            background: #EAEEF2;
            > h3{
                font-weight: $semiBold;
                font-size: 14px;
                color: #16314F;
                padding: 18px 30px;
                line-height: 16px;
                margin: 0;
            }
            i{
                font-size: 30px;
                line-height: 30px;
                margin: 80px auto;
                display: block;
                max-width: 30px;
            }
        }
        .send-list-footer{
            padding: 30px;
            background: #fff;
            position: relative;
            input{
                background: #EAEEF2;
                font-weight: $semiBold;
                font-size: 13px;
                color: #5C7189;
                line-height: 50px;
                text-transform: uppercase;
                height: 50px;
                margin-right: 7px;
            }
            button{
                width: 230px;
                height: 50px;
                cursor: pointer;
                background: #FFA000;
                font-weight: $semiBold;
                font-size: 17px;
                color: #FFFFFF;
                text-align: center;
                line-height: 50px;
                text-transform: uppercase;
                padding: 0;
                border: 0 none;
                border-radius: 0;
                &:hover{
                    background: darken(#FFA000, 5%);
                }
            }
        }
    }
}