﻿// @import 'components/_priceRange.scss';
#page-department {
    .pages,
    .resultado-busca-numero{
        // display: none!important;
    }
    .admake-blog-home{
        border-top: 1px solid #F5F5F5;
        padding-top: 60px;
    }
    &.admake-search{
        .department-row{
            margin-top: 25px;
        }
        .bread-crumb{
            display: none!important;
        }
        .col-navigator{
            .menu-departamento{
                h3{
                    display: block;
                    padding: 0 0 5px;
                    a{
                        margin: 15px 0 10px;
                        padding: 15px 0 0;
                        font-weight: 700;
                        font-size: 14px;
                        color: #013365;
                        &:hover{
                            color: darken(#013365, 15%);
                        }
                    }
                }
                ul{ 
                    padding: 0 0 15px;
                    li{
                        padding: 3px 0;
                        a{
                            font-weight: 400;
                            font-size: 13px;
                            color: #768C9A;
                            line-height: 20px;
                            &:hover{
                                color: #0076AA;
                            }
                        }
                    }
                }
            }
        }
    }
    .alert-installment{
        background: #F5F5F5;
    }
    #close-filter-mobile{
        font-weight: $bold;
        font-size: 12px;
        color: #807D7E;
        letter-spacing: 0;
        text-align: left;
        text-transform: uppercase;
        border: 0 none;
        border-radius: 0;
        background: transparent;
        width: 100%;
        height: 35px;
        cursor: pointer;
        .fa-filter{
            margin-right: 4px;
        }
        .fa-times{
            float: right;
        }
    }
    #open-filter-mobile{
        margin: 0 8px;
        width: calc(50% - 16px);
        text-align: center;
        font-weight: $bold;
        font-size: 12px;
        color: #666666;
        line-height: 35px;
        text-transform: uppercase;
        border: 1px solid #EDEBEA;
        border-radius: 0;
        cursor: pointer;
        background: #FAFAFA;
        background: -moz-linear-gradient(top, #FAFAFA 0%, #e8e8e8 100%);
        background: -webkit-linear-gradient(top, #FAFAFA 0%, #e8e8e8 100%);
        background: linear-gradient(to bottom, #FAFAFA 0%, #e8e8e8 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#e8e8e8',GradientType=0 );
        i{
            margin-right: 4px;
        }
    }

    .department-header{
        .box-banner{
            a{
                display: block;
                img{
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    .col-navigator{
        h2{
            font-weight: $bold;
            font-size: 14px;
            color: #013365;
            line-height: 20px;
            margin: 0 0 10px;
            text-transform: uppercase;
        }
        @media( max-width: 767px ){
            visibility: hidden;
            opacity: 0;
            height: 0;
            transition: 300ms all;
            &.active-mobile{
                visibility: visible;
                opacity: 1;
                height: auto;
            }
        }
        .menu-navegue{
            display: none;   
        }
        .department-range{
            display: none;
        }
        #department-navigator{
            
        }
        .search-single-navigator{
            // h3{
            //     display: none;
            // }
            h3{
                a{
                    color: #0182C6;
                    font-style: italic;
                    font-weight: $medium;
                    font-size: 18px;
                    line-height: 22px;
                    text-transform: initial;
                }
            }
            h4{
                padding: 6px 0;
                a{
                    font-weight: $regular;
                    font-size: 13px;
                    color: #768C9A;
                    line-height: 20px;
                    &:hover{
                        color: #0076AA;
                    }
                }
            }
            h5{
                margin: 15px 0 10px;
                padding: 15px 0 0;
                font-weight: $bold;
                font-size: 14px;
                color: #013365;
                text-transform: uppercase;
                border-top: 1px solid #E8EDEF;
                line-height: 20px;
                & + ul{
                    visibility: visible;
                    opacity: 1;
                    height: auto;
                    display: block;
                    transition: 300ms all;
                    li{
                        display: block;
                        padding: 3px 0;
                    }
                    a{
                        font-size: 13px;
                        color: #768C9A;
                        line-height: 20px;
                        display: block;
                        &:before{
                            @include fontAwesome('\f111', 'far');
                            color: #D8D8D8;
                            font-size: 12px;
                            display: inline-block;
                            vertical-align: middle;
                            margin: -2px 5px 0 0;
                            transition: 300ms all;
                        }
                        &:hover{
                            color: darken(#768C9A, 15%);
                            &:before{
                                @include fontAwesome('\f28d', 'fas');
                                display: inline-block;
                                vertical-align: middle;
                                color: #013365;
                                font-size: 12px;
                            }
                        }
                    }
                }
                &.hide{
                    &:after{
                        transform: scaleY(1);
                    }
                    & + ul{
                        overflow: hidden;
                        visibility: hidden;
                        opacity: 0;
                        height: 0;
                        padding: 0 15px;
                    }
                }
            }
        }
    }
    .department-row {
        .col-showcase {
            .resultItemsWrapper + .searchResultsTime + .sub,
            .compare,
            .filterBy,
            .searchResultsTime{
                display: none!important;
            }
            .titulo-sessao{
                font-weight: $medium;
                font-size: 18px;
                color: #0182C6;
                line-height: 22px;
                padding: 15px 0;
                font-style: italic;
                @media all and (max-width: 767px){
                    width: 100%;
                    text-align: left;
                }
            }
            .resultado-busca-filtro{
                text-align: right;
                // margin-top: -50px;
                position: relative;
                z-index: 2;
                display: flex;
                align-items: center;
                justify-content: space-between;
                @media all and (max-width: 991px){
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
                .orderBy{
                    label, select, label:before{
                        display: inline-block;
                        vertical-align: middle;
                    }
                    label{
                        font-size: 0;
                        line-height: 0;
                        color: transparent;
                        &:before{
                            content: "Ordenar";
                            font-weight: $medium;
                            font-size: 14px;
                            color: #0182C6;
                            letter-spacing: 0;
                            font-style: italic;
                            line-height: 17px;
                        }
                    }
                    select{
                        height: 34px;
                        background: #F5F5F5 !important;
                        background: initial;
                        background-size: 51px 50px;
                        width: 135px;
                        border-radius: 4px;
                        font-weight: 400;
                        font-size: 14px;
                        color: #9C9C9C;
                        font-style: italic;
                        line-height: 16px;
                        padding: 0 10px 0 10px;
                    }
                }
            }
            #open-filter-mobile{
                background: #F2F6F7;
                min-width: 47%;
                height: 35px;
                border: 0 none;
                border-radius: 3px;
                font-weight: $medium;
                padding: 0;
                font-size: 11px;
                color: #0182C6;
                letter-spacing: 0;
                text-align: center;
                margin: 0;
            }
            .admake-showcase{
                margin-top: 20px;
            }
            .orderBy{
                @media( max-width: 767px ){
                    width: 46%;
                    margin: 0;
                }
                label, select{
                    display: inline-block;
                    vertical-align: middle;
                }
                label{
                    margin: 0 5px 0 0;
                    @media( max-width: 767px ){
                        display: none!important;
                    }
                }
                select{
                    @media( max-width: 767px ){
                        width: 100%;
                        max-width: 100%;
                        min-width: auto;
                        height: 35px;
                        border: 0 none;
                        margin: 0;
                        border-radius: 3px;
                        font-weight: $medium;
                        font-size: 11px;
                        color: #3B4850;
                    }
                }
            }
            
            #department-showcase {
                margin-top: 0;
                .admake-compare-box{
                    display: block;
                }
                .sub{
                    .resultado-busca-numero{
                        display: none;
                    }
                }
            }
        }
    }
    .department-description{
        margin: 30px 0 15px;
        display: none;
        line-height: 23px;
        @media( min-width: 768px ){
            display: block;
        }
        p{
            font-weight: $regular;
            font-size: 14px;
            color: #768C9A;
            line-height: 22px;
        }
        h4{
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            margin: 15px 0 6px;
        }
    }
    #handle-scroll{
        display: block;
        max-width: 262px;
        width: 100%;
        height: 50px;
        margin: 30px auto;
        background: #0182C6;
        font-weight: 500;
        font-style: italic;
        font-size: 16px;
        color: #FFFFFF;
        line-height: 46px;
        text-align: center;
        border-radius: 4px;
        &:hover{
            background: darken(#0182C6, 5%);
        }
    }
    #returnToTop{
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }
}
.pager{
    &.top,
    &.bottom{
        display: none;
    }
}
.page-department-custom{
    .department-header{
        border-top: 1px solid #EAEAEA;
        .bread-crumb{
            background: #F5F5F5;
            .bread-crumb{
                margin: 0;
            }
        }
    }
    .info-banner{
        background: #F5F5F5;
        padding-bottom: calc(65px + 70px);
        position: relative;
        .title-catalog-custom{
            color: #0182C6;
            font-weight: $medium;
            font-style: italic;
            font-size: 30px;
            line-height: 38px;
        }
        .subtitle-catalog-custom{
            color: #055D8C;
            font-size: 22px;
            font-weight: $medium;
            font-style: italic;
            line-height: 27px;
            margin-bottom: 30px;
            display: block
        }
        .items-catalog-custom{
            li{
                color: #373435;
                font-size: 16px;
                font-style: italic;
                margin-bottom: 20px;
                position: relative;
                padding-left: 10px;
                &:before{
                    content: "";
                    position: absolute;
                    background: #0081C9;
                    border-radius: 100%;
                    width: 5px;
                    height: 5px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    left: 0;
                }
            }
            @media all and (max-width: 575px){
                text-align: left;
            }
        }
        .catalog-custom-image{
            img{
                max-height: 488px;
                max-width: 100%;
                margin: 0 auto;
                display: block;
            }
            @media all and (max-width: 575px){
                margin-bottom: 30px;
            }
        }
        .catalog-custom-old-price{
            color: #AEAEAE;
            font-size: 18px;
            font-style: italic;
            display: block;
            line-height: 21px;
        }
        .catalog-custom-best-price{
            color: #AEAEAE;
            font-size: 18px;
            font-style: italic;
            line-height: 21px;
            strong{
                color: #0182C6;
                font-size: 40px;
                font-weight: 500;
                line-height: 51px;
            }
        }
        .catalog-custom-box-cta{
            margin-top: 25px;
            .catalog-custom-cta-configure{
                a{
                    background: #90C74A;
                    color: #FFFFFF;
                    border-radius: 4px;
                    height: 70px;
                    width: 230px;
                    display: block;
                    line-height: 70px;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 500;
                    font-style: italic;
                    margin-bottom: 20px;
                    &:hover{
                        background: darken(#90C74A,5%);
                    }
                    @media all and (max-width: 575px){
                        width: 100%;
                    }
                }
                + div{
                    @media all and (max-width: 575px){
                        justify-content: center;
                    }
                }
            }
        }
        .catalog-custom-hint{
            display: block;
            margin-top: 20px;
            font-size: 14px;
            color: #AEAEAE;
            line-height: 16px;
            font-style: italic;
            max-width: 345px;
        }
        &:after{
            content: "";
            position: absolute;
            background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-header-new.png) no-repeat #FFFFFF;
            background-size: 1500px;
            background-position: center top;
            height: 68px;
            width: 100%;
            bottom: 0;
            @media all and (max-width:575px){
                background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-header-mobile.png) no-repeat #FFFFFF;
                background-size: 320px;
                background-position: center -27px;
                height: 50px;
            }
        }
        + .container{
            text-align: center;
        }
        @media all and (max-width:575px){
            padding-bottom: calc(50px + 70px);
        }
    }
    .container{
        .catalog-custom-title-description{
            display: inline-block;
            border: 1px solid #0182C6;
            border-radius: 4px;
            min-width: 140px;
            text-align: center;
            min-height: 50px;
            line-height: 50px;
            color: #373435;
            font-size: 16px;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 45px;
        }
        .catalog-custom-box-description{
            max-width: 946px;
            margin: 0 auto;
            p{
                color: #AEAEAE;
                font-size: 16px;
                line-height: 24px;
                font-style: italic;
            }
        }
        .catalog-custom-box-video{
            max-width: 100%;
            width: 946px;
            background: #000000;
            border-radius: 6px;
            overflow: hidden;
            margin: 0 auto;
            margin-top: 50px;
            margin-bottom: 50px;
            height: 560px;
            iframe{
                width: 100%;
                height: 100%;
            }
            @media all and (max-width: 767px){
                height: 300px;
            }
        }
    }
}
.catalog-custom-cta-download{
    a{
        background: #0182C6;
        color: #FFFFFF;
        border-radius: 4px;
        width: 205px;
        height: 54px;
        display: block;
        line-height: 54px;
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        margin-right: 20px;
        i{
            margin-right: 10px;
            font-size: 20px;
        }
        &:hover{
            background: darken(#0182C6,5%);
        }
    }
}