﻿#page-home {
    .box-banner{
        background: #F5F5F5;
    }
    #full-banner,
    #full-banner-mobile {
        line-height: 0;
        .slick-arrow {
            // background: #013365;
            // color: #fff;
            // opacity: .6;
            cursor: pointer;
            i{
                display: block;
                line-height: 33px;
            }
            &.slick-prev {
                left: -30px;
            }
            &.slick-next {
                right: -30px;
            }
            &:hover {
                opacity: 1;
            }
            img{
                width: 11px;
            }
        }
        .slick-dots {
            position: absolute;
            bottom: 15px;
            left: 0;
            right: 0;
            margin: 0;
            display: none !important;
        }
    }

    .banners-by-filter{
        .admake-tabs{
            margin: 15px -8px;
            text-align: center;
            li{
                display: inline-block;
                vertical-align: middle;
                margin: 8px;
                width: initial !important;
                a{
                    border: 1px solid #0182C6;
                    border-radius: 4px;
                    background: #fff;
                    height: 50px;
                    min-width: 140px;
                    padding: 15px;
                    line-height: 20px;
                    font-weight: $medium;
                    font-size: 16px;
                    color: #373435;
                    line-height: 20px;
                    font-style: italic;
                    opacity: .2;
                    display: block;
                    &:hover{
                        opacity: .5;
                    }
                    &.active{
                        opacity: 1;
                    }
                }
            }
            &.slick-slider{
                .slick-list{
                    .slick-track{
                        @media all and (min-width: 768px){
                            display: flex;
                            justify-content: center;
                        }
                        .slick-slide{
                            @media all and (min-width: 768px){
                                width: auto !important;
                            }
                        }
                    }
                }
            }
            .slick-arrow{
                &.slick-prev{
                    left: 0;
                }
                &.slick-next{
                    right: 0;
                }
            }
            @media all and (max-width:767px){
                margin: 15px -15px;
            }
        }
        .admake-tabs-content{
            padding-bottom: 25px;
            .admake-tab-content{
                transition: 300ms all;
                opacity: 0;
                visibility: hidden;
                height: 0;
                display: -ms-flexbox!important;
                display: flex!important;
                -ms-flex-wrap: wrap!important;
                flex-wrap: wrap!important;
                justify-content: center;
                &.active{
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
                .box-banner{
                    padding: 12px;
                    width: initial;
                    @media all and (min-width:768px){
                        width: 16.666666666%;
                        &:nth-child(1),
                        &:nth-child(2),
                        &:nth-child(3),
                        &:nth-child(4){
                            width: 25%;
                        }
                    }
                    @media all and (max-width:767px){
                        max-width: 354px;
                    }
                    @media all and (max-width:575px){
                        max-width: 263px;
                    }
                    a{
                        display: block;
                        overflow: hidden;
                        border-radius: 4px;
                        img{
                            transition: 300ms all;
                        }
                        &:hover{
                            img{
                                transform: scale(1.04);
                            }
                        }
                    }
                }
            }
            @media all and (max-width:575px){
                margin-right: -15px;
            }
        }
    }
}
    
.alert-installment{
    text-align: center;
    padding: 20px 0;
    background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-fullbanner.png) no-repeat;
    background-size: 1109px;
    background-position: center 30px;
    @media all and (max-width: 1199px){
        background-size: 100%;
    }
    @media all and (max-width: 991px){
        background-position: center 40px;
    }
    @media all and (max-width: 767px){
        background-position: center 45px;
    }
    @media all and (max-width: 575px){
        background: initial;
    }
    span{
        color: #373435;
        font-style: italic;
        font-size: 16px;
        line-height: 18px;
        margin-left: 10px;
        strong{
            color: #0182C6;
            font-weight: $medium;
            @media all and (max-width:767px){
                display: block;
            }
        }
    }
}
.title-section{
    font-size: 24px;
    color: #0182C6;
    letter-spacing: 0;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 23px;
    @media all and (max-width:575px){
        font-style: normal;
    }
}
.box-articles-blog{
    .articles-blog{
        @media all and (max-width:1199px){
            .slick-slide{
                > div{
                    text-align: center;
                    > li{
                        margin: 0 auto;
                        .content-article-blog{
                            .text-article-blog{
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        @media all and (max-width: 575px){
            &.slick-slider{
                .slick-arrow{
                    &.slick-prev{
                        left: 0;
                    }
                    &.slick-next{
                        right: 0;
                    }
                }
            }
        }
        .content-article-blog{
            padding: 23px;
            border-radius: 4px;
            min-height: 219px;
            position: relative;
            overflow: hidden;
            &:hover{
                img{
                    transform: scale(1.04);
                }
            }
            img{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                max-width: 100%;
                transition: 300ms all;
            }
            .text-article-blog{
                position: absolute;
                left: 23px;
                right: 23px;
                bottom: 23px;
                h3{
                    color: #FFFFFF;
                    text-transform: initial;
                    font-weight: 700;
                    font-style: italic;
                    font-size: 18px;
                    line-height: 21px;
                    margin-bottom: 20px;
                }
                p{ 
                    line-height: 18px;
                    font-weight: 400;
                    font-style: italic;
                    font-size: 16px;
                    color: #FFFFFF;
                    @media all and (max-width:575px){
                        font-size: 14px;
                    }
                }
            }
            @media all and (max-width:575px){
                margin: 0 7.5px;
                padding: 15px;
                min-height: 170px;
            }
        }
        li{
            min-width: 380px;
            @media all and (max-width: 575px){
                min-width: 280px;
                padding: 0;
            }
            // @media all and (max-width: 420px){
            //     min-width: 280px;
            // }
            .content-article-blog{
                img{
                    max-width: initial;
                    max-height: 100%;
                }
            }
        }
        @media all and (max-width:575px){
            margin-right: -15px;
        }        
    }
}
.admake-depoiments-about-home{
    background: url(https://graficaonixx.vteximg.com.br/arquivos/depoiments-bg.png) #0182C6;
    background-size: 1300px;
    background-position: center;
    padding: 30px 0;
    padding-bottom: 0;
    margin-top: 65px;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-depoiments.png) no-repeat;
        background-size: 1521px;
        background-position: center 30px;
        height: 68px;
        width: 100%;
        bottom: 100%;
        @media all and (max-width: 575px){
            background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-depoiments-mobile.png) no-repeat;
            background-size: 320px;
            background-position: center 35px;
        }
    }
    .title-section{
        color: #FFFFFF;
        font-style: 20px;
        line-height: 30px;
        font-weight: 500;
    }
    .box-depoiments{
        .depoiments{
            margin-bottom: 20px;
            @media all and (max-width:1199px){
                margin-bottom: 0;
            }
            .depoiment-item{
                padding: 0 15px;
                .depoiment-text{
                    padding: 23px;
                    padding-bottom: 75px;
                    border-radius: 4px;
                    background: #ffffff;
                    p{
                        color: #949494;
                        font-size: 14px;
                        line-height: 20px;
                        font-style: italic;
                    }
                }
                .depoiment-signature{
                    margin-top: -40px;
                    text-align: center;
                    img{
                        border-radius: 100%;
                        max-width: 85px;
                        margin: 0 auto;
                        border: 5px solid #0182C6;
                    }
                    span{
                        color: #ffffff;
                        line-height: 18px;
                        font-size: 14px;
                        font-style: italic;
                        display: block;
                        margin-top: 10px;
                        strong{
                            display: block;
                            font-size: 18px;
                            line-height: 18px;
                            font-weight: $bold;
                            font-style: italic;
                        }
                    }
                }
            }
            .slick-arrow{
                @media all and (max-width: 575px){
                    &.slick-prev{
                        left: 0;
                    }
                    &.slick-next{
                        right: 0;
                    }
                }                
            }
            .slick-list{
                @media all and (max-width: 575px){
                    padding: 0 15px;
                }
            }
            button{
                opacity: 0.5;
                svg{
                    path{
                        fill: #FFFFFF;
                    }
                }
                &:hover{
                    opacity: 1;
                }
            }
            .slick-dots{
                li{
                    &.slick-active{
                        button{
                            background: #FFA000;
                        }
                    }
                    button{
                        opacity: 1;
                        background: #FFFFFF;
                    }
                }
            }
        }
    }
    .box-about{
        overflow: hidden;
        .about-institutional-text{
            padding-top: 83px;
            padding-bottom: 40px;
            max-width: 722px;
            p{
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                font-style: italic;
                color: #ffffff;
                margin-bottom: 25px;
            }
        }        
        .about-img{
            img{
                max-width: calc(100% + 25px);
                position: absolute;
                right: 15px;
                bottom: 0;
                @media all and (max-width:1199px){
                    right: 0;
                }
            }
        }
    }
}
.admake-customers{
    background: #F5F5F5;
    padding: 40px 0;
    padding-bottom: 60px;
    .box-customers{
        .title-section{
            font-size: 20px;
            line-height: 25px;
            font-weight: 500;
            font-style: italic;
        }
        .customers{
            padding: 0 15px;
            margin-top: 50px;
            .customer-item{
                padding: 0 10px;
                img{
                    // max-width: 100%;
                    transition: 300ms all;
                    @media all and (max-width:992px){
                        margin: 0 auto;
                    }
                }
                &:hover{
                    img{
                        transform: scale(1.04);
                    }
                }
            }
            @media all and (min-width: 992px){
                .slick-list{
                    width: 100% !important;
                    // padding: 0 26px;
                    .slick-track{
                        // display: flex;
                        // align-items: center;
                        justify-content: space-between;
                        // width: 100% !important;
                        &:before,
                        &:after{
                            display: none;
                        }
                        .slick-slide{
                            // width: initial !important;
                            > div{
                                width: 100%;
                                li{
                                    a{
                                        img{
                                            max-width: 100%;
                                            margin: 0 auto;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .slick-list{
                .slick-track{
                    display: flex;
                    align-items: center;
                }
            }
            .slick-arrow{
                &.slick-prev{
                    left: -15px;
                }
                &.slick-next{
                    right: -15px;
                }
            }
            @media all and (max-width:575px){
                padding: 0;
                margin-right: -15px;
            }
        }
    }
}
.titulo-institucional{
    color: #0182C6;
    font-weight: 700;
    font-size: 30px;
    margin-top: 20px;
}
.conteudo-institucional{
    color: #373435;
    line-height: 25px;
    font-size: 15px;
    padding: 50px 0;
}