﻿// institucional
.institucional-content{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaeef2+0,eaeef2+30,ffffff+30 */
    background: #fff; /* Old browsers */
    background: -moz-linear-gradient(left,  #eaeef2 0%, #eaeef2 30%, #ffffff 30%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #eaeef2 0%,#eaeef2 30%,#ffffff 30%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #eaeef2 0%,#eaeef2 30%,#ffffff 30%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeef2', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */

    .col-nav{
        background: #EAEEF2;
        padding-top: 45px;
        padding-bottom: 125px;
        padding-right: 0;
        h2{
            font-weight: $semiBold;
            font-size: 16px;
            color: #16314F;
            line-height: 20px;
            margin: 0 0 15px 0;
            text-transform: uppercase;
            padding: 0 10px;
        }
        ul{
            li{
                a{
                    display: block;
                    font-weight: $regular;
                    font-size: 13px;
                    color: #7B8EA2;
                    line-height: 13px;
                    padding: 20px 10px;
                    background: transparent;
                    &:hover{
                        color: #FFA000;
                        font-weight: $semiBold;
                        background: #16314F;
                    }
                }
            }
        }
    }
    .col-text{
        padding-top: 45px;
        padding-bottom: 125px;
        padding-left: 30px;
        h1{
            font-weight: $semiBold;
            font-size: 36px;
            color: #16314F;
            line-height: 40px;
            margin: 0 0 20px 0;
            text-transform: uppercase;
        }
        h3{
            color: #16314F;
            font-size: 13px;
            font-weight: $semiBold;
            text-transform: uppercase;
            line-height: 18px;
        }
        p{
            font-weight: $regular;
            font-size: 13px;
            color: #5C7189;
            line-height: 23px;
        }
        b{
            font-weight: $semiBold;
        }
    }
}