﻿html{
    @media all and (max-width:991px){
        padding-bottom: 0 !important;
    }
}
#page-product {
    position: relative;
    .alert-installment{
        background: #F5F5F5;
    }
    .admake-blog-home{
        border-top: 1px solid #F5F5F5;
        padding-top: 60px;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    #buy-box-float{
        position: fixed;
        top: 130px;
        right: 0;
        left: 0;
        z-index: 1;
        border: 1px solid #E8EDEF;
        padding: 9px 0;
        background-image: linear-gradient(180deg, #D9DADB 0%, #EAEEF2 15%);
        background: #d9dadb; /* Old browsers */
        background: -moz-linear-gradient(top, #d9dadb 0%, #eaeef2 15%, #eaeef2 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d9dadb 0%,#eaeef2 15%,#eaeef2 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d9dadb 0%,#eaeef2 15%,#eaeef2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9dadb', endColorstr='#eaeef2',GradientType=0 ); /* IE6-9 */
        @media( max-width: 767px ){
            display: none!important;
        }
        .col-name{
            max-width: 40%;
            margin: 0 auto 0 20px;
            p{
                font-weight: $regular;
                font-size: 13px;
                color: #16314F;
                line-height: 18px;
                margin: 0;
                text-transform: uppercase;
            }
        }
        .col-price{
            margin-right: 20px;
            .productPrice{
                
            }
        }
    }
    #ad-product-buy-button{
        &:not(.no-stock){
            background: #90C74A;
            border-radius: 4px;
            height: 70px;
            width: 262px;
            display: flex;
            align-items: center;
            padding: 0 10px;
            margin-top: 30px;
            &:hover{
                background: darken(#90C74A, 5%);
            }
            @media all and (max-width:575px){
                width: 100%;
            }
        }
        &.no-stock{
            .buy-button,
            .quantity-selector-container{
                display: none!important;
            }
        }
    }
    .product-buy {
        .quantity-selector-container{
            // position: relative;
            // margin-right: 10px;
            // display: inline-block;
            // vertical-align: middle;
            // display: none!important;
            .quantityText {
                display: none;
            }
            label{
                position: relative;
                margin: 0;
            }
            input{
                width: 50px;
                height: 50px;
                background: #FFFFFF;
                border: 0 none;
                text-align: center;
                border-radius: 3px;
                font-weight: 500;
                font-size: 18px;
                font-style: italic;
                color: #BABABA;
                line-height: 35px;
            }
            .actions{
                position: absolute;
                top: 0;
                right: 0;
                left: 0;
                bottom: 0;
                button{
                    width: 15px;
                    height: 50px;
                    border: 0 none;
                    border-radius: 0;
                    font-weight: $bold;
                    font-size: 15px;
                    color: #0076AA;
                    line-height: 35px;
                    padding: 0;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    &.add-qty{
                        left: auto;
                        right: 0;
                    }
                }
            }
        }
        .buy-button {
            display: block !important;
            width: 262px;
            height: 70px;
            border-radius: 4px;
            background: transparent;
            border: 0 none;
            // font-size: 0;
            padding: 0;
            position: relative;
            color: #fff;
            font-weight: $medium;
            font-style: italic;
            font-size: 20px;
            text-align: center;
            line-height: 70px;
            // &:after{
            //     content: "Fazer Pedido";
            //     color: #fff;
            //     font-weight: $medium;
            //     font-style: italic;
            //     font-size: 20px;
            //     text-align: center;
            //     line-height: 70px;
            //     position: absolute;
            //     left: 0;
            //     right: 0;
            //     margin: auto;
            // }
        }
    }

    .plugin-preco {
        .valor-de,
        .valor-pr {
            display: block;
        }
        .valor-de {
            font-size: 0;
            line-height: 0;
            color: transparent;
            strong{
                font-weight: 500;
                font-size: 18px;
                color: #B8B8B8;
                line-height: 22px;
            }
            @media all and (max-width:575px){
                margin-right: 5px;
            }
        }
        .valor-por{
            font-size: 0;
            line-height: 0;
            color: transparent;
            strong{
                display: block;
                font-weight: $medium;
                font-size: 30px;
                color: #0182C6;
                line-height: 38px;
            }
        }
        .valor-dividido{
            font-weight: $regular;
            line-height: 14px;
            font-style: italic;
            font-size: 14px;
            color: #ADADAD;
            span, strong, label{
                margin: 0;
                display: inline;
                line-height: 14px;
            }
            label{
                font-weight: $bold;
                color: #0182C6;
                font-style: italic;
            }
            @media all and (max-width:575px){
                text-align: center;
            }
        }
        .preco-a-vista,
        .economia-de{
            display: none!important;
        }
        .descricao-preco{
            @media all and (max-width:575px){
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                .price-installments{
                    width: 100%;
                }
            }
        }
    }

    main {
        > .showcase{
            position: relative;
        }
        .product-main {
            background: #fff;
            padding-bottom: 35px;
            .col-price{
                width: 100%;
            }

            .product-image-flags {
                position: relative;
                .product-image {
                    &.adesivo-parede{
                        #show {
                            #include {
                                border-radius: 4px;
                                background: #D8D8D8;
                                min-height: 580px;
                            }
                        }
                    }
                    #show {
                        display: none;
                        position: relative;
                        &:after{
                            content: "";
                            display: table;
                            width: 100%;
                            clear: both;
                        }
                        #include {
                            background: #FFFFFF;
                            padding: 5px;
                            border-radius: 4px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            #image {
                                background: #fff;
                                .zoomPad {
                                    overflow: hidden;
                                    position: relative;
                                }
                                .zoomWindow {
                                    overflow: hidden;
                                    left: 0 !important;
                                    right: 0 !important;
                                    bottom: 0 !important;
                                    top: 0 !important;
                                    z-index: 10 !important;
                                }
                                .image-zoom {
                                    display: block;
                                    text-align: center;
                                    max-width: 500px;
                                    margin: 0 auto;
                                }
                                #image-main {
                                    display: block;
                                    margin: 0 auto;
                                    max-width: 100%;
                                }
                                .zoomWrapperImage {
                                    img {
                                        min-width: 1200px;
                                    }
                                }
                            }
                        }
                        #btn-movie{
                            cursor: pointer;
                            width: 75px;
                            height: 75px;
                            border-radius: 0;
                            border: 1px solid #7B8EA2;
                            background: #fff;
                            padding: 0;
                            margin-top: 15px;
                            i{
                                font-size: 30px;
                                line-height: 30px;
                                display: block;
                                color: #16314F;
                            }
                            span{
                                display: block;
                                font-size: 9px;
                                line-height: 11px;
                                color: #16314F;
                                text-transform: uppercase;
                            }
                            &:hover{
                                border-color: darken(#7B8EA2, 10%);
                                i, span{
                                    color: darken(#16314F, 10%);
                                }
                            }
                        }
                        .thumbs {
                            margin-top: 20px;
                            float: none;
                            text-align: center;
                            .slick-arrow{
                                background: transparent;
                                transform: rotate(-90deg);
                            }
                            li {
                                padding: 0 10px 0 0;
                                text-align: center;
                                display: inline-block;
                                vertical-align: middle;
                                a, button {
                                    // @include size(75px, 75px);
                                    border-radius: 0;
                                    text-align: center;
                                    background: #FFFFFF;
                                    // padding: 5px;
                                    // border: 1px solid #EAEEF2;
                                    border: none;
                                    display: inline-block;
                                    box-shadow: 0 0 0 transparent;
                                    img {
                                        // width: 65px;
                                        // height: 65px;
                                        display: block;
                                        margin: auto;
                                        border-radius: 4px;
                                        opacity: .3;
                                    }
                                    &.ON,
                                    &:hover {
                                        // border-color: #3C6895;
                                        img{
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .product-image-mobile {
                        padding: 45px;
                        border-radius: 4px;
                        margin-bottom: 30px;
                        img {
                            margin: auto;
                        }
                        .slick-dots{
                            margin: 3px 0 20px;
                            display: none !important;
                            li{
                                button{
                                    background: #F4F4F4;
                                    opacity: 1;
                                }
                                &.slick-active{
                                    button{
                                        background: #E02C3E;
                                        box-shadow: 0 2px 0 0 rgba(0,0,0,0.13);
                                    }
                                }
                            } 
                        }
                    }
                    &.adesivo-parede{
                        .product-image-mobile {
                            background: #D8D8D8;
                        }
                    }
                }
                .product-flags {
                    position: absolute;
                    top: 0;
                    right: 2px;
                    z-index: 1;
                    .flag {
                        @extend %flag;
                        &.retira-loja{
                            background: #435B9F;
                        }
                        // &[class*="frete-gratis"]{
                            font-size: 13px;
                            padding: 5px 10px;
                        // }
                    }
                }
            }


            .add-to-wishlist,
            .remove-to-wishlist{
                min-width: 155px;
                height: 30px;
                background: #FFA000;
                font-weight: $regular;
                font-size: 13px;
                color: #FFFFFF;
                line-height: 30px;
                padding: 0 15px;
                border: 0 none;
                border-radius: 0;
                margin-top: 20px;
                i{
                    margin-right: 4px;
                }
                &:hover{
                    background: darken(#FFA000, 10%);
                }
            }
            .product-name{
                margin-top: 20px;
                @media( min-width: 768px ){
                    margin: 0;
                }
                @media( max-width: 575px ){
                    margin-bottom: 30px;
                }
                .productName{
                    font-weight: $medium;
                    font-style: italic;
                    font-size: 24px;
                    color: #0182C6;
                    line-height: 28px;
                }
            }
            .model-cod{
                color: #807D7E;
                font-style: italic;
                font-size: 14px;
                line-height: 32px;
            }
            .price-border{
                position: relative;
                z-index: 2;
                margin-top: 15px;
                @media( min-width: 768px ){
                    margin-top: 0;
                }
            }

            .productDescriptionShort{
                font-weight: $regular;
                font-size: 12px;
                color: #5C7189;
                line-height: 18px;
            }

            .product-variations {
                margin-top: 15px;
                .topic {
                    margin-bottom: 17px;
                    .specification{
                        display: block;
                        font-weight: $medium;
                        font-size: 18px;
                        font-style: italic;
                        color: #0182C6;
                        line-height: 18px;
                        margin-bottom: 15px;
                    }
                    &[class*="Cor"],
                    &[class*="cor"]{
                        .specification{
                            display: flex;
                            align-items: center;
                            img{
                                margin-right: 10px;
                            }
                        }
                    }
                    .select{
                        select{
                            background: url(//graficaonixx.vteximg.com.br/arquivos/appearance-select.png) no-repeat scroll 95% center #F5F5F5;
                            border-radius: 4px;
                            min-width: 145px;
                            height: 48px;
                            color: #9C9C9C;
                            font-size: 14px;
                            font-weight: 400;
                            font-style: italic;
                            background-size: 8px;
                        }
                    }
                    .skuList{
                        span{
                            display: flex;
                            flex-wrap: wrap;
                            input{
                                display: none;
                            }
                            label{
                                cursor: pointer;
                                &:not([class*="Cor"]):not([class*="cor"]){
                                    background: #F5F5F5;
                                    font-weight: $regular;
                                    font-style: italic;
                                    font-size: 14px;
                                    color: #9C9C9C;
                                    line-height: 38px;
                                    min-width: 80px;
                                    height: 48px;
                                    padding: 5px 6px;
                                    border-radius: 4px;
                                    vertical-align: middle;
                                    margin: 2px;
                                    transition: 300ms all;
                                    text-align: center;
                                    &:hover{
                                        background: #0182C6;
                                        color: #FFFFFF;
                                        font-weight: $medium;
                                    }
                                    &.sku-picked{
                                        background: #0182C6;
                                        color: #FFFFFF;
                                        font-weight: $medium;
                                    }
                                }
                                &[class*="cor"],
                                &[class*="Cor"]{
                                    font-size: 0;
                                    width: 30px;
                                    height: 30px;
                                    border-radius: 100%;
                                    background: #CDCDCD;
                                    border: 3px solid #D9D9D9;
                                    margin-bottom: 0;
                                    margin: 0 3px;
                                    &:hover,
                                    &.sku-picked,
                                    &.active{
                                        border-color: #D9D9D9;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .portal-notify-me-ref {
                // padding: 20px;
                text-align: center;
                h3 {
                    @include title-default(20px, $color3, $mb: 10px);
                }
                p {
                    color: $colorPrimary;
                    font-size: 13px;
                    margin-bottom: 15px;
                }
                fieldset {
                    position: relative;
                    input {
                        vertical-align: middle;
                        height: 45px;
                        background: #fff;
                        &[type="text"] {
                            width: 100%;
                            &.notifyme-client-email {
                                padding-right: 50px;
                                margin: 5px 0 0;
                            }
                        }
                        &[type="button"] {
                            @extend %reset-btn;
                            @include size(45px);
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-align: center;
                            line-height: 45px;
                            color: $colorSecondary;
                            &::before {
                                @include fontAwesome("\f30b", $color: $color3);
                            }
                        }
                    }
                }
                @include media-queries('phone-wide') {
                    // padding: 30px 40px;
                    p {
                        margin-bottom: 25px;
                    }
                }
                @include media-queries('tablet') {
                    fieldset {
                        input {
                            &[type="text"] {
                                width: 49%;
                                &.notifyme-client-email {
                                    margin: 0 0 0 5px;
                                }
                            }
                            &[type="button"] {
                                right: 5px;
                            }
                        }
                    }
                }
                fieldset {
                    input {
                        &[type="text"] {
                            background: #F5F5F5;
                        }
                    }
                }
            }
            .product-price {
                
            }
            .other-payments{
                display: block;
                position: relative;
                border-radius: 0;
                margin-top: 15px;
                margin-bottom: 15px;
                padding: 25px;
                background: #F3F3F3;
                z-index: 1;
                display: none;
                .titulo-parcelamento{
                    font-weight: $semiBold;
                    font-size: 12px;
                    color: #16314F;
                    line-height: 18px;
                    text-transform: uppercase;
                    display: block;
                    cursor: pointer;
                }
                .see-other-payment-method-link{
                    display: none!important;
                }
                .other-payment-method-ul{
                    margin-top: 10px;
                    @media( min-width: 768px ){
                        column-count: 2;
                    }
                    li{
                        padding: 5px 0;
                        &.vista{
                            display: none;
                        }
                        *{
                            font-weight: $regular;
                            font-size: 12px;
                            color: #5C7189;
                            line-height: 14px;
                        }
                        strong{
                            font-weight: $semiBold;
                        }
                    }
                }
            }
            
            .col-buy-button {
                // margin-top: 20px;
                .unitSelector{
                    display: none;
                }
            }
            
            .product-shipping {
                .ad-shipping-form {
                    overflow: hidden;
                    padding-top: 25px;
                    background: #fff;
                    position: relative;
                    @media all and (max-width: 575px){
                        background: #F5F5F5;
                        border-radius: 4px;
                        padding: 10px;
                        margin-top: 15px;
                        justify-content: space-between;
                    }
                    h5 {
                        .text, i{
                            display: inline-block;
                            vertical-align: middle;
                        }
                        .text{
                            font-weight: $medium;
                            font-style: italic;
                            font-size: 15px;
                            color: #6B6B6B;
                            line-height: 19px;
                        }
                        i{
                            font-size: 16px;
                            color: #0182C6;
                            line-height: 16px;
                            margin-right: 10px;
                            text-align: center;
                        }
                    }
                    .box-input {
                        position: relative;
                        margin: 0 10px;
                        min-width: 200px;
                        input {
                            background: #F5F5F5;
                            height: 54px;
                            padding: 0 10px;
                            width: 100%;
                            font-weight: 400;
                            font-size: 15px;
                            border: 0 none;
                            border-radius: 4px;
                            color: #D0D0D0;
                            line-height: 13px;
                        }
                        #btn-shipping {
                            position: absolute;
                            top: 0;
                            right: 0;
                            border: 0 none;
                            border-radius: 0;
                            text-align: center;
                            width: 74px;
                            height: 54px;
                            font-weight: $bold;
                            font-size: 14px;
                            font-style: italic;
                            color: #0182C6;
                            line-height: 13px;
                            &:hover{
                                color: darken(#0182C6, 10%);
                            }
                            @media all and (max-width: 575px){
                                width: initial;
                            }
                        }
                        @media all and (max-width: 575px){
                            min-width: initial;
                            margin: 0;
                            width: 130px;
                            input{
                                padding: 0;
                            }
                        }
                    }
                    a {
                        display: block;
                        max-width: initial;
                        font-size: 12px;
                        font-style: italic;
                        line-height: 14px;
                        color: #ADADAD;
                        &:hover {
                            color: darken(#ADADAD, 10%);
                        }
                    }
                }
                #shipping-results {
                    margin: 10px 0 0;
                    p{
                        color: $color3;
                    }
                    .alert {
                        background: #F3F3F3;
                    }
                    table {
                        th, td{
                            padding: 5px 4px;
                        }
                        th {
                            color: $colorPrimary;
                            font-size: 11px;
                            text-align: left;
                            border-top: 0;
                            font-weight: $bold;
                        }
                        td {
                            color: $color3;
                            font-size: 11px;
                            text-align: left;
                            &.value {
                                font-weight: $bold;
                                min-width: 85px;
                            }
                        }
                    }
                }
            }
        }
        &.product-main-personalize-banner{
            .product-main {
                .product-shipping {
                    .ad-shipping-form {
                        .box-input {
                            input{
                                @media all and (max-width: 575px){
                                    padding: 0 15px;
                                    margin-left: 15px;
                                    border-radius: 6px;
                                    width: calc(100% - 15px);
                                }
                            }
                            @media all and (max-width: 575px){
                                width: initial;
                            }
                            #btn-shipping{
                                @media all and (max-width: 575px){
                                    font-size: 0 !important;
                                    // padding: 0;
                                    &:after{
                                        content: "Ok";
                                        font-size: 16px;
                                    }
                                }
                            }
                        }
                        @media all and (max-width: 575px){
                            background: transparent;
                            justify-content: initial;
                            padding: 0;
                        }
                    }
                }
                .plugin-preco {
                    .valor-dividido{
                        font-size: 14px;
                        color: #FFFFFF;
                        font-style: italic;
                        label{
                            font-weight: $bold;
                            color: #FFFFFF;
                        }
                    }
                }
                #ad-product-buy-button{
                    .quantity-selector-container{
                        display: none;
                    }
                }
            }
        }
    }
    .admake-buy-buttom-fixed{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #F0F0F0;
        z-index: 9999;
        height: 70px;
        padding: 5px 0;
        display: none;
        #ad-product-buy-button{
            width: 100%;
        }
        .zoomPup,
        .zoomWindow{
            display: none !important;
        }
        .apresentacao{
            #image{
                #image-main{
                    max-width: 60px;
                    border-radius: 4px;
                }
            }
            #show{
                .thumbs{
                    display: none;
                }
            }
        }
        .productName{
            color: #0182C6;
            font-size: 18px;
            font-weight: 500;
            font-style: italic;
            line-height: 28px;
        }
        #ad-product-buy-button{
            margin: 0;
            height: 56px;
            .buy-button{
                height: 56px;
                &:after{
                    line-height: 56px;
                    font-size: 18px;
                }
            }
            .quantity-selector-container {
                input{
                    width: 47px;
                    height: 47px;
                }
            }
        }
        @media all and (max-width: 991px){
            display: none !important;
        }
    }
    .description-specification{
        background: #F5F5F5;
        padding: 46px 0;
        padding-bottom: 61px;
        color: #AEAEAE;
        font-style: italic;
        font-size: 16px;
        line-height: 24px;
        margin-top: 40px;
        margin-bottom: 30px;
        .productDescription{
            max-width: 946px;
            text-align: center;
            margin: 0 auto;
            iframe{
                margin-top: 44px;
                width: 100%;
                height: 560px;
                border-radius: 4px;
                @media all and (max-width:991px){
                    height: 300px;
                }
            }
        }
    }
    .admake-header-prod-tabs{
        margin-bottom: 40px;
        padding: 0 15px;
        ul{
            li{
                border: 1px solid #0182C6;
                padding: 15px;
                border-radius: 4px;
                opacity: .2;
                cursor: pointer;
                transition: .3s;
                h2{
                    color: #373435;
                    font-weight: $medium;
                    font-style: italic;
                    font-size: 16px;
                    text-align: center;
                }
                &:hover,
                &.active{
                    opacity: 1;
                }
                + li{
                    margin-left: 20px;
                }
            }
        }
    }
    .admake-product-tab-content{
        display: none;
        &.active{
            display: block;
        }
    }
}

#admake-personalizar-porta{
    background: #F5F5F5;
    padding-top: 45px;
    position: relative;
    margin-top: 15px;
    &:before{
        content: "";
        position: absolute;
        background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-depoiments.png) no-repeat;
        background-size: 1521px;
        background-position: center 30px;
        height: 68px;
        width: 100%;
        bottom: 100%;
    }
    &:after{
        content: "";
        position: absolute;
        background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-header-new.png) no-repeat #FFFFFF;
        background-size: 1500px;
        background-position: center top;
        height: 68px;
        width: 100%;
        bottom: 0;  
    }
    .personalize-step-1{
        &.letra{
            // height: 50px;
            line-height: 50px;
            margin-bottom: 50px;
            .personalize-options{
                .get-letras{
                    button{
                        background: transparent;
                        border: none;
                        color: #CFCFCF;
                        font-size: 18px;
                        font-weight: $bold;
                        font-style: italic;
                        &:hover,
                        &.selected{
                            color: #404040;
                        }
                    }
                }
                .get-letra{
                    color: #404040;
                    font-size: 71px;
                    font-weight: 700;
                    font-style: italic;
                    margin-right: 30px;
                }
            }
        }
    }
    .personalize-step-2{
        margin-bottom: 50px;
        @media all and (max-width: 991px){
            margin-bottom: 25px;
        }
        &.nome{
            .personalize-options{
                .personalize-input{
                    background: #FFFFFF;
                    border-radius: 4px;
                    height: 50px;
                    width: 270px;
                    margin-right: 15px;
                    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
                    position: relative;
                    .personalize-name-apply{
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        border: none;
                        right: 15px;
                        color: #0182C6;
                        font-size: 14px;
                        font-weight: 700;
                        font-style: italic;
                        background: transparent;
                    }
                    input{
                        background: transparent;
                        color: #9C9C9C;
                        font-size: 14px;
                        font-style: italic;
                        line-height: 16px;
                        padding: 0 15px;
                    }
                    + p{
                        color: #9C9C9C;
                        font-size: 14px;
                        font-style: italic;
                        line-height: 16px;
                        @media all and (max-width: 991px){
                            margin-top: 10px;
                            margin-bottom: 20px;
                        }
                    }
                }
                .get-nome{
                    color: #404040;
                    font-size: 24px;
                    font-weight: 700;
                    font-style: italic;
                    line-height: 27px;
                    margin-left: 30px;
                    @media all and (max-width: 991px){
                        margin: 0;
                        text-align: center;
                    }
                }
            }
        }
    }
    .personalize-step-3{
        margin-bottom: 50px;
        padding: 5px 0;
        @media all and (max-width: 991px){
            margin-bottom: 25px;
        }
        .personalize-options{
            height: 50px;
            button{
                &.personalize-estampa{
                    border: none;
                    background: transparent;
                    padding: 0 6px;
                    margin-bottom: 5px;
                    &.selected{
                        img{
                            border: 1px solid #0182C6;
                            box-shadow: 0 0 10px 2px rgba(1,130,198,.5);
                        }
                    }
                    img{
                        border-radius: 4px;
                        width: 55px;
                        height: 55px;
                    }
                }
            }
            @media all and (max-width: 991px){
                height: auto;
            }
        }
    }
    .admake-title-type-button{
        line-height: 50px;
        border: 1px solid #0182C6;
        border-radius: 4px;
        height: 50px;
        width: 180px;
        text-align: center;
        color: #373435;
        font-weight: 500;
        font-style: italic;
        font-size: 16px;
        margin: 0 auto;
        margin-bottom: 50px;
        @media all and (max-width: 991px){
            margin-bottom: 25px;
        }
    }
    .get-result{
        position: relative;
        // width: 320px;
        width: 400px;
        height: 630px;
        // height: 452px;
        margin: 0 auto;
        max-width: 100%;
        .get-letra,
        .get-nome{
            position: absolute;
            left: 0;
            right: 0;
            display: block;
            color: #000;
            text-align: center;
            font-family: 'ChunkFive Ex';
            font-weight: normal;
            background-repeat: repeat;
            background-size: 50px 50px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .get-letra{
            // font-size: 150px;
            font-size: 180px;
            line-height: 1em;
            // top: 120px;
            top: 50px;
            @media all and (max-width: 767px) {
                font-size: 100px;
            }
        }
        .get-nome{
            // font-size: 50px;
            font-size: 70px;
            line-height: 1em;
            // top: 236px;
            top: 200px;
            margin-top: 20px;
            @media all and (max-width: 767px) {
                font-size: 30px;
            }
        }
        img{
            width: 100%;
        }
    }
    .personalize-titulo{
        background: #0182C6;
        border-radius: 4px;
        text-align: center;
        padding: 7px 0;
        // margin-bottom: 40px;
        @media all and (max-width: 991px){
            margin-bottom: 25px;
        }
        h3{
            color: #FFFFFF;
            text-transform: initial;
            font-size: 16px;
            font-weight: $medium;
            font-style: italic;
            line-height: 20px;
            margin: 0;
            margin-bottom: 3px;
        }
        p{
            font-size: 12px;
            font-style: italic;
            font-weight: $regular;
            line-height: 14px;
        }
    }
    .add-to-cart-personalize{
        border: none;
        background: #90C74A;
        border-radius: 4px;
        color: #ffffff;
        height: 50px;
        width: 100%;
        font-size: 15px;
        font-style: italic;
        font-weight: 500;
        margin-top: 50px;
        &:hover{
            background: darken(#90C74A, 5%);
        }
        @media all and (max-width: 991px){
            margin-top: 0;
            margin-bottom: 40px;
        }
    }
}
.cta-personalizar{
    background: #0182C6;
    border-radius: 4px;
    height: 48px;
    line-height: 48px;
    color: #ffffff;
    text-align: center;
    width: 150px;
    font-weight: 700;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    &:hover{
        background: darken(#0182C6, 10%);
    }
    @media all and (max-width: 575px){
        width: 100%;
    }
}
.cta-simule-o-ambiente{
    background: #0182C6;
    min-height: 50px;
    border-radius: 4px;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
    max-width: 185px;
    font-weight: 500;
    font-style: italic;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
    &:hover{
        background: darken(#0182C6, 10%);
    }
}
.cta-simule-o-ambiente-in-photo{
    position: absolute;
    z-index: 99;
    top: 20px;
    left: 20px;
    border-radius: 4px;
    background: rgba(255,255,255,.6);
    min-height: 40px;
    line-height: 40px;
    min-width: 155px;
    text-align: center;
    color: #0182C6;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    cursor: pointer;
    &:hover{
        background: #FFFFFF;
    }
}
.simu-calculator{
    margin-bottom: 20px;
    margin-top: 20px;
    .simu-calculator-title{
        display: block;
        font-size: 18px;
        font-weight: 500;
        font-style: italic;
        color: #0182C6;
        line-height: 18px;
        margin-bottom: 8px;
    }
    .simu-calculator-subtitle{
        display: block;
        font-size: 12px;
        color: #807D7E;
        font-weight: 500;
        font-style: italic;
        line-height: 15px;
    }
    .main-calculator{
        margin-top: 10px;
        span{
            font-size: 14px;
            font-style: italic;
            color: #807D7E;
            line-height: 14px;
            font-weight: $regular;
            padding: 0;
            padding-right: 10px;
            @media all and (max-width: 575px){
                margin-bottom: 5px;
                padding: 0;
            }
        }
        input{
            @media all and (min-width: 576px){
                max-width: 92px;
            }
            background: #F5F5F5;
            border-radius: 4px;
            height: 48px;
            color: #9C9C9C;
            font-size: 14px;
            font-style: italic;
            line-height: 16px;
            &:focus{
                background: #F5F5F5;
            }
        }
        @media all and (max-width: 575px){
            > div{
                margin-bottom: 10px;
            }
        }
    }
    .btn-simu{
        background: #0182C6;
        border: none;
        border-radius: 4px;
        color: #FFFFFF;
        width: 122px;
        height: 48px;
        font-weight: 700;
        font-style: italic;
        font-size: 16px;
        &:hover{
            background: darken(#0182C6, 5%)
        }
        @media all and (max-width: 575px){
            width: 100%;
        }
    }
    .result-calculator{
        // text-align: center;
        margin-top: 15px;
        > span{
            display: none;
        }
        p{
            margin: 0;
            color: #323232;
            letter-spacing: 0;
            font-weight: 700;
            display: inline-block;
            vertical-align: middle;
            font-size: 14px;
            .qty-calculator{
                color: #0182C6;
                font-size: 16px;
                margin-top: 5px;
                display: block;
                &.plural{
                    &:after{
                        content: ' rolos';
                    }
                }
                &.single{
                    &:after{
                        content: ' rolo';
                    }
                }
            }
        }
    }
}
#page-product{
    .product-main-personalize-banner{
        &, .product-main{
            background: #F5F5F5 !important;
        }
        // .department-header{
            // border-top: 1px solid #EAEAEA;
            .bread-crumb{
                border-top: 1px solid #EAEAEA;
                background: #F5F5F5;
                .bread-crumb{
                    margin: 0;
                }
            }
        // }
        .title-personalize-banner{
            color: #0182C6;
            font-size: 26px;
            font-weight: 500;
            font-style: italic;
            line-height: 33px;
            margin-bottom: 20px;
        }
        .box-upload-personalize-banner{
            background: #FFFFFF;
            padding: 20px;
            border-radius: 4px;
            margin-bottom: 35px;
            .box-upload{
                background: #0182C6;
                border-radius: 6px;
                text-align: center;
                padding: 20px 25px;
                width: 223px;
                height: 255px;
                position: relative;
                margin-right: 20px;
                cursor: pointer;
                @media all and (max-width: 991px){
                    width: 100%;
                    margin-bottom: 15px;
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    text-align: left;
                    margin-right: 0;
                    height: auto;
                    padding: 22px 10px;
                }
                svg{
                    position: absolute;
                    right: 15px;
                    top: 15px;
                    display: none;
                    @media all and (max-width: 991px){
                        right: 5px;
                        top: 5px;
                    }
                }
                &.uploaded{
                    svg{
                        display: block;
                    }
                }
                > label{
                    display: block;
                    margin: 0;
                    cursor: pointer;
                    @media all and (min-width: 992px){
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        top: 0;
                    }
                }
                &.checagem-profissional{
                    background: #F3F3F3;
                    .box-upload-containt {
                        strong{
                            color: #143F56;
                        }
                        span{
                            color: #7D8183;
                        }
                    }
                    @media all and (max-width: 991px){
                        margin-bottom: 0;
                    }
                }
                label{
                    cursor: pointer;
                }
                .box-upload-containt{
                    @media all and (min-width: 992px){
                        position: absolute;
                        bottom: 20px;
                        left: 25px;
                        right: 25px;
                        img{
                            margin-bottom: 30px;
                        }
                    }
                    @media all and (max-width: 991px){
                        img{
                            margin-right: 20px;
                            max-width: 40px;
                        }
                    }
                    strong,
                    span{
                        display: block;
                        color: #FFFFFF;
                        font-style: italic;
                    }
                    strong{
                        font-size: 16px;
                        font-weight: $medium;
                        line-height: 20px;
                        margin-bottom: 5px;
                    }
                    span{
                        font-size: 12px;
                        line-height: 14px;
                        @media all and (max-width: 991px){
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .box-variations-upload-personalize-banner{
            margin-bottom: 55px;
            // .sku-selector-container{
                .specification{
                    color: #143F56;
                    font-size: 20px;
                    font-weight: 500;
                    font-style: italic;
                    line-height: 25px;
                    margin-bottom: 20px;
                }
                ul{
                    margin-bottom: 35px;
                    &.box-custom-format{
                        .skuList{
                            span{
                                label{
                                    &:last-child{
                                        font-size: 14px;
                                        padding: 1px 10px;
                                    }
                                }
                            }
                        }
                    }
                    .skuList{
                        span{
                            display: flex;
                            flex-wrap: wrap;
                            align-items: center;
                            margin: 0 -7.5px;
                            input{
                                display: none;
                                &.custom-format{
                                    display: block;
                                    margin-left: 10px;
                                    border-radius: 4px;
                                    background: #ffffff;
                                    width: 70px;
                                    height: 50px;
                                    font-size: 12px;
                                    color: #BABABA;
                                    font-weight: 500;
                                    font-style: italic;
                                    padding: 0 2px;
                                }
                            }
                            label{
                                border: 4px solid #E9E9E9;
                                border-radius: 6px;
                                line-height: 16px;
                                padding: 10px;
                                text-align: center;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #143F56;
                                font-size: 16px;
                                font-weight: 500;
                                font-style: italic;
                                cursor: pointer;
                                min-width: 113px;
                                min-height: 60px;
                                margin: 0 7.5px;
                                margin-bottom: 15px;
                                &:not(.combination_unavaliable):hover,
                                &:not(.combination_unavaliable).sku-picked{
                                    background: #0182C6;
                                    border-color: #0182C6;
                                    color: #FFFFFF;
                                }
                                &.combination_unavaliable{
                                    color: #9C9C9C;
                                    background: #F5F5F5;
                                    cursor: not-allowed;
                                }
                                @media all and (max-width: 767px){
                                    max-width: 113px;
                                    &.label-custom-format{
                                        max-width: initial;
                                        width: 92%;
                                    }
                                }
                            }
                        }
                    }
                    @media all and (max-width:575px){
                        padding-left: 5px;
                    }
                }
            // }
        }
        .box-variations-upload-personalize-banner,
        .shipping-personalize-banner,
        .summary-personalize-banner{
            background: #ffffff;
            border-radius: 4px;
            padding: 20px;
        }
        .box-summary-personalize-banner{
            @media all and (max-width: 991px){
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                background: rgba(0,0,0,0.5);
                z-index: 99999;
                padding-top: 30px;
                padding-bottom: 30px;
                display: none;
                &.visible{
                    display: block;
                }
            }
        }
        .summary-personalize-banner{
            padding-bottom: 40px;
            position: relative;
            max-height: 45vh;
            overflow: auto;
            .close-summary{
                position: absolute;
                right: 15px;
                top: 15px;
                i{
                    color: #807D7E;
                }
            }
            h3{
                margin: 0;
                color: #055D8C;
                font-size: 22px;
                font-weight: 500;
                font-style: italic;
                text-transform: inherit;
                line-height: 27px;
                margin-bottom: 20px;
            }
            ul{
                li{
                    span{
                        &.summary-label{
                            color: #143F56;
                            font-size: 15px;
                            font-weight: $medium;
                            font-style: italic;
                            line-height: 28px;
                        }
                    }
                    strong{
                        color: #7C8183;
                        font-size: 15px;
                        line-height: 28px;
                        font-weight: $regular;
                        font-style: italic;
                    }
                }
            }
        }
        .summary-personalize-banner-product-price-buy{
            .product-price-buy{
                .product-price{
                    background: #0182C6;
                    border-radius: 0px 0px 4px 4px;
                    min-height: 80px;
                    text-align: center;
                    padding: 22px 0;
                    padding-bottom: 12px;
                    margin-bottom: 30px;
                    .plugin-preco {
                        .valor-por {
                            strong{
                                color: #FFFF !important;
                            }
                        }
                    }
                }
            }
        }
        .product-shipping {
            h5{
                color: #143F56;
                font-size: 20px;
                font-weight: $medium;
                font-style: italic;
                line-height: 25px;
                margin-bottom: 5px;
            }
            .ad-shipping-form {
                padding-top: 10px !important;
                @media all and (max-width: 575px){
                    display: flex;
                    align-items: center;
                }
                i{
                    color: #143F56;
                    font-size: 20px;
                    line-height: 21px;
                }
                .box-input{
                    width: 299px;
                    input{
                        background: #E9E9E9 !important;
                        color: #7C8183 !important;
                        font-size: 16px !important;
                        font-style: italic;
                    }
                    #btn-shipping{
                        font-weight: $medium !important;
                        font-size: 16px !important;
                        padding: 0 15px;
                        width: initial !important;
                    }
                }
            }
        }
        .admake-depoiments-about-home{
            margin-top: 40px;
            &:before{
                display: none;
            }
        }
        .actions-personalize-banner{
            margin-top: 25px;
            .product-price-buy{
                @media all and (min-width: 576px){
                    display: flex;
                    align-items: center;
                    .col-price {
                        width: 360px;
                        margin-right: 30px;
                    }
                }
                @media all and (max-width: 575px){
                    .col-price{
                        margin-bottom: 15px;
                    }
                    .col-buy-button {
                        #ad-product-buy-button{
                            width: 100%;
                            .buy-button{
                                width: 100%;
                            }
                        }
                    }
                }
                .plugin-preco{
                    // width: calc(100% - 50px);
                    width: 100%;
                    text-align: center;
                }
                .product-price{
                    background: #0182C6;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    min-height: 80px;
                    padding: 15px;
                    .quantitySelector{
                        background: #FFFFFF;
                        border-radius: 4px;
                        width: 50px;
                        height: 50px;
                        position: relative;
                        // display: none;
                        input{
                            border: none;
                            color: #BABABA;
                            font-size: 18px;
                            font-weight: 500;
                            font-style: italic;


                            width: 50px;
                            height: 50px;
                            background: #FFFFFF;
                            border: 0 none;
                            text-align: center;
                            border-radius: 3px;
                            font-weight: 500;
                            font-size: 18px;
                            font-style: italic;
                            color: #BABABA;
                            line-height: 35px;
                        }
                        .actions{
                            position: absolute;
                            top: 0;
                            right: 0;
                            left: 0;
                            bottom: 0;
                            button{
                                width: 15px;
                                height: 50px;
                                border: 0 none;
                                border-radius: 0;
                                font-weight: 700;
                                font-size: 15px;
                                color: #0076AA;
                                line-height: 35px;
                                padding: 0;
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 0;
                                &.add-qty{
                                    left: auto;
                                    right: 0;
                                }
                                @media all and (max-width: 575px){
                                    width: 17px;
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                    .plugin-preco {
                        .valor-por {
                            strong{
                                color: #ffffff;
                            }
                        }
                    }
                }
            }
            #ad-product-buy-button{
                margin-top: 0;
                min-height: 80px;
                // .quantity-selector-container{
                //     display: none !important;
                // }
            }
        }
    
    }
}    
#modal-checagem-profissional{
    display: none;
    position: absolute;
    z-index: 9999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .mask{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.2);
        z-index: 101;
    }
    .close{
        opacity: 1;
        text-shadow: initial;
        float: none;
        height: 15px;
        width: 15px;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: .5;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        i{
            color: #807D7E;
            font-size: 15px;
        }
    }
    .box-checagem-profissional{
        border-radius: 4px;
        max-width: 655px;
        min-height: 396px;
        background: #FFFFFF;
        padding: 35px;
        z-index: 105;
        left: 0;
        right: 0;
        top: 30px;
        bottom: 0;
        margin: auto;
        width: calc(100% - 30px);
        height: auto;
        position: relative;
        .checagem-profissional-title{
            color: #0182C6;
            font-size: 18px;
            font-weight: $medium;
            font-style: italic;
            line-height: 28px;
            margin-bottom: 30px;
        }
        .checagem-profissional-description{
            p{
                color: #7C8183;
                font-size: 16px;
                font-style: italic;
                line-height: 23px;
                font-weight: $regular;        
                @media all and (max-width: 575px){
                    font-size: 13px;
                }
            }
        }
        .checagem-profissional-value{
            margin-top: 40px;
            margin-bottom: 15px;
            span{
                color: #143F56;
                font-size: 16px;
                font-weight: 500;
                font-style: italic;
                line-height: 28px;
                width: 215px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                strong{
                    font-weight: $regular;
                    color: #7C8183;
                    font-style: italic;
                    font-size: 16px;
                    line-height: 18px;
                }
            }
        }
        .checagem-profissional-cta{
            background: #0182C6;
            border-radius: 4px;
            text-align: center;
            height: 50px;
            width: 215px;
            cursor: pointer;
            font-size: 16px;
            label{
                color: #FFFFFF;
                line-height: 50px;
                font-weight: 500;
                font-style: italic;
                cursor: pointer;
            }
            &:hover{
                background: darken(#0182C6, 5%);
            }
            &.btn-remove-checagem{
                background: #F58634;
                &:hover{
                    background: darken(#F58634, 5%);
                }
            }
        }
    }
}
#modal-simule-o-ambiente{
    display: none;
    position: relative;
    z-index: 9999;
    .mask{
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 101;
    }
    .box-simule-o-ambiente{
        border-radius: 4px;
        width: 945px;
        height: 446px;
        background: #FFFFFF;
        padding: 35px;
        position: fixed;
        z-index: 105;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        overflow: auto;
        @media all and (max-width: 767px){
            max-height: 670px;
            height: 80vh;
        }
        @media all and (max-width: 575px){
            max-width: calc(100% - 30px);
        }
        .simule-o-ambiente{
            #image-main{
                max-width: 100%;
                @media all and (max-width: 575px){
                    max-width: 174px;
                }
            }
            @media all and (min-width: 768px){
                height: 100%;
            }
            @media all and (max-width: 767px){
                padding: 0 15px;
                .image{
                    margin-bottom: 15px;
                }
                .colors{
                    padding: 0;
                }
            }
            .product-variations{
                .topic{
                    display: none;
                    &.Cordoadesivo{
                        display: block;
                    }
                    .specification{
                        img{
                            display: none;
                        }
                    }
                }
            }
            h2{
                color: #0182C6;
                font-size: 24px;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 20px;
                @media all and (max-width:575px){
                    display: none;
                }
            }
            h3{
                margin: 0;
                color: #0182C6;
                line-height: 28px;
                font-size: 18px;
                text-transform: none;
                font-weight: 500;
                font-style: italic;
                margin-bottom: 20px;
            }
            .cta-ok-simule-o-ambiente{
                background: #0182C6;
                border-radius: 4px;
                color: #ffffff;
                text-align: center;
                min-height: 50px;
                width: 185px;
                line-height: 50px;
                font-size: 16px;
                font-weight: 500;
                font-style: italic;
                cursor: pointer;
                margin-top: 30px;
                &:hover{
                    background: darken(#0182C6, 5%);
                }
                @media all and (max-width:575px){
                    width: 100%;
                }
            }
            .image{
                border-radius: 4px;
                background: #D8D8D8;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 15px;
                .product-image{
                    .apresentacao{
                        #show{
                            #include{
                                text-align: center;
                                .zoomPup,
                                .zoomWindow{
                                    display: none !important;
                                }
                            }
                            .thumbs{
                                display: none;
                            }
                        }
                    }
                }
            }
            .colors{
                ul{
                    &.colors-simulate{
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        li{
                            span{
                                font-size: 0;
                                width: 30px;
                                height: 30px;
                                border-radius: 100%;
                                background: #CDCDCD;
                                border: 3px solid #D9D9D9;
                                margin-bottom: 0;
                                margin: 0 3px;
                                display: block;
                                cursor: pointer;
                                margin-bottom: 5px;
                            }
                            &:hover,
                            &.active{
                                span{
                                    border-color: #D9D9D9;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .close{
        text-shadow: initial;
        float: none;
        height: 15px;
        width: 15px;
        position: absolute;
        right: 15px;
        top: 15px;
        opacity: .5;
        font-size: 15px;
        cursor: pointer;
        &:hover{
            opacity: 1;
        }
        @media all and (max-width:575px){
            color: #FFF;
            font-size: 18px;
            position: fixed;
            top: 10px;
            opacity: 1;
        }
    }
}
.related-products{
    padding-bottom: 100px;
}
.box-btn-summary{
    position: fixed;
    z-index: 9999;
    bottom: 15px;
    right: 15px;
    display: flex;
    align-items: center;
    span{
        display: flex;
        background: #0182C6;
        color: #FFFFFF;
        padding: 5px 15px;
        padding-right: 25px;
        margin-right: -15px;
        border-radius: 40px;
        font-size: 12px;
        border: 1px solid #FFFFFF;
    }
    .btn-summary{
        border-radius: 100%;
        background: #0182C6;
        color: #FFFFFF;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        font-size: 25px;
        // position: fixed;
        // z-index: 9999;
        // bottom: 15px;
        // right: 15px;
        border: 1px solid #FFF;
    }
}
.summary-fixed{
    @media all and (min-width:992px){
        z-index: 199;
        position: sticky;
        top: 100px;
        transition: .3s ease;
        &.more-top{
            top: 150px;
        }
    }
}
.admake-acessories{
    display: none;
}