.wishlist-content{
    .wishlist-grid{
        margin: 0 -15px;
        > li{
            padding: 15px;
            width: 25%;
            .ad-showcase-product{
                width: 100%;

                .remove-to-wishlist{
                    font-weight: $regular;
                    font-size: 12px;
                    color: #7B8EA2;
                    width: 100%;
                    height: 40px;
                    padding: 0;
                    border-radius: 0;
                    border: 0 none;
                    background: transparent;
                    i{
                        margin-right: 5px;
                    }
                    &:hover{
                        color: darken(#7B8EA2, 15%);
                    }
                }
            }
        }
    }
    .admake-showcase{
         > i{
            font-size: 30px;
            line-height: 40px;
            width: 40px;
            text-align: center;
            display: block;
            margin: 60px auto;
        }
    }
}