%reset-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

// bootstrap 4
%d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

%align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}

%justify-content-between {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

%flex-wrap {
    -ms-flex-wrap: wrap !important;
    flex-wrap: wrap !important;
}

ul {
    &.list-unstyled {
        @extend %reset-ul;
    }
    &.list-inline {
        @extend %reset-ul;
        li {
            display: inline-block;
        }
    }
}

.modal-body{
    * {
        color: #fff;
    }
    .btn{
        background: #fff;
        margin: 10px 0 0;
        color: #4c4c4c;
        border: 0 none;
        border-radius: 6px;
        &:hover, &:active, &:focus{
            background: #fff;
            border: 0 none;
            color: #111;
        }
    }
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.justify-content-between {
    @extend %justify-content-between;
}

.align-items-center {
    @extend %align-items-center;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-none{
    display: none !important;
}
@media (min-width: 768px){
    .d-md-block {
        display: block!important;
    }
}

@media (min-width: 992px) {
    .d-lg-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

@media (min-width: 768px) {
    .d-md-flex {
        display: -ms-flexbox !important;
        display: flex!important;
    }
}

@media (min-width: 576px) {
    .d-sm-flex {
        display: -ms-flexbox !important;
        display: flex!important;
    }
}

@include media-queries('phone-wide', max) {
    .hidden-xs {
        display: none !important;
    }
    body .container {
        padding: 0 15px !important;
    }
}

@include media-queries('tablet', max) {
    .hidden-sm {
        display: none !important;
    }
}

.full-cart .cart table tbody tr{
    min-height: 120px;
}
.full-cart .cart table tbody tr + tr{
    border-top: 1px solid #ddd;
    margin-top: 10px;
}