@font-face {
    font-family: 'ChunkFive Ex';
    src: url('/arquivos/ChunkFiveEx.eot.css');
    src: url('/arquivos/ChunkFiveEx.eot.css?#iefix') format('embedded-opentype'),
        url('/arquivos/ChunkFiveEx.woff2.css') format('woff2'),
        url('/arquivos/ChunkFiveEx.woff.css') format('woff'),
        url('/arquivos/ChunkFiveEx.ttf.css') format('truetype');
    font-weight: normal;
    font-style: normal;
}

