#if ($product.IsInStock)
    <div class="box-acessories-price">
        <span class="acessories-price">$product.BestPrice</span>
    </div>

    <div class="acessories-buy-btn">
        $product.BottomBuy
    </div>
#end