﻿.benefits-banner{
    background: $color3;
    border-bottom: 1px solid #364960;
    padding: 22px 0;
    .icon, .text{
        display: block;
    }
    .icon{
        margin-bottom: 10px;
        text-align: center;
        i{
            font-size: 20px;
            color: #3C6895;
            line-height: 22px;
            margin: auto;
        }
    }
    .text{
        font-weight: $regular;
        font-size: 13px;
        color: #7E99B7;
        line-height: 20px;
        text-align: center;
        strong{
            display: block;
            font-weight: $semiBold;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 20px;
        }
    }
}