﻿section.bread-crumb{
    display: none;
    position: relative;
    background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-header-new.png) no-repeat #FFFFFF;
    background-size: 1500px;
    background-position: center top;
    .bread-crumb{
        margin-bottom: 15px;
        padding: 14px 0;
        // border-bottom: 1px solid #EBECEC;
    }
    ul{
        position: relative;
        z-index: 3;
        margin: 0;
        li{
            position: relative;
            display: inline-block;
            vertical-align: middle;
            padding: 0;
            &:after{
                @include fontAwesome('\f111', 'fas');
                display: inline-block;
                vertical-align: middle;
                font-size: 5px;
                color: #0182C6;
                line-height: 15px;
                margin: 0 5px 0 10px;
            }
            &, a{
                font-weight: $regular;
                font-size: 14px;
                color: #5C7189;
                line-height: 17px;
                &[href="/"]{
                    font-size: 0;
                    color: transparent;
                    line-height: 0;
                    padding: 0;
                    &:before{
                        content: "Página Inicial";
                        font-weight: $regular;
                        font-size: 14px;
                        color: #807D7E;
                        line-height: 32px;
                        display: inline-block;
                        font-style: italic;
                    }
                }
            }
            &.last, &:last-child{
                &:after{
                    display: none;
                }
                &, a{
                    font-weight: $medium;
                    color: #0182C6;
                }
                a:hover{
                    color: darken(#0182C6, 10%);
                }
            }
        }
    }
    @include media-queries('phone'){
        display: block;
    }
}