﻿// MY CART
#admake-cart-sidebar {
    @include modals;
    z-index: 9999999;
    > .content{
        max-width: 343px;
    }
    .cart-header {
        padding: 21px 30px;
        position: relative;
        background: #0182C6;
        strong {
            font-weight: $medium;
            font-size: 18px;
            color: #FFFFFF;
            line-height: 22px;
            font-style: italic;
            margin-left: 10px;
        }
        .cart-btn-close {
            right: 15px;
            width: 30px;
            height: 30px;
            border-radius: 0;
            background: transparent;
            border: 0 none;
            i{
                display: block;
                font-size: 15px;
                color: #FFFFFF;
                line-height: 15px;
                text-align: center;
            }
            &:hover{
                transform: scale(1.04);
            }
        }
    }
    .cart-body {
        // padding: 15px;
        overflow-y: auto;
        .cart-loader{
            text-align: center;
            font-size: 30px;
        }
        .cart-items{
            > button{
                margin-top: 10px;
                cursor: pointer;
                display: block;
                width: 100%;
                height: 50px;
                border: 1px solid $colorBorder;
                background: #f1f1f1;
                font-weight: $semiBold;
                font-size: 13px;
                color: #373435;
                letter-spacing: 0;
                &:hover {
                    background: darken(#f1f1f1, 5%);
                }
            }
            .item{
                padding: 25px;
                position: relative;
                border-bottom: 1px solid #EFEFEF;
                &:last-child{
                    border-bottom: none;
                }
                .item-image{
                    max-width: 65px;
                    width: 65px;
                }
                .item-details{
                    width: calc(100% - 70px);
                    padding: 0 15px;
                    .item-name{
                        margin-bottom: 5px;
                        a{
                            font-weight: $medium;
                            font-size: 12px;
                            color: #636363;
                            line-height: 15px;
                        }
                    }
                    .item-qty, .item-listprice, .item-bestprice, .item-freeprice{
                        vertical-align: middle;
                    }
                    .item-qty,.item-freeprice{
                        display: none;
                    }
                    .item-listprice{
                        vertical-align: middle;
                        font-weight: $medium;
                        font-size: 14px;
                        color: #B8B8B8;
                        line-height: 17px;
                        margin-right: 5px;
                    }
                    .item-bestprice{
                        font-weight: $medium;
                        font-size: 20px;
                        color: #0182C6;
                        line-height: 25px;
                    }
                    .item-freeprice{
                        font-size: 11px;
                        margin-left: 5px;
                        color: $color3;
                    }
                }
                .item-remove{
                    border: 0 none;
                    i{
                        font-size: 14px;
                        color: #0182C6;
                        line-height: 14px;
                        display: block;
                        text-align: center;
                    }
                    &:hover{
                        transform: scale(1.04);
                    }
                }
            }
            
        }
    }
    .cart-footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        background: #EFEFEF;
        padding: 30px;
        .cart-alerts {
            padding: 0 15px;
            margin: 10px 0;
            li {
                padding: 5px 0;
                font-weight: $semiBold;
                font-size: 12px;
                color: #132A42;
                letter-spacing: 0;
            }
        }
        .cart-values {
            >div {
                display: block;
                padding: 15px;
                padding-top: 0;
                span, strong{
                    font-weight: $semiBold;
                    line-height: 20px;
                    text-transform: uppercase;
                }
                span {
                    font-size: 16px;
                    color: #143F56;
                    font-weight: 500;
                    font-style: italic;
                    text-transform: initial;
                    line-height: 28px;
                }
                strong {
                    font-size: 16px;
                    color: #7C8183;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 18px;
                }
            }
        }
        .cart-actions {
            .cart-btn-keep-buying{
                background: #0182C6;
                display: block;
                padding: 15px;
                border-radius: 4px;
                max-width: 284px;
                margin: 0 auto;
                margin-bottom: 15px;
                color: #FFFFFF;
                font-size: 16px;
                font-weight: 500;
                // font-style: italic;
                line-height: 28px;
                &:hover{
                    background: darken(#0182C6, 5%)
                }
            }
            .cart-btn-buy{
                display: block;
                background: #90C74A;
                padding: 15px;
                height: 50px;
                text-align: center;
                font-weight: 500;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 20px;
                border-radius: 4px;
                max-width: 284px;
                // font-style: italic;
                margin: 0 auto;
                &:hover{
                    background: darken(#90C74A, 5%)
                }
            }
        }
    }
}