﻿/** SLICK **/

.slick-slider {
    position: relative;
    .slick-track {
        line-height: 1;
    }
    .slick-arrow {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        @include size(33px);
        line-height: 33px;
        text-align: center;
        background: transparent;
        color: #7E99B7;
        font-size: 22px;
        letter-spacing: 0;
        z-index: 1;
        border: 0;
        border-radius: 100%;
        transition: 300ms all;
        &.slick-prev {
            left: -20px;
        }
        &.slick-next {
            right: -20px;
        }
        &:hover {
            transform: scale(1.07);
        }
        img{
            width: 11px;
        }
    }
    .slick-dots {
        text-align: center;
        margin: 20px 0 0;
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 0 3px;
            width: auto;
            button {
                @extend %reset-btn;
                @include size(10px, 10px);
                display: block;
                border-radius: 0;
                width: 20px;
                height: 4px;
                background: #5C7189;
                font-size: 0;
            }
            &.slick-active {
                button {
                    background: #FFA000;
                }
            }
        }
    }
    &.slick-vertical {
        padding: 40px 0;
        text-align: center;
        .slick-slide {
            a {
                margin: auto;
            }
        }
        .slick-arrow {
            margin-top: 0;
            left: 50%;
            transform: translateX(-50%);
            &.slick-prev {
                top: 0;
                i:before {
                    content: '\f0d8';
                }
            }
            &.slick-next {
                bottom: 0;
                top: initial;
                i:before {
                    content: '\f0d7';
                }
            }
        }
    }
}