﻿#footer{
    position: relative;
    z-index: 1070;
    padding-top: 45px;
    // padding-bottom: 30px;
    .title-footer{
        font-size: 18px;
        font-weight: 700;
        font-style: italic;
        color: #0182C6;
        line-height: 21px;
        margin-bottom: 20px;
        @media all and (max-width:991px){
            margin-top: 40px;
        }
        + ul{
            + .title-footer{
                @media all and (min-width:576px){
                    margin-top: 30px;
                }
            }
        }
    }
    .feed-instagram{
        margin: 0 -15px;
        .feed-item{
            padding-bottom: 25px;
            &:hover{
                img{
                    opacity: 0.8;
                }
            }
            img{
                border-radius: 4px;
            }
            @media all and (max-width:767px){
                max-width: 100%;
            }
        }
        .slick-track{
            display: flex;
            align-items: center;
        }
    }
    .about-box{
        background: #16314F;
        .about-text{
            border-bottom: 1px solid #344C67;
            padding: 25px 0 20px;
            p{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                text-align: center;
                line-height: 19px;
            }
        }
    }
    .footer-institucional-payments{
        background: #16314F;
        padding: 30px 0;
        .title-footer{
            font-weight: $semiBold;
            font-size: 16px;
            color: #FFFFFF;
            line-height: 20px;
            text-transform: uppercase;
            margin-bottom: 15px;
            display: block;
        }
    }
    .footer-links-content{
        @media all and (min-width: 576px){
            margin-bottom: 60px;
        }
    }
    ul{
        li{
            a{
                color: #5D5D5F;
                font-size: 14px;
                font-weight: 400;
                font-style: italic;
                line-height: 34px;
                i{
                    font-size: 28px;
                    line-height: 29px;
                    &.fa-facebook-square{
                        color: #3252B1;
                    }
                    &.fa-facebook-square{
                        color: #3252B1;
                    }
                    &.fa-youtube{
                        color: #E13F3F;
                    }
                    &.fa-instagram{
                        color: #E11F53;
                    }
                }
                &:hover{
                    i{
                        opacity: 0.8;
                    }
                }
            }
            &:hover{
                a{
                    color: #054364;
                }
            }
        }
    }
    .links{
        li{
            padding: 5px 0;
            a{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                line-height: 17px;
                text-decoration: none;
                &:hover{
                    color: darken(#7B8EA2, 10%);
                }
            }
        }
    }
    .col-contacts{
        .phone{
            i{
                font-size: 18px;
                color: #FFA000;
                line-height: 20px;
                margin-right: 8px;
            }
            span{
                font-weight: $semiBold;
                font-size: 16px;
                color: #FFA000;
                line-height: 20px;
            }
        }
        .h-atendimento{
            padding: 20px 0 0;
            > span{
                font-weight: $semiBold;
                font-size: 16px;
                color: #FFFFFF;
                line-height: 20px;
                text-transform: uppercase;
                display: block;
                margin-bottom: 10px;
            }
            .address-1, .address-2{
                font-weight: $regular;
                font-size: 13px;
                color: #7B8EA2;
                line-height: 15px;
                text-transform: none;
                display: block;
                margin-bottom: 4px;
            }
            .address-2{
                color: #FFFFFF;
            }
        }
    }

    .social-links{
        li{
            padding: 7px 0;
            display: block;
            a{
                font-weight: $regular;
                font-size: 14px;
                color: #7B8EA2;
                letter-spacing: 0;
                line-height: 15px;
                i{
                    font-size: 14px;
                    color: #FFA000;
                    line-height: 15px;
                    margin-right: 7px;
                }
                &:hover{
                    color: darken(#7B8EA2, 10%);
                }
            }
        }
    }

    .row-payments-security{
        margin-top: 30px;
    }
}

#footer-copyright{
    padding: 15px 0;
    background: #F5F5F5;
    margin-top: 30px;
    .copyright{
        text-align: center;
        p{
            font-weight: $regular;
            font-size: 11px;
            color: #9F9F9F;
            line-height: 13px;
            margin-bottom: 15px;
            font-family: lato;
        }
    }
    #footer-signature{
        margin-left: 40px;
        min-width: 190px;
        width: 190px;
        li{
            display: inline-block;
            vertical-align: middle;
        }
        a{
            img{

            }
        }
    }
}