.admake-fixed{
    #header{
        box-shadow: 0 0 20px 0 rgba(214,214,214,0.5);
        height: 98px;
        @media all and (max-width:1199px){
            height: 85px;
        }
        @media all and (max-width:991px){
            height: auto;
        }
    }
}
#header{
    z-index: 1080;
    @media all and (max-width:991px){
        box-shadow: 0 0 20px 0 rgba(214,214,214,0.5);
    }
}
#header-top-bar{
    background: $color3;
    padding: 5px 0;
    p{
        font-weight: $regular;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 18px;
        margin: 0;
        b{
            font-weight: $semiBold;
            color: $color2;
        }
        a{
            text-decoration: underline;
        }
    }
    .col-top-bar-2{
        p{
            a{
                margin: 0;
            }
        }
        a{
            margin-left: 30px;
        }
    }
    a{
        font-weight: $regular;
        font-size: 12px;
        color: #FFFFFF;
        line-height: 18px;
        &:hover{
            color: $color2;
        }
    }
}

#header-bar{
    padding: 5px 0 0;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #F5F5F5;
    background: url(https://graficaonixx.vteximg.com.br/arquivos/bg-top-header-new.png) no-repeat #FFFFFF;
    background-size: 1690px;
    background-position: center top;
    @media( min-width: 768px ){
        padding: 13px 0;
    }
    @media all and (max-width: 767px){
        padding: 15px 0;
    }
    #header-brand{
        // margin-right: 10px;
        @media( max-width: 767px ){
            margin-left: auto;
            margin-right: auto;
            // img{
            //     max-width: 73px;
            // }
        }
    }
    .open-close-nav-mobile{
        // width: 40px;
        // height: 40px;
        border: 0 none;
        box-shadow: 0 0 0 transparent;
        background: transparent;
        padding: 0;
        text-align: center;
        span{
            font-size: 8px;
            font-weight: $regular;
            line-height: 10px;
            display: block;
            margin: 0;
            color: #003066;
            text-transform: uppercase;
        }
        i{
            display: block;
            font-size: 20px;
            color: #0182C6;
            line-height: 25px;
        }
    }
    .contact-phone{
        i{
            font-size: 15px;
            color: #B7B7B7;
            line-height: 15px;
        }
        span{
            font-weight: $regular;
            font-size: 11px;
            color: #FFFFFF;
            line-height: 15px;
            display: block;
        }
        b{
            font-weight: $semiBold;
            font-size: 16px;
            color: $color2;
            line-height: 20px;
            display: block;
        }
        .contact-dropdown{
            position: absolute;
            left: -65px;
            top: calc(100% + 10px);
            margin-left: auto;
            margin-right: auto;
            min-width: 130px;
            background: #F5F5F5;
            color: #9C9C9C;
            border-radius: 5px;
            padding: 10px;
            font-size: 13px;
            text-align: center;
            display: none;
        }
        &:hover{
            .contact-dropdown{
                display: block;
            }
        }
        &:after{
            content: "";
            position: absolute;
            height: 10px;
            left: 0;
            right: 0;
            top: 100%;
        }
    }
    .help{
        i{
            color: #F58634;
            font-size: 19px;
            line-height: 19px;
        }
        .help-dropdown{
            position: absolute;
            left: -65px;
            top: calc(100% + 10px);
            margin-left: auto;
            margin-right: auto;
            min-width: 130px;
            background: #F5F5F5;
            color: #9C9C9C;
            border-radius: 5px;
            padding: 10px;
            font-size: 13px;
            text-align: center;
            display: none;
        }
        &:hover{
            .help-dropdown{
                display: block;
            }
        }
        &:after{
            content: "";
            position: absolute;
            height: 10px;
            left: 0;
            right: 0;
            top: 100%;
        }
    }
    .link-my-account{
        z-index: 99;
        @media all and (min-width:992px){
            &:hover{
                .admake-dropdown{
                    background: #0182C6;
                    a{
                        span,i{
                            color: #FFFFFF;
                        }
                    }
                    .admake-dropdown-box{
                        display: block;
                    }
                }
            }
        }
        .admake-dropdown{
            position: relative;
            padding: 0 15px;
            padding-top: 12px;
            margin-top: 0;
            padding-bottom: 12px;
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
            transition: 300ms all;
            .admake-dropdown-box{
                background: #0182C6;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                position: absolute;
                text-align: center;
                left: 0;
                right: 0;
                top: 100%;
                display: none;
                border-top: 1px solid #008BD3;
                padding: 15px 0;
                a{
                    color: #FFFFFF;
                    font-size: 14px;
                    line-height: 26px;
                    display: block;
                }
            }
            @media all and (max-width:991px){
                padding: 0;
            }
        }
        i{
            color: #0182C6;
            font-size: 26px;
            line-height: 26px;
            margin-right: 10px;
        }
        img{
            margin-right: 6px;    
        }
        .account-options{
            span{
                font-weight: $regular;
                font-size: 11px;
                color: #FFFFFF;
                line-height: 15px;
            }
            > div > span{
                margin: 0 5px;
            }
        }
        span, a{
            font-weight: $regular;
            font-size: 14px;
            line-height: 16px;
            color: #054364;
            letter-spacing: 0;
            font-style: italic;
        }
        span{
            @media all and (max-width:991px){
                display: none;
            }
        }
        a{
            &:hover{
                color: $color2;
            }
        }
    }
    .link-item-cart{
        @media all and (max-width: 991px){
            margin-right: 15px;
        }
        a{
            border-left: 1px solid rgba(255,255,255,2/10);
            display: block;
            // margin: -18px 0;
            // padding: 25px 0 25px 15px;
            // height: 82px;
            .icon{
                position: relative;
                img, span{
                    display: inline-block;
                    vertical-align: middle;
                }
                img{
                    margin-right: 7px;
                }
                span{
                    color: #FFFFFF;
                    width: 20px;
                    height: 20px;
                    background: #90C74A;
                    line-height: 20px;
                    border-radius: 100%;
                    font-size: 12px;
                    padding: 0;
                    text-align: center;
                    font-weight: 700;
                    position: absolute;
                    top: -15px;
                    right: -15px;
                }
            }
            &:hover{
                opacity: .8;
            }
        }
    }
    #header-search{
        .busca{
            // @media( max-width: 767px ){
            //     margin: 4px -15px 0;
            // }
        }
    }
}


#header-brand {
    // max-width: 135px;
    // @media( min-width: 768px ){
    //     max-width: 227px;
    // }
    h1 {
        margin: 0;
        padding: 0;   
    }
}
.admake-fixed{
    .menu-desk{
        display: block;   
    }
}
.menu-desk{
    cursor: pointer;
    display: none;
    height: 20px;
    padding: 3px 0;
    margin-right: 30px;
    span{
        position: relative;
        width: 20px;
        height: 2px;
        background: #0182C6;
        display: block;
        border-radius: 3px;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        &:nth-child(2){
            top: 10px;
        }
        &:last-child{
            top: 2px;
        }
    }
    &.open-menu {
        span{
            &:first-child{
                opacity: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 6px;
            }
            &:nth-child(2){
                top: 4.3px;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
            &:last-child{
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
            }
        }
    }
}