﻿.sticky-top{
    z-index: 1060;
}
html{
    &.open-pages{
        overflow-x: hidden;
    }
}
.admake-fixed{
    #header-nav{
        &:not(.open){
            -webkit-transform: translateY(-100%);
            -ms-transform: translateY(-100%);
            transform: translateY(-100%);
            z-index: 0;
        }
    }
}
#header-nav {
    background: #fff;
    border: 0 none;
    position: relative;
    z-index: 2;
    padding: 15px 0;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -o-transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out;
    transition: transform .4s ease-in-out,-webkit-transform .4s ease-in-out;
    .header-nav-items{
        @media all and (max-width: 991px){
            padding: 0;
            .header-nav-item{
                padding: 15px;
                border-bottom: 1px solid rgba(255,255,255,0.2);
                i{
                    font-size: 20px;
                }
            }
        }
    }
    @media( max-width: 991px ){
        background: transparent;
        border: 0 none;
        position: fixed;
        top: 0;
        right: 100%;
        bottom: 0;
        left: -100%;
        z-index: 9999;
        transition: 300ms all;
        > .mask{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            background: rgba(0,0,0,7/10);
            z-index: 1;
            &:before{
                @include fontAwesome('\f00d', 'fas');
                width: 24px;
                height: 24px;
                position: absolute;
                top: 10px;
                right: 10px;
                border-radius: 100%;
                background: #fff;
                color: #013365;
                font-size: 12px;
                line-height: 24px;
                text-align: center;
            }
        }
        &.mobile-active{
            right: 0;
            left: 0;
        }
    }

    .header-nav-item-all{
        .header-nav-sub-box{
            .header-nav-sub-item:first-child{
                .all-departments-sub{
                    @media( min-width: 768px ){
                    }
                }
            }   
        }
    }

    &:hover{
        & + .mask-full{
            opacity: 1;
            visibility: visible;
            height: auto;
            bottom: 0;
        }
    }
    & + .mask-full{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1;
        background: rgba(0,0,0,7/10);
        opacity: 0;
        visibility: hidden;
        transition: 300ms all;
        height: 0;
        @media( max-width: 767px ){
            display: none!important;
        }
    }
    > .container{
        position: static;
        z-index: 2;
        @media( max-width: 991px ){
            position: absolute;
            top: 0;
            left: 0;
            max-width: 260px;
            bottom: 0;
            z-index: 2;
            margin: 0;
            padding: 0;
            overflow: scroll;
            background: #0182C6;
        }
    }
    .header-nav-items{
        margin: 0;
        @media( min-width: 768px ){
            // margin: 0 0 0 -15px;
        }
        &.lvl2{
            margin: 0;
            padding-top: 10px;
            padding-bottom: 10px;
            @media( min-width: 768px ){
                padding-top: 30px;
                padding-bottom: 30px;
                min-height: 316px;
                background: #f2f6f7;
            }
        }
    }
    .col-links{
        padding: 0;
    }
    .header-nav-brands{
        background: #FFFFFF;
        height: 100%;
        margin: 0 -5px;
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 315px;
        @media( max-width: 767px ){
            display: none!important;
        }
        li{
            width: 49%;
            display: inline-block;
            vertical-align: top;
            padding: 5px;
            a{
                border: 1px solid #E8EDEF;
                display: block;
                max-width: 130px;
                height: 50px;
                position: relative;
                margin: auto;
                img{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transition: 300ms all;
                    transform: translate(-50%, -50%);
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
                &:hover{
                    img{
                        -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
    .header-nav-banner{
        display: none;
        @media( min-width: 768px ){
            position: absolute;
            right: 0;
            bottom: 0;
            display: block;
        }
    }
    .header-nav-item{
        -ms-flex-positive: 1!important;
        flex-grow: 1!important;
        position: static;
        &:hover{
            @media all and (max-width: 991px){
                > a{
                    color: #FFFFFF !important;
                }
            }
        }
        &.pages{
            .header-nav-sub-box{
                background: rgba(245, 245, 245, 0.95);
                top: -15px;
                z-index: 99;
                @media all and (max-width: 991px){
                    background: rgba(245, 245, 245, 1);
                    .close-submenu-mobile{
                        top: initial;
                    }
                }
                .container{
                    position: relative;
                }
                .btn-close-sub-pages{
                    border: none;
                    padding: 0;
                    color: #807D7E;
                    font-size: 15px;
                    line-height: 15px;
                    position: absolute;
                    background: transparent;
                    right: 0;
                    top: 0;
                    @media all and (max-width: 991px){
                        display: none;
                    }
                }
                ul{
                    column-count: initial;
                    margin-bottom: 45px;
                }
            }
            > a{
                i{
                    &.fa-angle-right{
                        display: none;
                    }
                }
            }
        }
        a{
            color: #373435;
            font-weight: 500;
            font-style: italic;
            font-size: 14px;
            line-height: 17px;
            position: relative;
            @media all and (max-width: 991px){
                color: #FFFFFF;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            &:after{
                content: "";
                height: 15px;
                position: absolute;
                left: 0;
                right: 0;
                top: 100%;
                @media all and (max-width: 991px){
                    display: none;
                }
            }
            i{
                color: #FFFFFF;
                &.fa-bars{
                    color: #D8D8D8;
                }
            }
        }
        &:last-child{
            border-right: 0 none;
        }
        &.header-nav-item-all{
            .container{
                padding: 0;
            }
            .header-nav-sub-box{
                background: transparent!important;
                .header-nav-sub-items{
                    background: #F2F6F7 !important;
                }
            }
            .container{
                position: relative;
            }
            .header-nav-sub-link{
                position: relative;
                &:after{
                    @include fontAwesome('\f105', 'fas');
                    position: absolute;
                    top: 50%;
                    right: 10px;
                    width: 30px;
                    line-height: 20px;
                    font-size: 14px;
                    margin-top: -10px;
                    text-align: center;
                    color: #013365;
                }
            }
        }

        &:first-child .header-nav-link,
        .link-offer{
            &:before{ display: none; }
        }

        &.monte-seu-pc{
            .header-nav-link{
                background: #FFA000;
                color: #fff;
            }
        }

        .header-nav-link{
            padding: 15px;
            display: block;
            position: relative;
            background: transparent;
            text-align: left;
            border-bottom: 1px solid #12416F;
            @media( min-width: 768px ){
                border-bottom: 0 none;
                padding: 11px 5px;
                text-align: center;
            }
            @media( min-width: 992px ){
                text-align: left;
                padding: 17px 8px;
            }
            @media( min-width: 1200px ){
                padding: 17px 15px;
            }
            &:after{
                @media( max-width: 767px ){
                    @include fontAwesome('\f105', 'fas');
                    font-size: 13px;
                    line-height: 20px;
                    color: #fff;
                    width: 30px;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    margin-top: -10px;
                }
                @media( min-width: 768px ){
                    content: "";
                    border: 6px solid transparent;
                    border-bottom-color: transparent;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    margin-left: -6px;
                    transition: 300ms all;
                }
            }
            color: #16314F;
            font-weight: $semiBold;
            text-transform: uppercase;
            font-size: 12px;
            letter-spacing: 0;
            text-align: center;
            line-height: 15px;
        }
        &.active{
            .header-nav-sub-box{
                @media( max-width: 767px ){
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                }
            }
        }
        &.active{
            .header-nav-sub-box{
                left: -100%;
                right: -100%;
            }
        }
        &:not(.pages):hover,
        &.active{
            > a{
                color: #0182C6;
            }
            .header-nav-link{
                background: #0E2238;
                color: #FFA000;
            }
            @media( min-width: 992px ){
                .header-nav-sub-box{
                    opacity: 1;
                    visibility: visible;
                    height: auto;
                    // height: 490px;
                }
            }
        }
    }
    .link-lvl2,
    .header-nav-sub-link{
        font-weight: $semiBold;
        font-size: 12px;
        color: #768C9A;
        letter-spacing: 0;
        line-height: 22px;
        padding: 10px 20px;
        display: block;
        @media( min-width: 768px ){
            font-size: 14px;
            line-height: 22px;
            padding: 10px;
        }
        &:before{
            @include fontAwesome('\f111', 'fas');
            color: #013365;
            font-size: 9px;
            line-height: 22px;
            display: inline-block;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
    .link-lvl2{
        &:hover{
            background: #013365;
            color: #fff;
            &:before{
                color: #fff;
            }
        }
    }
    .header-nav-sub-box{
        @media all and (min-width:992px){
            opacity: 0;
            visibility: hidden;
            height: 0;
        }
        @media all and (max-width:991px){
            display: none;
        }
        transition: 300ms all;
        overflow: hidden;
        background: #F2F6F7; /* Old browsers */
        padding: 25px 15px;
        border-radius: 0 0 4px 4px;
        @media all and (max-width:991px){
            position: fixed;
            top: 0;
            bottom: 0;
            left: -100%;
            z-index: 99;
            width: 260px;
            overflow: auto;
        }
        ul{
            @media all and (min-width: 992px){
                column-count: 2;
            }
            li{
                a{
                    color: #807D7E;
                    font-size: 15px;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 32px;
                    &:hover{
                        color: #373435;
                    }
                }
            }
        }
        h3{
            margin: 0;
            font-size: 18px;
            color: #0182C6;
            letter-spacing: 0;
            text-transform: none;
            font-style: italic;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 10px;
        }
        .view-more-categories{
            color: #055D8C;
            font-size: 15px;
            font-weight: $bold;
            font-style: italic;
            line-height: 27px;
            padding: 0 15px;
            margin-bottom: 10px;
        }
        @media( min-width: 992px ){
            position: absolute;
            top: calc(100% + 15px);
            // left: 40px;
            left: 0;
            right: 0;
            background: rgba(255,255,255,.95);
            // background: #F2F6F7; /* Old browsers */
            // background: -moz-linear-gradient(left, #f2f6f7 0%, #f2f6f7 50%, #fff 50%, #fff 50%, #fff 100%); /* FF3.6-15 */
            // background: -webkit-linear-gradient(left, #f2f6f7 0%,#f2f6f7 50%,#fff 50%,#fff 50%,#fff 100%); /* Chrome10-25,Safari5.1-6 */
            // background: linear-gradient(to right, #f2f6f7 0%,#f2f6f7 50%,#fff 50%,#fff 50%,#fff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f7', endColorstr='#fff',GradientType=1 ); /* IE6-9 */
        }
        > img{
            display: none!important;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 2;
            @media( max-width: 767px ){
                display: none!important;
            }
        }
        .row{
            position: relative;
            z-index: 2;
        }
        .row,
        .container,
        div[class*="col"]{ 
            @media( max-width: 767px ){
                padding: 0!important;
                margin: 0!important;
            }
        }
        .aux-banner{
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            img{
                max-height: 100%;
                float: right;
            }
            @media all and (max-width:991px){
                display: none;
            }
        }
    }
    .header-nav-sub-items{
        padding: 30px 0;
        max-width: 390px;
        position: static;
        z-index: 2;
        margin: 0;
        .header-nav-sub-item{
            position: static;
            &:hover{
                .header-nav-sub-link{
                    background: #013365;
                    color: #fff;
                    &:before,
                    &:after{
                        color: #fff;
                    }
                }
                .all-departments-sub{
                    opacity: 1;
                    visibility: visible;
                    width: auto;
                }
            }
            &.purificadores-para-casa,
            &.purificadores-para-empresa{
                .sub-items{
                    min-height: 406px;
                    ul{
                        height: 345px;
                        > li{
                            display: inline-block;
                            vertical-align: middle;
                            width: 49%;
                        }
                    }
                }
            }
        }
        .all-departments-sub{
            position: absolute;
            top: 0;
            right: 0;
            left: 390px;
            visibility: hidden;
            opacity: 0;
            width: 0;
            overflow: hidden;
            transition: 300ms all;
            z-index: 1;
            h3{
                font-weight: $semiBold;
                font-size: 16px;
                color: #013365;
                line-height: 20px;
                margin: 0 0 10px;
            }
            .sub-items{
                background: #E8ECED;
                padding: 20px;
                width: 100%;
                height: 293px;
                position: relative;
                // > img{
                //     display: none!important;
                //     @media (min-width: 992px) {
                //         display: block!important;
                //         position: absolute;
                //         bottom: 0;
                //         right: 0;
                //         z-index: 1;
                //     }
                // }
                .sub-banner{
                    margin-right: -20px;
                    img{
                        height: auto;
                        max-height: 242px;
                        width: auto;
                    }
                }
                ul{
                    padding: 10px 0 0;
                    height: 223px;
                    overflow: scroll;
                    position: relative;
                    z-index: 2;
                    &::-webkit-scrollbar {
                        width: 0;
                    }
                    &::-webkit-scrollbar-track {
                        background: transparent;
                    }
                    &::-webkit-scrollbar-thumb {
                        background: transparent; 
                    }
                    &::-webkit-scrollbar-thumb:hover {
                        background: transparent; 
                    }
                    li{
                        a{
                            font-weight: $medium;
                            font-size: 14px;
                            color: #5C6D78;
                            line-height: 22px;
                            padding: 5px;
                            display: table;
                            &:before{
                                @include fontAwesome('\f111', 'fas');
                                color: #013365;
                                font-size: 9px;
                                line-height: 22px;
                                display: inline-block;
                                margin-right: 10px;
                                vertical-align: middle;
                            }
                            &:hover{
                                background: #013365;
                                color: #fff;
                                &:before{
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
            }
            .sub-brands{
                background: #fff;
                padding: 20px;
                width: 100%;
                ul{
                    margin: -4px;
                    li{
                        padding: 4px;
                        display: inline-block;
                        vertical-align: middle;
                        a{
                            border: 1px solid #E8EDEF;
                            border-radius: 0;
                            min-width: 93px;
                            height: 43px;
                            display: block;
                            position: relative;
                            img{
                                transform: translate(-50%, -50%);
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                max-width: 90%;
                            }
                            &:hover{
                                border-color: darken(#E8EDEF, 10%);
                            }
                        }
                    }
                }
            }
            .sub-banner{
                // display: none!important;
            }
        }
    }

    .contact-nav-mobile{
        margin-top: 20px;
        padding: 15px;
        > h5{
            font-weight: $semiBold;
            font-size: 13px;
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 30px;
        }
        ul{
            li{
                padding: 3px 0;
                i{
                    min-width: 20px;
                    text-align: center;
                    font-size: 12px;
                    color: #2EC4B6;
                }
                span, a{
                    font-weight: $medium;
                    font-size: 9px;
                    color: #FFFFFF;
                    line-height: 14px;
                }
                &.h-atendimento{
                    border-top: 1px solid #11406E;
                    border-bottom: 1px solid #11406E;
                    padding: 10px 0 17px;
                    margin: 10px 0;
                    span{
                        font-weight: $semiBold;
                        font-size: 13px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        line-height: 30px;
                        display: block;
                        & + span{
                            font-weight: $regular;
                            font-size: 9px;
                            color: #FFFFFF;
                            line-height: 12px;
                        }
                    }
                }
            }
            &.social-links{
                margin: 0 -4px;
                li{
                    display: inline-block;
                    vertical-align: middle;
                    padding: 4px;
                    > a{
                        display: block;
                        width: 30px;
                        height: 30px;
                        border-radius: 100%;
                        background: #B4BCBF;
                        i{
                            display: block;
                            font-size: 13px;
                            color: #3B4850;
                            line-height: 32px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
.close-submenu-mobile{
    color: #807D7E;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 99;
    display: none;
    @media all and (max-width: 991px){
        display: block;
    }
}