﻿.box-newsletter {
    text-align: center;
    padding: 30px 0;
    background: bg('back-newsletter.png');
    // background: #00344F;
    background-size: cover;
    border-radius: 4px;
    position: relative;
    .newsletter {
        position: relative;
        z-index: 1;
        .header {
            img{
                width: 57px;
                margin-bottom: 10px;
            }
            i,
            h3,
            p {
                color: #FFFFFF;
                letter-spacing: 0;
            }
            i,
            h3 {
                font-size: 40px;
            }
            i {
                margin-bottom: 15px;
            }
            h3 {
                @extend %title-default;
                font-size: 22px;
                font-weight: 500;
                font-style: italic;
                text-transform: initial;
                line-height: 28px;
                margin-top: 0;
            }
            p {
                font-size: 18px;
                font-style: italic;
                font-weight: $regular;
                font-size: 16px;
                margin-bottom: 15px;
            }
        }
        .form {
            input {
                border-radius: 4px;
                color: #C2C2C2;
                font-style: italic;
                font-weight: 500;
                line-height: 28px;
                font-size: 14px;
                &.name {
                    width: 100%;
                    margin-right: 10px;
                }
                &.email {
                    width: 100%;
                }
            }
            button {
                @include size(173px, 50px);
                vertical-align: top;
                background: transparent;
                border: 1px solid #EDEAEA;
                margin-top: 15px;
                font-size: 16px;
                text-transform: initial;
                font-style: italic;
                font-weight: 500;
                line-height: 28px;
                &:hover{
                    background: #ffffff;
                    color: #00344F;
                }
            }
            .alert {
                display: none;
                padding: 0;
                margin-top: 10px;
                color: #fff;
                position: absolute;
                left: 0;
                right: 0;
            }
        }
    }
    // &::after {
        // content: '';
        // @include size(100%, 117px);
        // z-index: 0;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // background-image: linear-gradient(-180deg, rgba(17, 17, 17, 0.00) 0%, #111111 98%);
    // }
    @include media-queries('phone-wide', max) {
        padding: 30px 0 20px;
        margin-top: 40px;
        .newsletter {
            .header {
                h3 {
                    display: none;
                }
                p {
                    font-size: 17px;
                    max-width: 250px;
                    margin: 0 auto 15px;
                    br {
                        display: none;
                    }
                }
            }
            .form {
                position: relative;
                input {
                    &.name,
                    &.email {
                        width: 100%;
                    }
                    &.name {
                        margin: 0 0 5px;
                    }
                }
                button.btn-mobile {
                    @include size(45px);
                    line-height: 45px;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    color: $colorPrimary;
                }
            }
        }
        &::after {
            display: none;
        }
    }
}
body:not(#home-page) {
    @include media-queries('desktop') {
        .box-newsletter:not(.popup) {
            padding: 50px 0;
            background-position: top;
            .newsletter {
                display: -ms-flexbox !important;
                display: flex !important;
                -ms-flex-align: center !important;
                align-items: center !important;
                -ms-flex-pack: justify !important;
                justify-content: space-between !important;
                .header {
                    h3 {
                        display: none;
                    }
                    p,
                    i {
                        display: inline-block;
                        margin-bottom: 0;
                        vertical-align: middle;
                    }
                    p {
                        text-align: left;
                        padding-right: 20px;
                    }
                    i {
                        margin-right: 15px;
                    }
                }
                .form {
                    .name {
                        width: 280px;
                    }
                }
            }
        }
    }
}
.newsletter-box{
    background: #3C6895;
    .title{
        img{
            margin: -14px 38px 0 0;
        }
        p{
            font-weight: $semiBold;
            font-size: 22px;
            color: #FFA000;
            line-height: 30px;
            text-transform: uppercase;
            min-width: 336px;
            margin-right: 60px;
            span{
                display: block;
                font-weight: $regular;
                font-size: 13px;
                color: #FFFFFF;
                line-height: 15px;
            }
        }
    }
    .form {
        position: relative;
        margin: auto;
        @media( max-width: 767px ){
            width: 100%;
        }
        .input-box{
            position: relative;
        }
        input{
            background: #395270;
            box-shadow: 0 0 0 transparent;
            border-radius: 0;
            height: 52px;
            width: 100%;
            padding: 0 15px;
            font-weight: $regular;
            font-size: 12px;
            border: 1px solid #3C6895;
            color: #fff;
            @media( min-width: 390px ){
                width: 207px;
            }
            @media( min-width: 992px ){
                width: 207px;
            }
            @media( min-width: 1200px ){
                width: 250px;
            }
        }
        .btn{
            // position: absolute;
            // top: 1px;
            // right: 1px;
            background: #FFA000;
            border-radius: 0;
            width: 50px;
            height: 50px;
            display: block;
            line-height: 50px;
            font-weight: $semiBold;
            font-size: 17px;
            color: #FFFFFF;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .alert-message{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 320px;
        background: #2CC1CA;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-weight: $bold;
        padding: 15px;
        box-shadow: 0 0 10px 4px rgb(42, 192, 202);
        z-index: 999999999;
        animation: shadowAlert 500ms linear 0s infinite alternate;
    }
}

@keyframes shadowAlert {
    from { 
        box-shadow: 0 0 5px 0 rgb(42, 192, 202);
    }
    to {
        box-shadow: 0 0 10px 4px rgb(42, 192, 202);
    }
}
#modal-newsletter { 
    @extend %fixed-full;
    z-index: 1090;
    .mask {
        @include mask(rgba(0, 0, 0, 5/10), 0);
    }
    .box-newsletter {
        @include center-vertically-absolute($vertical: true, $horizontal: true);
        width: 300px;
        padding-left: 20px;
        padding-right: 20px;
        margin: 0;
        padding-bottom: 50px;
        .btn-close-modal {
            position: absolute;
            top: 0;
            right: 0;
            i {
                // @include size(30px);
                // @include btn-close(20px,#fff);
                display: block;
            }
        }
    }
    @include media-queries('phone-wide') {
        .box-newsletter {
            position: fixed;
            width: 655px;
            padding-left: 115px;
            padding-right: 115px;
            .btn-close-modal {
                i{
                    width: 50px;
                    height: 50px;
                    color: #ffffff;
                    line-height: 50px;
                }
            }
            .form {
                input {
                    &.name {
                        width: 100%;
                        margin: 0 0 15px;
                    }
                    &.email {
                        width: 100%;
                    }
                } 
            }
        }
    }
}