#header-search{
    @media( max-width: 767px ){
        width: 100%;
        margin-top: 10px;
    }
    @media( max-width: 991px ){
        margin-top: 15px;
    }
}
.search-box {
    .busca {
        margin: 0;
        padding: 0;
        position: relative;
        width: 100%;
        legend,
        label,
        select {
            display: none;
        }
        .fulltext-search-box {
            width: calc(100% - 67px);
            height: 54px;
            padding: 0 10px;
            background: #F5F5F5;
            font-weight: $regular;
            font-size: 14px;
            font-style: italic;
            color: #9C9C9C;
            border-radius: 4px;
            border: 0 none;
            letter-spacing: 0;
        }
        .btn-buscar{
            position: absolute;
            top: 0;
            right: 0;
            background: bg('icon-search.png');
            background-size: 19px 20px;
            @include size(62px, 54px);
            @extend %reset-btn;
            display: block;
            line-height: 43px;
            font-size: 0;
            color: transparent;
            padding: 0;
            border-left: 1px solid rgba(255,255,255,2/10);
            background-color: #0182C6;
            border-radius: 4px;
            &:hover{
                opacity: .8;
            }
        }
    }
}