﻿#smart-filter {
    margin-bottom: 25px;
    
    .filter-body {
        background: $colorPrimary;
        border-radius: 3px 3px 0 0;
        padding: 18px 20px;
        h2 {
            @include title-default(17px, #ccc, 17px);
            text-align: center;
        }
        .group {
            >label {
                display: none;
                line-height: 20px;
                font-size: 15px;
                color: #CCCCCC;
                letter-spacing: 0;
                margin-bottom: 5px;
            }
            .input-group {
                padding: 0 10px;
                border: 0;
                span {
                    @include prefixed(transform, skew(15deg));
                    @include size(19px);
                    text-align: center;
                    line-height: 19px;
                    padding: 0;
                    background: $colorSecondary;
                    font-size: 11px;
                    color: #FFFFFF;
                    border: 0;
                    margin-bottom: 0;
                    border-radius: 100%;
                }
                select {
                    border: 0;
                    flex: 1 1 auto;
                    height: 43px;
                    &:disabled {
                        background-color: #ccc;
                        cursor: not-allowed;
                    }
                }
                &.disabled {
                    background-color: #ccc;
                }
            }
            &:not(.last) {
                margin-bottom: 6px;
            }
            @include media-queries('desktop') {
                >label {
                    display: block;
                }
                &:not(.last) {
                    margin-bottom: 16px;
                }
            }
        }
    }
    .filter-footer {
        #filter-search {
            @include size(100%, 50px);
            position: relative;
            border-radius: 0 0 3px 3px;
            text-align: center;
            line-height: 50px;
            background: $colorSecondary;
            font-weight: $bold;
            font-size: 16px;
            color: #FFFFFF;
            i {
                @include size(50px);
                line-height: 50px;
                position: absolute;
                top: 0;
                right: 0;
                font-size: 16px;
            }
            &:hover {
                background: darken($colorSecondary, 5%);
            }
        }
    }
    @media (min-width: 768px) and (max-width: 991px) {
        .filter-body {
            h2 {
                margin-bottom: 10px;
                font-size: 14px;
                line-height: 14px;
            }
            .group {
                .input-group {
                    &,
                    select {
                        height: 36px;
                        line-height: 36px;
                    }
                }
            }
        }
        .filter-footer {
            #filter-search {
                &,
                i {
                    height: 35px;
                    line-height: 35px;
                }
            }
        }
    }
    @include media-queries('tablet'){
        margin-bottom: 0;
    }
    @include media-queries('desktop') {
        .filter-body {
            padding: 26px 20px;
            h2 {
                margin-bottom: 27px;
            }
            .group {
                &:not(.last) {
                    margin-bottom: 15px;
                }
            }
        }
    }
}